

//Breadcrumb Left, Title Left
+title-breadcrumb('1', 'title-breadcrumb-option-demo', 'viewdemo', '#title-breadcrumb-option-demo')

//Breadcrumb Right, Title Left
+title-breadcrumb('2', 'title-breadcrumb-option-demo', 'viewdemo', '#title-breadcrumb-option-demo')

//Breadcrumb Left, Title Right
+title-breadcrumb('3', 'title-breadcrumb-option-demo', 'viewdemo', '#title-breadcrumb-option-demo')

//Breadcrumb Right, Title Right
+title-breadcrumb('4', 'title-breadcrumb-option-demo', 'viewdemo', '#title-breadcrumb-option-demo')

//Title with label
+title-breadcrumb('5', 'title-breadcrumb-option-demo', 'viewdemo', '#title-breadcrumb-option-demo', 'label-warning', 'new')

//Title & SubTitle
+title-breadcrumb('6', 'title-breadcrumb-option-demo', 'viewdemo', '#title-breadcrumb-option-demo', '', '', 'This is SubTitle')

//Singleline Breadcrumb & Title (Title Left, Breadcrumb Right, Align Left)
+title-breadcrumb('7', 'title-breadcrumb-option-demo', 'viewdemo', '#title-breadcrumb-option-demo')

//Singleline Breadcrumb & Title (Breadcrumb Left, Title Right, Align Left)
+title-breadcrumb('8', 'title-breadcrumb-option-demo', 'viewdemo', '#title-breadcrumb-option-demo')

//Singleline Breadcrumb & Title (Breadcrumb Left, Title Right, Align Right)
+title-breadcrumb('9', 'title-breadcrumb-option-demo', 'viewdemo', '#title-breadcrumb-option-demo')

//Singleline Breadcrumb & Title (Breadcrumb Right, Title Right, Align Right)
+title-breadcrumb('10', 'title-breadcrumb-option-demo', 'viewdemo', '#title-breadcrumb-option-demo')