//- Title & Breadcrumb


div.col-lg-12

  div(class="alert alert-success" role="alert")
    h4 Live demo
    p
      |Let hover on the option you like and click &quot;
      strong.text-danger
        i.fa.fa-eye
        |View Demo
      |&quot; button to see it works!

  include con-title-breadcrumb-module