//- UI Advanced - Dropdown Select - Bootstrap Select

include ../../common/variables
include ../mixins


div.panel.panel-orange
  div.panel-heading
    |Bootstrap Select
  div.panel-body

    h4 Default
    div.ptop10.pbottom10
      select.selectpicker
        option Mustard
        option Ketchup
        option Relish

    h4 Groups
    div.ptop10.pbottom10
      select.selectpicker
        optgroup(label="Picnic")
          option Mustard
          option Ketchup
          option Relish
        optgroup(label="Camping")
          option Tent
          option Flashlight
          option Toilet Paper

    h4 Multiple Selects
    div.ptop10.pbottom10
      select.selectpicker(multiple)
        option Mustard
        option Ketchup
        option Relish

    h4 Limit the selection number
    div.ptop10.pbottom10
      select.selectpicker.mright5.mbottom5(multiple data-max-options="2")
        option Mustard
        option Ketchup
        option Relish
      select.selectpicker.mbottom5(multiple data-max-options="2")
        optgroup(label="Condiments" data-max-options="2")
          option Mustard
          option Ketchup
          option Relish
        optgroup(label="Breads" data-max-options="2")
          option Plain
          option Steamed
          option Toasted

    h4 Select Styles
    div.ptop10.pbottom10
      each val in ['primary','success','info','warning','danger','red','orange','yellow','green','black','blue','violet','pink','grey']
        select(data-style="btn-#{val}").selectpicker.mright5.mbottom5
          option Mustard
          option Ketchup
          option Relish
      each val in ['primary','success','info','warning','danger','red','orange','yellow','green','black','blue','violet','pink','grey']
        select(data-style="btn-#{val} btn-outlined").selectpicker.mright5.mbottom5
          option Mustard
          option Ketchup
          option Relish

    h4 Live Search
    div.ptop10.pbottom10
      select.selectpicker(data-live-search="true")
        option Hot Dog, Fries and a Soda
        option Burger, Shake and a Smile
        option Sugar, Spice and all things nice

    h4 Title
    div.ptop10.pbottom10
      select.selectpicker
        option(title="No.1") Mustard
        option(title="No.2") Ketchup
        option(title="No.3") Relish

    h4 Title with Multiple Selects
    div.ptop10.pbottom10
      select.selectpicker(multiple title="Choose one of the following...")
        option Mustard
        option(title="No.2") Ketchup
        option Relish

    h4 Data Select Text Format
    div.ptop10.pbottom10
      select.selectpicker.mright5.mbottom5(multiple data-selected-text-format="values")
        option Mustard
        option Ketchup
        option Relish
      select.selectpicker.mright5.mbottom5(multiple data-selected-text-format="count")
        option Mustard
        option Ketchup
        option Relish
      select.selectpicker.mright5.mbottom5(multiple data-selected-text-format="count>2")
        option Mustard
        option Ketchup
        option Relish

    h4 Disabled
    div.ptop10.pbottom10
      select.selectpicker.mright5.mbottom5(disabled)
        option Mustard
        option Ketchup
        option Relish
      select.selectpicker.mright5.mbottom5
        option Mustard
        option(disabled) Ketchup
        option Relish
      select.selectpicker.mright5.mbottom5
        optgroup(label="Picnic" disabled)
          option Mustard
          option Ketchup
          option Relish
        optgroup(label="Camping")
          option Tent
          option Flashlight
          option Toilet Paper

    h4 Custom Size
    div.ptop10.pbottom10
      div.mright5.mbottom5
        select.selectpicker.mright5(data-width="auto")
          option Mustard
          option Ketchup
          option Relish
        |data-width="auto"
      div.mright5.mbottom5
        select.selectpicker.mright5(data-width="150px")
          option Mustard
          option Ketchup
          option Relish
        |data-width="100px"
      div.mright5.mbottom5
        select.selectpicker.mright5(data-width="75%")
          option Mustard
          option Ketchup
          option Relish
        |data-width="75%"

    h4 Data Size
    div.ptop10.pbottom10
      div.mright5.mbottom5
        select.selectpicker.mright5(data-size="auto")
          option Mustard
          option Ketchup
          option Relish
          option Mayonnaise
          option Barbecue Sauce
          option Salad Dressing
          option Tabasco
          option Salsa
          option Mustard
          option Ketchup
          option Relish
          option Mayonnaise
          option Barbecue Sauce
          option Salad Dressing
          option Tabasco
          option Salsa
          option Mustard
          option Ketchup
          option Relish
          option Mayonnaise
          option Barbecue Sauce
          option Salad Dressing
          option Tabasco
          option Salsa
        |data-size="auto"
      div.mright5.mbottom5
        select.selectpicker.mright5(data-size="5")
          option Mustard
          option Ketchup
          option Relish
          option Mayonnaise
          option Barbecue Sauce
          option Salad Dressing
          option Tabasco
          option Salsa
          option Mustard
          option Ketchup
          option Relish
          option Mayonnaise
          option Barbecue Sauce
          option Salad Dressing
          option Tabasco
          option Salsa
          option Mustard
          option Ketchup
          option Relish
          option Mayonnaise
          option Barbecue Sauce
          option Salad Dressing
          option Tabasco
          option Salsa
        |data-size="5"

    h4 Data Divider
    div.ptop10.pbottom10
      select.selectpicker
        option Mustard
        option Ketchup
        option Relish
        option(data-divider="true")
        option Mayonnaise
        option Barbecue Sauce
        option Salad Dressing

    h4 Show Subtext
    div.ptop10.pbottom10
      select.selectpicker(data-show-subtext="true")
        option(data-subtext="sub1") Mustard
        option(data-subtext="sub2") Ketchup
        option(data-subtext="sub3") Relish

    h4 Data Icons
    div.ptop10.pbottom10
      select.selectpicker
        option(data-icon="glyphicon-glass") Mustard
        option(data-icon="fa fa-bus") Bus
        option(data-icon="ti-email") Email
        option(data-icon="icon-camera") Camera

    h4 HTML Content
    div.ptop10.pbottom10
      select.selectpicker
        option(data-content="Relish <span class='label label-success'>Relish</span>") Relish
        option(data-content="<span class='label label-danger'>Mustard</span>") Mustard

    h4 Dropdown header
    div.ptop10.pbottom10
      select.selectpicker(data-header="Select a condiment")
        option Mustard
        option Ketchup
        option Relish
