//- UI Advanced - Dropdown Select - Select2 Dropdowns

include ../../common/variables
include ../mixins


div.panel.panel-warning
  div.panel-heading
    |Select2 Dropdowns
  div.panel-body

    h4 The Basics
    div.ptop10.pbottom10
      select#e1(style="width:250px;")
        include ./dropdown-select-select2-dropdowns-demo-data

    h4 Multi-Value Select Boxes
    div.ptop10.pbottom10
      select#e9(multiple style="width:250px;")
        include ./dropdown-select-select2-dropdowns-demo-data

    h4 Placeholders
    div.ptop10.pbottom10
      select#e2.mright5.mbottom5(style="width:250px;")
        option
        include ./dropdown-select-select2-dropdowns-demo-data
      select#e2_2.mright5.mbottom5(multiple style="width:250px;")
        include ./dropdown-select-select2-dropdowns-demo-data

    h4 Minimum Input
    div.ptop10.pbottom10
      select#e3(style="width:250px;")
        include ./dropdown-select-select2-dropdowns-demo-data

    h4 Templating
    div.ptop10.pbottom10
      select#e4(style="width:250px;")
        include ./dropdown-select-select2-dropdowns-demo-data

    h4 Loading Data
    div.ptop10.pbottom10
      input#e5(type="hidden" style="width:250px;")

    h4 Maximum Selection Size
    div.ptop10.pbottom10
      select#e19(multiple style="width:250px;")
        include ./dropdown-select-select2-dropdowns-demo-data

    h4 Loading Array Data
    div.ptop10.pbottom10
      p!= 'Example below inlines the <code>data</code> by specifying an array in the data element. Items in such an array must have <code>id</code> and <code>text</code> keys.'
      div.mbottom10
        input#e10(type="hidden" style="width:250px;")
      p!= 'If your data does not have a <code>text</code> key, an alternative key can be specified as a string:'
      div.mbottom10
        input#e10_2(type="hidden" style="width:250px;")
      p!= 'or as a function:'
      div.mbottom10
        input#e10_3(type="hidden" style="width:250px;")
      p!= '<code>data</code> can also itself be a function that returns a results object:'
      div.mbottom10
        input#e10_4(type="hidden" style="width:250px;")

    h4 Loading Array Data
    div.ptop10.pbottom10
      input#e6.bigdrop(type="hidden" style="width:100%;")

    h4 Infinite Scroll with Remote Data
    div.ptop10.pbottom10
      input#e7.bigdrop(type="hidden" style="width:100%;")

    h4 Programmatic Access
    div.ptop10.pbottom10
      div
        +buttons('btn-primary btn-xs mright5 mbottom5', 'Alert selected value')(id="e8_get")
        +buttons('btn-success btn-xs mright5 mbottom5', 'Set to California')(id="e8_set")
        +buttons('btn-success btn-xs mright5 mbottom5', 'Clear')(id="e8_cl")
        +buttons('btn-info btn-xs mright5 mbottom5', 'Alert selected using data')(id="e8_get2")
        +buttons('btn-warning btn-xs mright5 mbottom5', 'Set to California using data')(id="e8_set2")
        +buttons('btn-danger btn-xs mright5 mbottom5', 'Open')(id="e8_open")
        +buttons('btn-danger btn-xs mright5 mbottom5', 'Close')(id="e8_close")
      div.mbottom20
        select#e8(style="width:250px;")
          include ./dropdown-select-select2-dropdowns-demo-data
      div
        +buttons('btn-primary btn-xs mright5 mbottom5', 'Alert selected value')(id="e8_2_get")
        +buttons('btn-success btn-xs mright5 mbottom5', 'Set to California and Massachusetts')(id="e8_2_set")
        +buttons('btn-info btn-xs mright5 mbottom5', 'Alert selected value using data')(id="e8_2_get2")
        +buttons('btn-warning btn-xs mright5 mbottom5', 'Set to California and Massachusetts using data')(id="e8_2_set2")
        +buttons('btn-warning btn-xs mright5 mbottom5', 'Clear')(id="e8_2_cl")
        +buttons('btn-danger btn-xs mright5 mbottom5', 'Open')(id="e8_2_open")
        +buttons('btn-danger btn-xs mright5 mbottom5', 'Close')(id="e8_2_close")
      div.mbottom20
        select#e8_2(multiple style="width:250px;")
          option
          include ./dropdown-select-select2-dropdowns-demo-data

    h4 Events
    div.ptop10.pbottom10
      input#e11.mright5.mbottom5(type="hidden" style="width:250px;")
      input#e11_2.mright5.mbottom5(type="hidden" style="width:250px;")
      div.ptop10.pbottom15
        h5 Event Log
        pre.pre-scrollable#events_11

    h4 Tagging Support
    div.ptop10.pbottom10
      input#e12(type="hidden" style="width:250px;" value="brown, red, green")

    h4 Maximum Input Length
    div.ptop10.pbottom10
      input#e23(type="hidden" style="width:250px;" value="brown, red, green")

    h4 Auto Tokenization
    div.ptop10.pbottom10
      input#e20(type="hidden" style="width:250px;" value="brown")

    h4 Reacting to external value changes
    div.ptop10.pbottom10
      div.mbottom10
        select#e13(multiple style="width:250px;")
          include ./dropdown-select-select2-dropdowns-demo-data
      div
        +buttons('btn-primary btn-xs mright5 mbottom5', 'Select California')(id="e13_ca")
        +buttons('btn-success btn-xs mright5 mbottom5', 'Select Alaska and Colorado')(id="e13_ak_co")

    h4 Select2 Lifecycle
    div.ptop10.pbottom10
      div.mbottom10
        select#e14(multiple style="width:250px;")
          include ./dropdown-select-select2-dropdowns-demo-data
      div
        +buttons('btn-success btn-xs mright5 mbottom5', 'Init')(id="e14_init")
        +buttons('btn-danger btn-xs mright5 mbottom5', 'Destroy')(id="e14_destroy")

    h4 Select2 Disabled Mode
    div.ptop10.pbottom10
      div.mbottom10
        select#e16.mright5(disabled style="width:250px;")
          include ./dropdown-select-select2-dropdowns-demo-data
        select#e16_2.mright5(multiple disabled style="width:250px;")
          include ./dropdown-select-select2-dropdowns-demo-data
      div
        +buttons('btn-primary btn-xs mright5 mbottom5', 'Enable')(id="e16_enable")
        +buttons('btn-success btn-xs mright5 mbottom5', 'Disable')(id="e16_disable")
        +buttons('btn-info btn-xs mright5 mbottom5', 'Writable')(id="e16_writable")
        +buttons('btn-warning btn-xs mright5 mbottom5', 'Readonly')(id="e16_readonly")

    h4 Lock selections
    div.ptop10.pbottom10
      input#e21(type="hidden" style="width:250px;")