//- UI Elements - Widgets - Chat

include ../../common/variables
include ../mixins


div.panel.panel-white
  div.panel-heading
    |Ckeditor
  div.panel-body

    h4 Default
    div.demo-editor
      textarea#editor1.form-control(rows="6")