//- UI Advanced - Editor - Bootstrap WYSIWYG5 Editors

//- include ../../common/variables
//- include ../mixins


div.panel.panel-white
  div.panel-heading
    |Bootstrap WYSIWYG5 Editors
  div.panel-body
    div.p15
      textarea.wysihtml5.form-control(rows="6")