table.table.table-hover.profile-msglist.no-mb
  tbody
    tr
      th
        input.icheck(type="checkbox")
      td.hidden-xs.hidden-sm
        a.link-yellow(href="#")
          i.fa.fa-star
      td
        a.link-black(href="#") Brandon Cruz
      td.hidden-xs.hidden-sm
        span.label.label-success New
      td.profile-msglist-title
        a.link-black(href="#{page_email_view_mail.url}" title="translate book's invitation is waiting for your response - Members are waiting to connect with you!")
          strong translate book's invitation is waiting for your response
          span.text-grey &nbsp;-&nbsp;Members are waiting to connect with you!
      td.hidden-xs.hidden-sm
        i.fa.fa-paperclip
      td.small.text-grey(width="1%") 17:38
    tr
      th
        input.icheck(type="checkbox")
      td.hidden-xs.hidden-sm
        a.link-grey(href="#")
          i.fa.fa-star-o
      td
        a.link-black(href="#") Harold Brown
      td.hidden-xs.hidden-sm
        span.label.label-danger Trash
      td.profile-msglist-title
        a.link-black(href="#{page_email_view_mail.url}" title="Win More Projects. Start Sponsoring Your Bids - Will your bid take the lead?")
          span Win More Projects. Start Sponsoring Your Bids
          span.text-grey &nbsp;-&nbsp;Will your bid take the lead?
      td.hidden-xs.hidden-sm
      td.small.text-grey(width="1%") Jan 18
      - for(var i=0;i<18;i++)
        tr
          th
            input.icheck(type="checkbox")
          td.hidden-xs.hidden-sm
            a.link-grey(href="#")
              i.fa.fa-star-o
          td.link-black
            a(href="#") Jane Doe
          td.hidden-xs.hidden-sm
          td.profile-msglist-title
            a.link-black(href="#{page_email_view_mail.url}" title="Lorem ipsum dolor sit amet - consectetuer adipiscing elit.")
              span Lorem ipsum dolor sit amet
              span.text-grey &nbsp;-&nbsp;Consectetuer adipiscing elit.
          td.hidden-xs.hidden-sm
          td.small.text-grey(width="1%") Jan 18
hr.no-m