//- Forms - Customized Elements - Dynamic Character Count

//- include ../../common/variables
//- include ../mixins


div.panel.panel-green
  div.panel-heading Character Count
  div.panel-body
    div
      form(role="form")
        textarea#countableArea.form-control(rows="2" placeholder="Try it out yourself, Countable is enabled on this textarea. Just start typing...") Try it out yourself, Countable is enabled on this textarea. Just start typing...
      pre.no-mb
        |Paragraphs:
        span#result__paragraphs 0
        br/
        |Words:
        span#result__words 0
        br/
        |Characters:
        span#result__characters 0
        br/
        |Characters (with spaces):
        span#result__all 0