//- UI Elements - General - Alerts

//- include ../../common/variables
include ../mixins


div.row
  div.col-lg-6

    //Basic Alerts
    h3 Basic

    +alerts("alert-success", "false")
      p
        |<strong>Well done!</strong> You successfully read this important alert message.

    +alerts("alert-info", "false")
      p
        |<strong>Heads up!</strong> This alert needs your attention, but it's not super important.

    +alerts("alert-warning", "false")
      p
        |<strong>Warning!</strong> Better check yourself, you're not looking too good.

    +alerts("alert-danger", "false")
      p
        |<strong>Oh snap!</strong> Change a few things up and try submitting again.

    br/

    //Dissmissable Alerts
    h3 Dissmissable alerts

    +alerts("alert-success fade in", "true")
      p
        |<strong>Well done!</strong> You successfully read this important alert message.

    +alerts("alert-info fade in", "true")
      p
        |<strong>Heads up!</strong> This alert needs your attention, but it's not super important.

    +alerts("alert-warning fade in", "true")
      p
        |<strong>Warning!</strong> Better check yourself, you're not looking too good.

    +alerts("alert-danger fade in", "true")
      p
        |<strong>Oh snap!</strong> Change a few things up and try submitting again.




  div.col-lg-6


    //Links in Alerts
    h3 Links in Alerts

    +alerts("alert-success", "false")
      p
        |<strong>Well done!</strong> You successfully read <a href="#">this important alert message</a>.

    +alerts("alert-info", "false")
      p
        |<strong>Heads up!</strong> This <a href="#">alert needs your attention</a>, but it's not super important.

    +alerts("alert-warning", "false")
      p
        |<strong>Warning!</strong> Better check yourself, you're not <a href="#">looking too good</a>.

    +alerts("alert-danger", "false")
      p
        |<strong>Oh snap!</strong> <a href="#">Change a few things up</a> and try submitting again.

    br/

    //Buttons in Alerts
    h3 Buttons in Alerts

    +alerts("alert-success", "false")
      p
        |<strong>Well done!</strong> You successfully read <a href="#">this important alert message</a>.
      hr/
      p
        +buttons('btn-green btn-sm mright5', 'Green')
        +buttons('btn-grey btn-sm', 'Grey')

    +alerts("alert-info", "false")
      p
        |<strong>Heads up!</strong> This <a href="#">alert needs your attention</a>, but it's not super important.
      p
        +buttons('btn-blue btn-sm mright5', 'Blue')
        +buttons('btn-orange btn-sm', 'Orange')

    +alerts("alert-warning fade in", "true")
      p
        |<strong>Warning!</strong> Better check yourself, you're not looking too good.
      p
        +buttons('btn-default btn-sm mright5', 'Default')
        +buttons('btn-yellow btn-sm', 'Yellow')
