//- UI Elements - General - Thumbnails


include ../../common/variables
include ../mixins


//Default Thumbnails
h3 Default Thumbnails

div.demo-thumb
  div.row
    each val in [1,2,3,4,5,6,7,8]
      div.col-xs-12.col-sm-6.col-md-3
        a.thumbnail(href="#")
          img(src="#{base_img}tmp/tmp-1-#{val}.jpg" width="100%" alt="Thumbnails")

//Custom Content
h3 Custom Content
div.demo-thumb
  div.row
    each val in [1,2,3,4]
      div.col-xs-12.col-sm-6.col-md-3
        div.thumbnail
          img(src="#{base_img}tmp/tmp-1-#{val}.jpg" width="100%" alt="Thumbnails")
          div.caption
            h3 Thumbnail label
            p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
            p
              a.btn.btn-orange(href="#" role="button") Button
              = '\n'
              a.btn.btn-default(href="#" role="button") Button