//- Public Header - Tasks

include ../../common/variables
include ../mixins

if topbar_tasks

  //Tasks
  li(class="dropdown")

    a(class="dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown" data-hover="dropdown")
      i(class="fa fa-fw fa-tasks")
      span(class="badge badge-orange") 6

    +dropdown-menu('', 'dropdown-tasks', 'You have 6 pending tasks', '250|186', 'See all tasks', '###')
      ul(class="list-unstyled link-black")
        li: a(href="#")
          h6 Fix BUG #479
          div(class="progress" id="header-tasks-progress-0"): div(class="progress-bar progress-bar-danger active" role="progressbar" aria-valuenow="47" aria-valuemin="0" aria-valuemax="100" style="width:47%")
        li: a(href="#")
          h6 Review javascript code
          div(class="progress" id="header-tasks-progress-1"): div(class="progress-bar progress-bar-success active" role="progressbar" aria-valuenow="87" aria-valuemin="0" aria-valuemax="100" style="width:87%") 87%
        li: a(href="#")
          h6 Update database
          div(class="progress" id="header-tasks-progress-2"): div(class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:75%") 75%
        li: a(href="#")
          h6 Reinstall the server operating system
          div(class="progress" id="header-tasks-progress-3"): div(class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width:20%") 20%