//- Public Header - Language Switcher

include ../../common/variables
include ../mixins

if topbar_language_switcher

  - var base = base_img + "flag/"; //- Flag pics folder
  - var topbar_language_list = {"Chinese": base+"China.png", "English": base+"United-Kingdom.png", "Español": base+"Spain.png", "日本語": base+"Japan.png", "Deutsch": base+"Germany.png"};

  //Language Switcher
  li(class="dropdown")

    a(class="dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown" data-hover="dropdown")
      img(class="flag" src="#{base_img}flag/United-Kingdom.png" alt="English")
      |English

    +dropdown-menu('', 'dropdown-language')

      each flag, lang in topbar_language_list
        li: a(href="#")
          img(class="flag" src="#{flag}" alt="#{lang}")
          |#{lang}