//- Public header

include ../../common/variables

div(class="container-fluid head-wrapper")

  //top header
  header(class="navbar topheader" role="navigation")
    div(class="container-fluid")

      div(class="navbar-header")

        //toggle offscreen menu
        button(type="button" class="navbar-toggle visible-xs-block visible-sm-block sidebar-toggle" data-toggle="collapse" data-target="#sidebar" aria-controls="sidebar" aria-expanded="false")
          span(class="icon-bar")
          span(class="icon-bar")
          span(class="icon-bar")

        //brand
        a(class="navbar-brand brand" href="index.html")
          img(src="img/logo.png" alt="#{site_description}")
        a(class="hide navbar-brand navbar-brand-small brand", href="index.html")
          img(src="img/logo-s.png" alt="#{site_description}")

      if body_class_name.indexOf("horizontal-menu") != -1
        include ./header-horizontal-menu

      else
        div(class="navbar-collapse visible-md-block visible-lg-block navbar-left")
          ul(class="nav navbar-nav")

            //toggle small menu
            li(id="smallsidebar-toggle" class="smallsidebar-toogle")
              a(href="javascript:void(0)")
                i(class="fa fa-bars")

            //toggle search
            li(class="search-toogle hidden-xs hidden-sm hidden-md")
              a(class="pull-left btn-search", href="javascript:void(0)")
                i(class="fa fa-search")
              form(class="navbar-form pull-left", role="search")
                div(class="form-group")
                  input(type="text" class="form-control topsearch" placeholder="type and press enter")

      ul(class="nav navbar-nav navbar-right navbar-top-links")

        //- Language Switcher
        include ./header-language-switcher

        //- Quick Links
        include ./header-quicklinks

        //- Notifications
        include ./header-notifications

        //- Message
        include ./header-messages

        //- Tasks
        include ./header-tasks

        //- Personal Menu
        include ./header-personal-menu