//- UI Elements - Icons - Entypo


include ../../common/variables
include ../mixins


div.demo-icons
  div.row.demo-icon-list

    +entypo('entypo-note')
    +entypo('entypo-note-beamed')
    +entypo('entypo-music')
    +entypo('entypo-search')
    +entypo('entypo-flashlight')
    +entypo('entypo-mail')
    +entypo('entypo-heart')
    +entypo('entypo-heart-empty')
    +entypo('entypo-star')
    +entypo('entypo-star-empty')
    +entypo('entypo-user')
    +entypo('entypo-users')
    +entypo('entypo-user-add')
    +entypo('entypo-video')
    +entypo('entypo-picture')
    +entypo('entypo-camera')
    +entypo('entypo-layout')
    +entypo('entypo-menu')
    +entypo('entypo-check')
    +entypo('entypo-cancel')
    +entypo('entypo-cancel-circled')
    +entypo('entypo-cancel-squared')
    +entypo('entypo-plus')
    +entypo('entypo-plus-circled')
    +entypo('entypo-plus-squared')
    +entypo('entypo-minus')
    +entypo('entypo-minus-circled')
    +entypo('entypo-minus-squared')
    +entypo('entypo-help')
    +entypo('entypo-help-circled')
    +entypo('entypo-info')
    +entypo('entypo-info-circled')
    +entypo('entypo-back')
    +entypo('entypo-home')
    +entypo('entypo-link')
    +entypo('entypo-attach')
    +entypo('entypo-lock')
    +entypo('entypo-lock-open')
    +entypo('entypo-eye')
    +entypo('entypo-tag')
    +entypo('entypo-bookmark')
    +entypo('entypo-bookmarks')
    +entypo('entypo-flag')
    +entypo('entypo-thumbs-up')
    +entypo('entypo-thumbs-down')
    +entypo('entypo-download')
    +entypo('entypo-upload')
    +entypo('entypo-upload-cloud')
    +entypo('entypo-reply')
    +entypo('entypo-reply-all')
    +entypo('entypo-forward')
    +entypo('entypo-quote')
    +entypo('entypo-code')
    +entypo('entypo-export')
    +entypo('entypo-pencil')
    +entypo('entypo-feather')
    +entypo('entypo-print')
    +entypo('entypo-retweet')
    +entypo('entypo-keyboard')
    +entypo('entypo-comment')
    +entypo('entypo-chat')
    +entypo('entypo-bell')
    +entypo('entypo-attention')
    +entypo('entypo-alert')
    +entypo('entypo-vcard')
    +entypo('entypo-address')
    +entypo('entypo-location')
    +entypo('entypo-map')
    +entypo('entypo-direction')
    +entypo('entypo-compass')
    +entypo('entypo-cup')
    +entypo('entypo-trash')
    +entypo('entypo-doc')
    +entypo('entypo-docs')
    +entypo('entypo-doc-landscape')
    +entypo('entypo-doc-text')
    +entypo('entypo-doc-text-inv')
    +entypo('entypo-newspaper')
    +entypo('entypo-book-open')
    +entypo('entypo-book')
    +entypo('entypo-folder')
    +entypo('entypo-archive')
    +entypo('entypo-box')
    +entypo('entypo-rss')
    +entypo('entypo-phone')
    +entypo('entypo-cog')
    +entypo('entypo-tools')
    +entypo('entypo-share')
    +entypo('entypo-shareable')
    +entypo('entypo-basket')
    +entypo('entypo-bag')
    +entypo('entypo-calendar')
    +entypo('entypo-login')
    +entypo('entypo-logout')
    +entypo('entypo-mic')
    +entypo('entypo-mute')
    +entypo('entypo-sound')
    +entypo('entypo-volume')
    +entypo('entypo-clock')
    +entypo('entypo-hourglass')
    +entypo('entypo-lamp')
    +entypo('entypo-light-down')
    +entypo('entypo-light-up')
    +entypo('entypo-adjust')
    +entypo('entypo-block')
    +entypo('entypo-resize-full')
    +entypo('entypo-resize-small')
    +entypo('entypo-popup')
    +entypo('entypo-publish')
    +entypo('entypo-window')
    +entypo('entypo-arrow-combo')
    +entypo('entypo-down-circled')
    +entypo('entypo-left-circled')
    +entypo('entypo-right-circled')
    +entypo('entypo-up-circled')
    +entypo('entypo-down-open')
    +entypo('entypo-left-open')
    +entypo('entypo-right-open')
    +entypo('entypo-up-open')
    +entypo('entypo-down-open-mini')
    +entypo('entypo-left-open-mini')
    +entypo('entypo-right-open-mini')
    +entypo('entypo-up-open-mini')
    +entypo('entypo-down-open-big')
    +entypo('entypo-left-open-big')
    +entypo('entypo-right-open-big')
    +entypo('entypo-up-open-big')
    +entypo('entypo-down')
    +entypo('entypo-left')
    +entypo('entypo-right')
    +entypo('entypo-up')
    +entypo('entypo-down-dir')
    +entypo('entypo-left-dir')
    +entypo('entypo-right-dir')
    +entypo('entypo-up-dir')
    +entypo('entypo-down-bold')
    +entypo('entypo-left-bold')
    +entypo('entypo-right-bold')
    +entypo('entypo-up-bold')
    +entypo('entypo-down-thin')
    +entypo('entypo-left-thin')
    +entypo('entypo-right-thin')
    +entypo('entypo-up-thin')
    +entypo('entypo-ccw')
    +entypo('entypo-cw')
    +entypo('entypo-arrows-ccw')
    +entypo('entypo-level-down')
    +entypo('entypo-level-up')
    +entypo('entypo-shuffle')
    +entypo('entypo-loop')
    +entypo('entypo-switch')
    +entypo('entypo-play')
    +entypo('entypo-stop')
    +entypo('entypo-pause')
    +entypo('entypo-record')
    +entypo('entypo-to-end')
    +entypo('entypo-to-start')
    +entypo('entypo-fast-forward')
    +entypo('entypo-fast-backward')
    +entypo('entypo-progress-0')
    +entypo('entypo-progress-1')
    +entypo('entypo-progress-2')
    +entypo('entypo-progress-3')
    +entypo('entypo-target')
    +entypo('entypo-palette')
    +entypo('entypo-list')
    +entypo('entypo-list-add')
    +entypo('entypo-signal')
    +entypo('entypo-trophy')
    +entypo('entypo-battery')
    +entypo('entypo-back-in-time')
    +entypo('entypo-monitor')
    +entypo('entypo-mobile')
    +entypo('entypo-network')
    +entypo('entypo-cd')
    +entypo('entypo-inbox')
    +entypo('entypo-install')
    +entypo('entypo-globe')
    +entypo('entypo-cloud')
    +entypo('entypo-cloud-thunder')
    +entypo('entypo-flash')
    +entypo('entypo-moon')
    +entypo('entypo-flight')
    +entypo('entypo-paper-plane')
    +entypo('entypo-leaf')
    +entypo('entypo-lifebuoy')
    +entypo('entypo-mouse')
    +entypo('entypo-briefcase')
    +entypo('entypo-suitcase')
    +entypo('entypo-dot')
    +entypo('entypo-dot-2')
    +entypo('entypo-dot-3')
    +entypo('entypo-brush')
    +entypo('entypo-magnet')
    +entypo('entypo-infinity')
    +entypo('entypo-erase')
    +entypo('entypo-chart-pie')
    +entypo('entypo-chart-line')
    +entypo('entypo-chart-bar')
    +entypo('entypo-chart-area')
    +entypo('entypo-tape')
    +entypo('entypo-graduation-cap')
    +entypo('entypo-language')
    +entypo('entypo-ticket')
    +entypo('entypo-water')
    +entypo('entypo-droplet')
    +entypo('entypo-air')
    +entypo('entypo-credit-card')
    +entypo('entypo-floppy')
    +entypo('entypo-clipboard')
    +entypo('entypo-megaphone')
    +entypo('entypo-database')
    +entypo('entypo-drive')
    +entypo('entypo-bucket')
    +entypo('entypo-thermometer')
    +entypo('entypo-key')
    +entypo('entypo-flow-cascade')
    +entypo('entypo-flow-branch')
    +entypo('entypo-flow-tree')
    +entypo('entypo-flow-line')
    +entypo('entypo-flow-parallel')
    +entypo('entypo-rocket')
    +entypo('entypo-gauge')
    +entypo('entypo-traffic-cone')
    +entypo('entypo-cc')
    +entypo('entypo-cc-by')
    +entypo('entypo-cc-nc')
    +entypo('entypo-cc-nc-eu')
    +entypo('entypo-cc-nc-jp')
    +entypo('entypo-cc-sa')
    +entypo('entypo-cc-nd')
    +entypo('entypo-cc-pd')
    +entypo('entypo-cc-zero')
    +entypo('entypo-cc-share')
    +entypo('entypo-cc-remix')
    +entypo('entypo-github')
    +entypo('entypo-github-circled')
    +entypo('entypo-flickr')
    +entypo('entypo-flickr-circled')
    +entypo('entypo-vimeo')
    +entypo('entypo-vimeo-circled')
    +entypo('entypo-twitter')
    +entypo('entypo-twitter-circled')
    +entypo('entypo-facebook')
    +entypo('entypo-facebook-circled')
    +entypo('entypo-facebook-squared')
    +entypo('entypo-gplus')
    +entypo('entypo-gplus-circled')
    +entypo('entypo-pinterest')
    +entypo('entypo-pinterest-circled')
    +entypo('entypo-tumblr')
    +entypo('entypo-tumblr-circled')
    +entypo('entypo-linkedin')
    +entypo('entypo-linkedin-circled')
    +entypo('entypo-dribbble')
    +entypo('entypo-dribbble-circled')
    +entypo('entypo-stumbleupon')
    +entypo('entypo-stumbleupon-circled')
    +entypo('entypo-lastfm')
    +entypo('entypo-lastfm-circled')
    +entypo('entypo-rdio')
    +entypo('entypo-rdio-circled')
    +entypo('entypo-spotify')
    +entypo('entypo-spotify-circled')
    +entypo('entypo-qq')
    +entypo('entypo-instagrem')
    +entypo('entypo-dropbox')
    +entypo('entypo-evernote')
    +entypo('entypo-flattr')
    +entypo('entypo-skype')
    +entypo('entypo-skype-circled')
    +entypo('entypo-renren')
    +entypo('entypo-sina-weibo')
    +entypo('entypo-paypal')
    +entypo('entypo-picasa')
    +entypo('entypo-soundcloud')
    +entypo('entypo-mixi')
    +entypo('entypo-behance')
    +entypo('entypo-google-circles')
    +entypo('entypo-vkontakte')
    +entypo('entypo-smashing')
    +entypo('entypo-sweden')
    +entypo('entypo-db-shape')
    +entypo('entypo-logo-db')
