//- UI Elements - Icons - Themify Icons


include ../../common/variables
include ../mixins


div.row
  div.col-lg-12

    div.demo-icons
      h3 ARROWS & DIRECTION ICONS
      div.row.demo-icon-list
        +themify('ti-arrow-up')
        +themify('ti-arrow-right')
        +themify('ti-arrow-left')
        +themify('ti-arrow-down')
        +themify('ti-arrows-vertical')
        +themify('ti-arrows-horizontal')
        +themify('ti-angle-up')
        +themify('ti-angle-right')
        +themify('ti-angle-left')
        +themify('ti-angle-down')
        +themify('ti-angle-double-up')
        +themify('ti-angle-double-right')
        +themify('ti-angle-double-left')
        +themify('ti-angle-double-down')
        +themify('ti-move')
        +themify('ti-fullscreen')
        +themify('ti-arrow-top-right')
        +themify('ti-arrow-top-left')
        +themify('ti-arrow-circle-up')
        +themify('ti-arrow-circle-right')
        +themify('ti-arrow-circle-left')
        +themify('ti-arrow-circle-down')
        +themify('ti-arrows-corner')
        +themify('ti-split-v')
        +themify('ti-split-v-alt')
        +themify('ti-split-h')
        +themify('ti-hand-point-up')
        +themify('ti-hand-point-right')
        +themify('ti-hand-point-left')
        +themify('ti-hand-point-down')
        +themify('ti-back-right')
        +themify('ti-back-left')
        +themify('ti-exchange-vertical')

    div.demo-icons
      h3 WEB APP ICONS
      div.row.demo-icon-list
        +themify('ti-wand')
        +themify('ti-save')
        +themify('ti-save-alt')
        +themify('ti-direction')
        +themify('ti-direction-alt')
        +themify('ti-user')
        +themify('ti-link')
        +themify('ti-unlink')
        +themify('ti-trash')
        +themify('ti-target')
        +themify('ti-tag')
        +themify('ti-desktop')
        +themify('ti-tablet')
        +themify('ti-mobile')
        +themify('ti-email')
        +themify('ti-star')
        +themify('ti-spray')
        +themify('ti-signal')
        +themify('ti-shopping-cart')
        +themify('ti-shopping-cart-full')
        +themify('ti-settings')
        +themify('ti-search')
        +themify('ti-zoom-in')
        +themify('ti-zoom-out')
        +themify('ti-cut')
        +themify('ti-ruler')
        +themify('ti-ruler-alt-2')
        +themify('ti-ruler-pencil')
        +themify('ti-ruler-alt')
        +themify('ti-bookmark')
        +themify('ti-bookmark-alt')
        +themify('ti-reload')
        +themify('ti-plus')
        +themify('ti-minus')
        +themify('ti-close')
        +themify('ti-pin')
        +themify('ti-pencil')
        +themify('ti-pencil-alt')
        +themify('ti-paint-roller')
        +themify('ti-paint-bucket')
        +themify('ti-na')
        +themify('ti-medall')
        +themify('ti-medall-alt')
        +themify('ti-marker')
        +themify('ti-marker-alt')
        +themify('ti-lock')
        +themify('ti-unlock')
        +themify('ti-location-arrow')
        +themify('ti-layout')
        +themify('ti-layers')
        +themify('ti-layers-alt')
        +themify('ti-key')
        +themify('ti-image')
        +themify('ti-heart')
        +themify('ti-heart-broken')
        +themify('ti-hand-stop')
        +themify('ti-hand-open')
        +themify('ti-hand-drag')
        +themify('ti-flag')
        +themify('ti-flag-alt')
        +themify('ti-flag-alt-2')
        +themify('ti-eye')
        +themify('ti-import')
        +themify('ti-export')
        +themify('ti-cup')
        +themify('ti-crown')
        +themify('ti-comments')
        +themify('ti-comment')
        +themify('ti-comment-alt')
        +themify('ti-thought')
        +themify('ti-clip')
        +themify('ti-check')
        +themify('ti-check-box')
        +themify('ti-camera')
        +themify('ti-announcement')
        +themify('ti-brush')
        +themify('ti-brush-alt')
        +themify('ti-palette')
        +themify('ti-briefcase')
        +themify('ti-bolt')
        +themify('ti-bolt-alt')
        +themify('ti-blackboard')
        +themify('ti-bag')
        +themify('ti-world')
        +themify('ti-wheelchair')
        +themify('ti-car')
        +themify('ti-truck')
        +themify('ti-timer')
        +themify('ti-ticket')
        +themify('ti-thumb-up')
        +themify('ti-thumb-down')
        +themify('ti-stats-up')
        +themify('ti-stats-down')
        +themify('ti-shine')
        +themify('ti-shift-right')
        +themify('ti-shift-left')
        +themify('ti-shift-right-alt')
        +themify('ti-shift-left-alt')
        +themify('ti-shield')
        +themify('ti-notepad')
        +themify('ti-server')
        +themify('ti-pulse')
        +themify('ti-printer')
        +themify('ti-power-off')
        +themify('ti-plug')
        +themify('ti-pie-chart')
        +themify('ti-panel')
        +themify('ti-package')
        +themify('ti-music')
        +themify('ti-music-alt')
        +themify('ti-mouse')
        +themify('ti-mouse-alt')
        +themify('ti-money')
        +themify('ti-microphone')
        +themify('ti-menu')
        +themify('ti-menu-alt')
        +themify('ti-map')
        +themify('ti-map-alt')
        +themify('ti-location-pin')
        +themify('ti-light-bulb')
        +themify('ti-info')
        +themify('ti-infinite')
        +themify('ti-id-badge')
        +themify('ti-hummer')
        +themify('ti-home')
        +themify('ti-help')
        +themify('ti-headphone')
        +themify('ti-harddrives')
        +themify('ti-harddrive')
        +themify('ti-gift')
        +themify('ti-game')
        +themify('ti-filter')
        +themify('ti-files')
        +themify('ti-file')
        +themify('ti-zip')
        +themify('ti-folder')
        +themify('ti-envelope')
        +themify('ti-dashboard')
        +themify('ti-cloud')
        +themify('ti-cloud-up')
        +themify('ti-cloud-down')
        +themify('ti-clipboard')
        +themify('ti-calendar')
        +themify('ti-book')
        +themify('ti-bell')
        +themify('ti-basketball')
        +themify('ti-bar-chart')
        +themify('ti-bar-chart-alt')
        +themify('ti-archive')
        +themify('ti-anchor')
        +themify('ti-alert')
        +themify('ti-alarm-clock')
        +themify('ti-agenda')
        +themify('ti-write')
        +themify('ti-wallet')
        +themify('ti-video-clapper')
        +themify('ti-video-camera')
        +themify('ti-vector')
        +themify('ti-support')
        +themify('ti-stamp')
        +themify('ti-slice')
        +themify('ti-shortcode')
        +themify('ti-receipt')
        +themify('ti-pin2')
        +themify('ti-pin-alt')
        +themify('ti-pencil-alt2')
        +themify('ti-eraser')
        +themify('ti-more')
        +themify('ti-more-alt')
        +themify('ti-microphone-alt')
        +themify('ti-magnet')
        +themify('ti-line-double')
        +themify('ti-line-dotted')
        +themify('ti-line-dashed')
        +themify('ti-ink-pen')
        +themify('ti-info-alt')
        +themify('ti-help-alt')
        +themify('ti-headphone-alt')
        +themify('ti-gallery')
        +themify('ti-face-smile')
        +themify('ti-face-sad')
        +themify('ti-credit-card')
        +themify('ti-comments-smiley')
        +themify('ti-time')
        +themify('ti-share')
        +themify('ti-share-alt')
        +themify('ti-rocket')
        +themify('ti-new-window')
        +themify('ti-rss')
        +themify('ti-rss-alt')

    div.demo-icons
      h3 CONTROL ICONS
      div.row.demo-icon-list
        +themify('ti-control-stop')
        +themify('ti-control-shuffle')
        +themify('ti-control-play')
        +themify('ti-control-pause')
        +themify('ti-control-forward')
        +themify('ti-control-backward')
        +themify('ti-volume')
        +themify('ti-control-skip-forward')
        +themify('ti-control-skip-backward')
        +themify('ti-control-record')
        +themify('ti-control-eject')

    div.demo-icons
      h3 TEXT EDITOR
      div.row.demo-icon-list
        +themify('ti-paragraph')
        +themify('ti-uppercase')
        +themify('ti-underline')
        +themify('ti-text')
        +themify('ti-Italic')
        +themify('ti-smallcap')
        +themify('ti-list')
        +themify('ti-list-ol')
        +themify('ti-align-right')
        +themify('ti-align-left')
        +themify('ti-align-justify')
        +themify('ti-align-center')
        +themify('ti-quote-right')
        +themify('ti-quote-left')

    div.demo-icons
      h3 LAYOUT ICONS
      div.row.demo-icon-list
        +themify('ti-layout-width-full')
        +themify('ti-layout-width-default')
        +themify('ti-layout-width-default-alt')
        +themify('ti-layout-tab')
        +themify('ti-layout-tab-window')
        +themify('ti-layout-tab-v')
        +themify('ti-layout-tab-min')
        +themify('ti-layout-slider')
        +themify('ti-layout-slider-alt')
        +themify('ti-layout-sidebar-right')
        +themify('ti-layout-sidebar-none')
        +themify('ti-layout-sidebar-left')
        +themify('ti-layout-placeholder')
        +themify('ti-layout-menu')
        +themify('ti-layout-menu-v')
        +themify('ti-layout-menu-separated')
        +themify('ti-layout-menu-full')
        +themify('ti-layout-media-right')
        +themify('ti-layout-media-right-alt')
        +themify('ti-layout-media-overlay')
        +themify('ti-layout-media-overlay-alt')
        +themify('ti-layout-media-overlay-alt-2')
        +themify('ti-layout-media-left')
        +themify('ti-layout-media-left-alt')
        +themify('ti-layout-media-center')
        +themify('ti-layout-media-center-alt')
        +themify('ti-layout-list-thumb')
        +themify('ti-layout-list-thumb-alt')
        +themify('ti-layout-list-post')
        +themify('ti-layout-list-large-image')
        +themify('ti-layout-line-solid')
        +themify('ti-layout-grid4')
        +themify('ti-layout-grid3')
        +themify('ti-layout-grid2')
        +themify('ti-layout-grid2-thumb')
        +themify('ti-layout-cta-right')
        +themify('ti-layout-cta-left')
        +themify('ti-layout-cta-center')
        +themify('ti-layout-cta-btn-right')
        +themify('ti-layout-cta-btn-left')
        +themify('ti-layout-column4')
        +themify('ti-layout-column3')
        +themify('ti-layout-column2')
        +themify('ti-layout-accordion-separated')
        +themify('ti-layout-accordion-merged')
        +themify('ti-layout-accordion-list')
        +themify('ti-widgetized')
        +themify('ti-widget')
        +themify('ti-widget-alt')
        +themify('ti-view-list')
        +themify('ti-view-list-alt')
        +themify('ti-view-grid')
        +themify('ti-upload')
        +themify('ti-download')
        +themify('ti-loop')
        +themify('ti-layout-sidebar-2')
        +themify('ti-layout-grid4-alt')
        +themify('ti-layout-grid3-alt')
        +themify('ti-layout-grid2-alt')
        +themify('ti-layout-column4-alt')
        +themify('ti-layout-column3-alt')
        +themify('ti-layout-column2-alt')

    div.demo-icons
      h3 BRAND ICONS
      div.row.demo-icon-list
        +themify('ti-flickr')
        +themify('ti-flickr-alt')
        +themify('ti-instagram')
        +themify('ti-google')
        +themify('ti-github')
        +themify('ti-facebook')
        +themify('ti-dropbox')
        +themify('ti-dropbox-alt')
        +themify('ti-dribbble')
        +themify('ti-apple')
        +themify('ti-android')
        +themify('ti-yahoo')
        +themify('ti-trello')
        +themify('ti-stack-overflow')
        +themify('ti-soundcloud')
        +themify('ti-sharethis')
        +themify('ti-sharethis-alt')
        +themify('ti-reddit')
        +themify('ti-microsoft')
        +themify('ti-microsoft-alt')
        +themify('ti-linux')
        +themify('ti-jsfiddle')
        +themify('ti-joomla')
        +themify('ti-html5')
        +themify('ti-css3')
        +themify('ti-drupal')
        +themify('ti-wordpress')
        +themify('ti-tumblr')
        +themify('ti-tumblr-alt')
        +themify('ti-skype')
        +themify('ti-youtube')
        +themify('ti-vimeo')
        +themify('ti-vimeo-alt')
        +themify('ti-twitter')
        +themify('ti-twitter-alt')
        +themify('ti-linkedin')
        +themify('ti-pinterest')
        +themify('ti-pinterest-alt')
        +themify('ti-themify-logo')
        +themify('ti-themify-favicon')
        +themify('ti-themify-favicon-alt')
