//- UI Elements - Icons - Font Awesome


include ../../common/variables
include ../mixins


div.row
  div.col-lg-12

    div.demo-icons
      h3 40 New Icons in 4.2
      div.row.demo-icon-list
        +font-awesome('fa-angellist')
        +font-awesome('fa-area-chart')
        +font-awesome('fa-at')
        +font-awesome('fa-bell-slash')
        +font-awesome('fa-bell-slash-o')
        +font-awesome('fa-bicycle')
        +font-awesome('fa-binoculars')
        +font-awesome('fa-birthday-cake')
        +font-awesome('fa-bus')
        +font-awesome('fa-calculator')
        +font-awesome('fa-cc')
        +font-awesome('fa-cc-amex')
        +font-awesome('fa-cc-discover')
        +font-awesome('fa-cc-mastercard')
        +font-awesome('fa-cc-paypal')
        +font-awesome('fa-cc-stripe')
        +font-awesome('fa-cc-visa')
        +font-awesome('fa-copyright')
        +font-awesome('fa-eyedropper')
        +font-awesome('fa-futbol-o')
        +font-awesome('fa-google-wallet')
        +font-awesome('fa-ils')
        +font-awesome('fa-ioxhost')
        +font-awesome('fa-lastfm')
        +font-awesome('fa-lastfm-square')
        +font-awesome('fa-line-chart')
        +font-awesome('fa-meanpath')
        +font-awesome('fa-newspaper-o')
        +font-awesome('fa-paint-brush')
        +font-awesome('fa-paypal')
        +font-awesome('fa-pie-chart')
        +font-awesome('fa-plug')
        +font-awesome('fa-shekel',1)
        +font-awesome('fa-sheqel',1)
        +font-awesome('fa-slideshare')
        +font-awesome('fa-soccer-ball-o',1)
        +font-awesome('fa-toggle-off')
        +font-awesome('fa-toggle-on')
        +font-awesome('fa-trash')
        +font-awesome('fa-tty')
        +font-awesome('fa-twitch')
        +font-awesome('fa-wifi')
        +font-awesome('fa-yelp')

    div.demo-icons
      h3 Web Application Icons
      div.row.demo-icon-list
        +font-awesome('fa-adjust')
        +font-awesome('fa-anchor')
        +font-awesome('fa-archive')
        +font-awesome('fa-area-chart')
        +font-awesome('fa-arrows')
        +font-awesome('fa-arrows-h')
        +font-awesome('fa-arrows-v')
        +font-awesome('fa-asterisk')
        +font-awesome('fa-at')
        +font-awesome('fa-automobile',1)
        +font-awesome('fa-ban')
        +font-awesome('fa-bank',1)
        +font-awesome('fa-bar-chart')
        +font-awesome('fa-bar-chart-o',1)
        +font-awesome('fa-barcode')
        +font-awesome('fa-bars')
        +font-awesome('fa-beer')
        +font-awesome('fa-bell')
        +font-awesome('fa-bell-o')
        +font-awesome('fa-bell-slash')
        +font-awesome('fa-bell-slash-o')
        +font-awesome('fa-bicycle')
        +font-awesome('fa-binoculars')
        +font-awesome('fa-birthday-cake')
        +font-awesome('fa-bolt')
        +font-awesome('fa-bomb')
        +font-awesome('fa-book')
        +font-awesome('fa-bookmark')
        +font-awesome('fa-bookmark-o')
        +font-awesome('fa-briefcase')
        +font-awesome('fa-bug')
        +font-awesome('fa-building')
        +font-awesome('fa-building-o')
        +font-awesome('fa-bullhorn')
        +font-awesome('fa-bullseye')
        +font-awesome('fa-bus')
        +font-awesome('fa-cab',1)
        +font-awesome('fa-calculator')
        +font-awesome('fa-calendar')
        +font-awesome('fa-calendar-o')
        +font-awesome('fa-camera')
        +font-awesome('fa-camera-retro')
        +font-awesome('fa-car')
        +font-awesome('fa-caret-square-o-down')
        +font-awesome('fa-caret-square-o-left')
        +font-awesome('fa-caret-square-o-right')
        +font-awesome('fa-caret-square-o-up')
        +font-awesome('fa-cc')
        +font-awesome('fa-certificate')
        +font-awesome('fa-check')
        +font-awesome('fa-check-circle')
        +font-awesome('fa-check-circle-o')
        +font-awesome('fa-check-square')
        +font-awesome('fa-check-square-o')
        +font-awesome('fa-child')
        +font-awesome('fa-circle')
        +font-awesome('fa-circle-o')
        +font-awesome('fa-circle-o-notch')
        +font-awesome('fa-circle-thin')
        +font-awesome('fa-clock-o')
        +font-awesome('fa-close',1)
        +font-awesome('fa-cloud')
        +font-awesome('fa-cloud-download')
        +font-awesome('fa-cloud-upload')
        +font-awesome('fa-code')
        +font-awesome('fa-code-fork')
        +font-awesome('fa-coffee')
        +font-awesome('fa-cog')
        +font-awesome('fa-cogs')
        +font-awesome('fa-comment')
        +font-awesome('fa-comment-o')
        +font-awesome('fa-comments')
        +font-awesome('fa-comments-o')
        +font-awesome('fa-compass')
        +font-awesome('fa-copyright')
        +font-awesome('fa-credit-card')
        +font-awesome('fa-crop')
        +font-awesome('fa-crosshairs')
        +font-awesome('fa-cube')
        +font-awesome('fa-cubes')
        +font-awesome('fa-cutlery')
        +font-awesome('fa-dashboard',1)
        +font-awesome('fa-database')
        +font-awesome('fa-desktop')
        +font-awesome('fa-dot-circle-o')
        +font-awesome('fa-download')
        +font-awesome('fa-edit',1)
        +font-awesome('fa-ellipsis-h')
        +font-awesome('fa-ellipsis-v')
        +font-awesome('fa-envelope')
        +font-awesome('fa-envelope-o')
        +font-awesome('fa-envelope-square')
        +font-awesome('fa-eraser')
        +font-awesome('fa-exchange')
        +font-awesome('fa-exclamation')
        +font-awesome('fa-exclamation-circle')
        +font-awesome('fa-exclamation-triangle')
        +font-awesome('fa-external-link')
        +font-awesome('fa-external-link-square')
        +font-awesome('fa-eye')
        +font-awesome('fa-eye-slash')
        +font-awesome('fa-eyedropper')
        +font-awesome('fa-fax')
        +font-awesome('fa-female')
        +font-awesome('fa-fighter-jet')
        +font-awesome('fa-file-archive-o')
        +font-awesome('fa-file-audio-o')
        +font-awesome('fa-file-code-o')
        +font-awesome('fa-file-excel-o')
        +font-awesome('fa-file-image-o')
        +font-awesome('fa-file-movie-o',1)
        +font-awesome('fa-file-pdf-o')
        +font-awesome('fa-file-photo-o',1)
        +font-awesome('fa-file-picture-o',1)
        +font-awesome('fa-file-powerpoint-o')
        +font-awesome('fa-file-sound-o',1)
        +font-awesome('fa-file-video-o')
        +font-awesome('fa-file-word-o')
        +font-awesome('fa-file-zip-o',1)
        +font-awesome('fa-film')
        +font-awesome('fa-filter')
        +font-awesome('fa-fire')
        +font-awesome('fa-fire-extinguisher')
        +font-awesome('fa-flag')
        +font-awesome('fa-flag-checkered')
        +font-awesome('fa-flag-o')
        +font-awesome('fa-flash',1)
        +font-awesome('fa-flask')
        +font-awesome('fa-folder')
        +font-awesome('fa-folder-o')
        +font-awesome('fa-folder-open')
        +font-awesome('fa-folder-open-o')
        +font-awesome('fa-frown-o')
        +font-awesome('fa-futbol-o')
        +font-awesome('fa-gamepad')
        +font-awesome('fa-gavel')
        +font-awesome('fa-gear',1)
        +font-awesome('fa-gears',1)
        +font-awesome('fa-gift')
        +font-awesome('fa-glass')
        +font-awesome('fa-globe')
        +font-awesome('fa-graduation-cap')
        +font-awesome('fa-group',1)
        +font-awesome('fa-hdd-o')
        +font-awesome('fa-headphones')
        +font-awesome('fa-heart')
        +font-awesome('fa-heart-o')
        +font-awesome('fa-history')
        +font-awesome('fa-home')
        +font-awesome('fa-image',1)
        +font-awesome('fa-inbox')
        +font-awesome('fa-info')
        +font-awesome('fa-info-circle')
        +font-awesome('fa-institution',1)
        +font-awesome('fa-key')
        +font-awesome('fa-keyboard-o')
        +font-awesome('fa-language')
        +font-awesome('fa-laptop')
        +font-awesome('fa-leaf')
        +font-awesome('fa-legal',1)
        +font-awesome('fa-lemon-o')
        +font-awesome('fa-level-down')
        +font-awesome('fa-level-up')
        +font-awesome('fa-life-bouy',1)
        +font-awesome('fa-life-buoy',1)
        +font-awesome('fa-life-ring')
        +font-awesome('fa-life-saver',1)
        +font-awesome('fa-lightbulb-o')
        +font-awesome('fa-line-chart')
        +font-awesome('fa-location-arrow')
        +font-awesome('fa-lock')
        +font-awesome('fa-magic')
        +font-awesome('fa-magnet')
        +font-awesome('fa-mail-forward',1)
        +font-awesome('fa-mail-reply',1)
        +font-awesome('fa-mail-reply-all',1)
        +font-awesome('fa-male')
        +font-awesome('fa-map-marker')
        +font-awesome('fa-meh-o')
        +font-awesome('fa-microphone')
        +font-awesome('fa-microphone-slash')
        +font-awesome('fa-minus')
        +font-awesome('fa-minus-circle')
        +font-awesome('fa-minus-square')
        +font-awesome('fa-minus-square-o')
        +font-awesome('fa-mobile')
        +font-awesome('fa-mobile-phone',1)
        +font-awesome('fa-money')
        +font-awesome('fa-moon-o')
        +font-awesome('fa-mortar-board',1)
        +font-awesome('fa-music')
        +font-awesome('fa-navicon',1)
        +font-awesome('fa-newspaper-o')
        +font-awesome('fa-paint-brush')
        +font-awesome('fa-paper-plane')
        +font-awesome('fa-paper-plane-o')
        +font-awesome('fa-paw')
        +font-awesome('fa-pencil')
        +font-awesome('fa-pencil-square')
        +font-awesome('fa-pencil-square-o')
        +font-awesome('fa-phone')
        +font-awesome('fa-phone-square')
        +font-awesome('fa-photo',1)
        +font-awesome('fa-picture-o')
        +font-awesome('fa-pie-chart')
        +font-awesome('fa-plane')
        +font-awesome('fa-plug')
        +font-awesome('fa-plus')
        +font-awesome('fa-plus-circle')
        +font-awesome('fa-plus-square')
        +font-awesome('fa-plus-square-o')
        +font-awesome('fa-power-off')
        +font-awesome('fa-print')
        +font-awesome('fa-puzzle-piece')
        +font-awesome('fa-qrcode')
        +font-awesome('fa-question')
        +font-awesome('fa-question-circle')
        +font-awesome('fa-quote-left')
        +font-awesome('fa-quote-right')
        +font-awesome('fa-random')
        +font-awesome('fa-recycle')
        +font-awesome('fa-refresh')
        +font-awesome('fa-remove',1)
        +font-awesome('fa-reorder',1)
        +font-awesome('fa-reply')
        +font-awesome('fa-reply-all')
        +font-awesome('fa-retweet')
        +font-awesome('fa-road')
        +font-awesome('fa-rocket')
        +font-awesome('fa-rss')
        +font-awesome('fa-rss-square')
        +font-awesome('fa-search')
        +font-awesome('fa-search-minus')
        +font-awesome('fa-search-plus')
        +font-awesome('fa-send',1)
        +font-awesome('fa-send-o',1)
        +font-awesome('fa-share')
        +font-awesome('fa-share-alt')
        +font-awesome('fa-share-alt-square')
        +font-awesome('fa-share-square')
        +font-awesome('fa-share-square-o')
        +font-awesome('fa-shield')
        +font-awesome('fa-shopping-cart')
        +font-awesome('fa-sign-in')
        +font-awesome('fa-sign-out')
        +font-awesome('fa-signal')
        +font-awesome('fa-sitemap')
        +font-awesome('fa-sliders')
        +font-awesome('fa-smile-o')
        +font-awesome('fa-soccer-ball-o',1)
        +font-awesome('fa-sort')
        +font-awesome('fa-sort-alpha-asc')
        +font-awesome('fa-sort-alpha-desc')
        +font-awesome('fa-sort-amount-asc')
        +font-awesome('fa-sort-amount-desc')
        +font-awesome('fa-sort-asc')
        +font-awesome('fa-sort-desc')
        +font-awesome('fa-sort-down',1)
        +font-awesome('fa-sort-numeric-asc')
        +font-awesome('fa-sort-numeric-desc')
        +font-awesome('fa-sort-up',1)
        +font-awesome('fa-space-shuttle')
        +font-awesome('fa-spinner')
        +font-awesome('fa-spoon')
        +font-awesome('fa-square')
        +font-awesome('fa-square-o')
        +font-awesome('fa-star')
        +font-awesome('fa-star-half')
        +font-awesome('fa-star-half-empty',1)
        +font-awesome('fa-star-half-full',1)
        +font-awesome('fa-star-half-o')
        +font-awesome('fa-star-o')
        +font-awesome('fa-suitcase')
        +font-awesome('fa-sun-o')
        +font-awesome('fa-support',1)
        +font-awesome('fa-tablet')
        +font-awesome('fa-tachometer')
        +font-awesome('fa-tag')
        +font-awesome('fa-tags')
        +font-awesome('fa-tasks')
        +font-awesome('fa-taxi')
        +font-awesome('fa-terminal')
        +font-awesome('fa-thumb-tack')
        +font-awesome('fa-thumbs-down')
        +font-awesome('fa-thumbs-o-down')
        +font-awesome('fa-thumbs-o-up')
        +font-awesome('fa-thumbs-up')
        +font-awesome('fa-ticket')
        +font-awesome('fa-times')
        +font-awesome('fa-times-circle')
        +font-awesome('fa-times-circle-o')
        +font-awesome('fa-tint')
        +font-awesome('fa-toggle-down',1)
        +font-awesome('fa-toggle-left',1)
        +font-awesome('fa-toggle-off')
        +font-awesome('fa-toggle-on')
        +font-awesome('fa-toggle-right',1)
        +font-awesome('fa-toggle-up',1)
        +font-awesome('fa-trash')
        +font-awesome('fa-trash-o')
        +font-awesome('fa-tree')
        +font-awesome('fa-trophy')
        +font-awesome('fa-truck')
        +font-awesome('fa-tty')
        +font-awesome('fa-umbrella')
        +font-awesome('fa-university')
        +font-awesome('fa-unlock')
        +font-awesome('fa-unlock-alt')
        +font-awesome('fa-unsorted',1)
        +font-awesome('fa-upload')
        +font-awesome('fa-user')
        +font-awesome('fa-users')
        +font-awesome('fa-video-camera')
        +font-awesome('fa-volume-down')
        +font-awesome('fa-volume-off')
        +font-awesome('fa-volume-up')
        +font-awesome('fa-warning',1)
        +font-awesome('fa-wheelchair')
        +font-awesome('fa-wifi')
        +font-awesome('fa-wrench')

    div.demo-icons
      h3 File Type Icons
      div.row.demo-icon-list
        +font-awesome('fa-file')
        +font-awesome('fa-file-archive-o')
        +font-awesome('fa-file-audio-o')
        +font-awesome('fa-file-code-o')
        +font-awesome('fa-file-excel-o')
        +font-awesome('fa-file-image-o')
        +font-awesome('fa-file-movie-o',1)
        +font-awesome('fa-file-o')
        +font-awesome('fa-file-pdf-o')
        +font-awesome('fa-file-photo-o',1)
        +font-awesome('fa-file-picture-o',1)
        +font-awesome('fa-file-powerpoint-o')
        +font-awesome('fa-file-sound-o',1)
        +font-awesome('fa-file-text')
        +font-awesome('fa-file-text-o')
        +font-awesome('fa-file-video-o')
        +font-awesome('fa-file-word-o')
        +font-awesome('fa-file-zip-o',1)

    div.demo-icons
      h3 Spinner Icons
      br/
      div.alert.alert-success(role="alert")
        p!= '<i class="fa fa-info-circle fa-lg fa-li"></i> These icons work great with the <code>fa-spin</code> class. Check out the <a href="http://fortawesome.github.io/Font-Awesome/examples/#spinning" class="alert-link" target="_blank">spinning icons example</a>.'
      div.row.demo-icon-list
        +font-awesome('fa-circle-o-notch fa-spin')
        +font-awesome('fa-cog fa-spin')
        +font-awesome('fa-gear fa-spin',1)
        +font-awesome('fa-refresh fa-spin')
        +font-awesome('fa-spinner fa-spin')

    div.demo-icons
      h3 Form Control Icons
      div.row.demo-icon-list
        +font-awesome('fa-check-square')
        +font-awesome('fa-check-square-o')
        +font-awesome('fa-circle')
        +font-awesome('fa-circle-o')
        +font-awesome('fa-dot-circle-o')
        +font-awesome('fa-minus-square')
        +font-awesome('fa-minus-square-o')
        +font-awesome('fa-plus-square')
        +font-awesome('fa-plus-square-o')
        +font-awesome('fa-square')
        +font-awesome('fa-square-o')

    div.demo-icons
      h3 Payment Icons
      div.row.demo-icon-list
        +font-awesome('fa-cc-amex')
        +font-awesome('fa-cc-discover')
        +font-awesome('fa-cc-mastercard')
        +font-awesome('fa-cc-paypal')
        +font-awesome('fa-cc-stripe')
        +font-awesome('fa-cc-visa')
        +font-awesome('fa-credit-card')
        +font-awesome('fa-google-wallet')
        +font-awesome('fa-paypal')

    div.demo-icons
      h3 Chart Icons
      div.row.demo-icon-list
        +font-awesome('fa-area-chart')
        +font-awesome('fa-bar-chart')
        +font-awesome('fa-bar-chart-o',1)
        +font-awesome('fa-line-chart')
        +font-awesome('fa-pie-chart')

    div.demo-icons
      h3 Currency Icons
      div.row.demo-icon-list
        +font-awesome('fa-bitcoin',1)
        +font-awesome('fa-btc')
        +font-awesome('fa-cny',1)
        +font-awesome('fa-dollar',1)
        +font-awesome('fa-eur')
        +font-awesome('fa-euro',1)
        +font-awesome('fa-gbp')
        +font-awesome('fa-ils')
        +font-awesome('fa-inr')
        +font-awesome('fa-jpy')
        +font-awesome('fa-krw')
        +font-awesome('fa-money')
        +font-awesome('fa-rmb',1)
        +font-awesome('fa-rouble',1)
        +font-awesome('fa-rub')
        +font-awesome('fa-ruble',1)
        +font-awesome('fa-rupee',1)
        +font-awesome('fa-shekel',1)
        +font-awesome('fa-sheqel',1)
        +font-awesome('fa-try')
        +font-awesome('fa-turkish-lira',1)
        +font-awesome('fa-usd')
        +font-awesome('fa-won',1)
        +font-awesome('fa-yen',1)

    div.demo-icons
      h3 Text Editor Icons
      div.row.demo-icon-list
        +font-awesome('fa-align-center')
        +font-awesome('fa-align-justify')
        +font-awesome('fa-align-left')
        +font-awesome('fa-align-right')
        +font-awesome('fa-bold')
        +font-awesome('fa-chain',1)
        +font-awesome('fa-chain-broken')
        +font-awesome('fa-clipboard')
        +font-awesome('fa-columns')
        +font-awesome('fa-copy',1)
        +font-awesome('fa-cut',1)
        +font-awesome('fa-dedent',1)
        +font-awesome('fa-eraser')
        +font-awesome('fa-file')
        +font-awesome('fa-file-o')
        +font-awesome('fa-file-text')
        +font-awesome('fa-file-text-o')
        +font-awesome('fa-files-o')
        +font-awesome('fa-floppy-o')
        +font-awesome('fa-font')
        +font-awesome('fa-header')
        +font-awesome('fa-indent')
        +font-awesome('fa-italic')
        +font-awesome('fa-link')
        +font-awesome('fa-list')
        +font-awesome('fa-list-alt')
        +font-awesome('fa-list-ol')
        +font-awesome('fa-list-ul')
        +font-awesome('fa-outdent')
        +font-awesome('fa-paperclip')
        +font-awesome('fa-paragraph')
        +font-awesome('fa-paste',1)
        +font-awesome('fa-repeat')
        +font-awesome('fa-rotate-left',1)
        +font-awesome('fa-rotate-right',1)
        +font-awesome('fa-save',1)
        +font-awesome('fa-scissors')
        +font-awesome('fa-strikethrough')
        +font-awesome('fa-subscript')
        +font-awesome('fa-superscript')
        +font-awesome('fa-table')
        +font-awesome('fa-text-height')
        +font-awesome('fa-text-width')
        +font-awesome('fa-th')
        +font-awesome('fa-th-large')
        +font-awesome('fa-th-list')
        +font-awesome('fa-underline')
        +font-awesome('fa-undo')
        +font-awesome('fa-unlink',1)

    div.demo-icons
      h3 Directional Icons
      div.row.demo-icon-list
        +font-awesome('fa-angle-double-down')
        +font-awesome('fa-angle-double-left')
        +font-awesome('fa-angle-double-right')
        +font-awesome('fa-angle-double-up')
        +font-awesome('fa-angle-down')
        +font-awesome('fa-angle-left')
        +font-awesome('fa-angle-right')
        +font-awesome('fa-angle-up')
        +font-awesome('fa-arrow-circle-down')
        +font-awesome('fa-arrow-circle-left')
        +font-awesome('fa-arrow-circle-o-down')
        +font-awesome('fa-arrow-circle-o-left')
        +font-awesome('fa-arrow-circle-o-right')
        +font-awesome('fa-arrow-circle-o-up')
        +font-awesome('fa-arrow-circle-right')
        +font-awesome('fa-arrow-circle-up')
        +font-awesome('fa-arrow-down')
        +font-awesome('fa-arrow-left')
        +font-awesome('fa-arrow-right')
        +font-awesome('fa-arrow-up')
        +font-awesome('fa-arrows')
        +font-awesome('fa-arrows-alt')
        +font-awesome('fa-arrows-h')
        +font-awesome('fa-arrows-v')
        +font-awesome('fa-caret-down')
        +font-awesome('fa-caret-left')
        +font-awesome('fa-caret-right')
        +font-awesome('fa-caret-square-o-down')
        +font-awesome('fa-caret-square-o-left')
        +font-awesome('fa-caret-square-o-right')
        +font-awesome('fa-caret-square-o-up')
        +font-awesome('fa-caret-up')
        +font-awesome('fa-chevron-circle-down')
        +font-awesome('fa-chevron-circle-left')
        +font-awesome('fa-chevron-circle-right')
        +font-awesome('fa-chevron-circle-up')
        +font-awesome('fa-chevron-down')
        +font-awesome('fa-chevron-left')
        +font-awesome('fa-chevron-right')
        +font-awesome('fa-chevron-up')
        +font-awesome('fa-hand-o-down')
        +font-awesome('fa-hand-o-left')
        +font-awesome('fa-hand-o-right')
        +font-awesome('fa-hand-o-up')
        +font-awesome('fa-long-arrow-down')
        +font-awesome('fa-long-arrow-left')
        +font-awesome('fa-long-arrow-right')
        +font-awesome('fa-long-arrow-up')
        +font-awesome('fa-toggle-down')
        +font-awesome('fa-toggle-left')
        +font-awesome('fa-toggle-right')
        +font-awesome('fa-toggle-up')

    div.demo-icons
      h3 Video Player Icons
      div.row.demo-icon-list
        +font-awesome('fa-arrows-alt')
        +font-awesome('fa-backward')
        +font-awesome('fa-compress')
        +font-awesome('fa-eject')
        +font-awesome('fa-expand')
        +font-awesome('fa-fast-backward')
        +font-awesome('fa-fast-forward')
        +font-awesome('fa-forward')
        +font-awesome('fa-pause')
        +font-awesome('fa-play')
        +font-awesome('fa-play-circle')
        +font-awesome('fa-play-circle-o')
        +font-awesome('fa-step-backward')
        +font-awesome('fa-step-forward')
        +font-awesome('fa-stop')
        +font-awesome('fa-youtube-play')

    div.demo-icons
      h3 Brand Icons
      br/
      div.alert.alert-success(role="alert")
        ul
          li All brand icons are trademarks of their respective owners.
          li The use of these trademarks does not indicate endorsement of the trademark holder by Font Awesome, nor vice versa.
      div.alert.alert-warning(role="alert")
        h4
          i.fa.fa-warning(style="font-size:18px;")
          |&nbsp;Warning!
        p!= 'Apparently, Adblock Plus can remove Font Awesome brand icons with their "Remove Social Media Buttons" setting. We will not use hacks to force them to display. Please <a href="https://adblockplus.org/en/bugs" class="alert-link" target="_blank">report an issue with Adblock Plus</a> if you believe this to be an error. To work around this, you\'ll need to modify the social icon class names.'
      div.row.demo-icon-list
        +font-awesome('fa-adn')
        +font-awesome('fa-android')
        +font-awesome('fa-angellist')
        +font-awesome('fa-apple')
        +font-awesome('fa-behance')
        +font-awesome('fa-behance-square')
        +font-awesome('fa-bitbucket')
        +font-awesome('fa-bitbucket-square')
        +font-awesome('fa-bitcoin',1)
        +font-awesome('fa-btc')
        +font-awesome('fa-cc-amex')
        +font-awesome('fa-cc-discover')
        +font-awesome('fa-cc-mastercard')
        +font-awesome('fa-cc-paypal')
        +font-awesome('fa-cc-stripe')
        +font-awesome('fa-cc-visa')
        +font-awesome('fa-codepen')
        +font-awesome('fa-css3')
        +font-awesome('fa-delicious')
        +font-awesome('fa-deviantart')
        +font-awesome('fa-digg')
        +font-awesome('fa-dribbble')
        +font-awesome('fa-dropbox')
        +font-awesome('fa-drupal')
        +font-awesome('fa-empire')
        +font-awesome('fa-facebook')
        +font-awesome('fa-facebook-square')
        +font-awesome('fa-flickr')
        +font-awesome('fa-foursquare')
        +font-awesome('fa-ge',1)
        +font-awesome('fa-git')
        +font-awesome('fa-git-square')
        +font-awesome('fa-github')
        +font-awesome('fa-github-alt')
        +font-awesome('fa-github-square')
        +font-awesome('fa-gittip')
        +font-awesome('fa-google')
        +font-awesome('fa-google-plus')
        +font-awesome('fa-google-plus-square')
        +font-awesome('fa-google-wallet')
        +font-awesome('fa-hacker-news')
        +font-awesome('fa-html5')
        +font-awesome('fa-instagram')
        +font-awesome('fa-ioxhost')
        +font-awesome('fa-joomla')
        +font-awesome('fa-jsfiddle')
        +font-awesome('fa-lastfm')
        +font-awesome('fa-lastfm-square')
        +font-awesome('fa-linkedin')
        +font-awesome('fa-linkedin-square')
        +font-awesome('fa-linux')
        +font-awesome('fa-maxcdn')
        +font-awesome('fa-meanpath')
        +font-awesome('fa-openid')
        +font-awesome('fa-pagelines')
        +font-awesome('fa-paypal')
        +font-awesome('fa-pied-piper')
        +font-awesome('fa-pied-piper-alt')
        +font-awesome('fa-pinterest')
        +font-awesome('fa-pinterest-square')
        +font-awesome('fa-qq')
        +font-awesome('fa-ra',1)
        +font-awesome('fa-rebel')
        +font-awesome('fa-reddit')
        +font-awesome('fa-reddit-square')
        +font-awesome('fa-renren')
        +font-awesome('fa-share-alt')
        +font-awesome('fa-share-alt-square')
        +font-awesome('fa-skype')
        +font-awesome('fa-slack')
        +font-awesome('fa-slideshare')
        +font-awesome('fa-soundcloud')
        +font-awesome('fa-spotify')
        +font-awesome('fa-stack-exchange')
        +font-awesome('fa-stack-overflow')
        +font-awesome('fa-steam')
        +font-awesome('fa-steam-square')
        +font-awesome('fa-stumbleupon')
        +font-awesome('fa-stumbleupon-circle')
        +font-awesome('fa-tencent-weibo')
        +font-awesome('fa-trello')
        +font-awesome('fa-tumblr')
        +font-awesome('fa-tumblr-square')
        +font-awesome('fa-twitch')
        +font-awesome('fa-twitter')
        +font-awesome('fa-twitter-square')
        +font-awesome('fa-vimeo-square')
        +font-awesome('fa-vine')
        +font-awesome('fa-vk')
        +font-awesome('fa-wechat',1)
        +font-awesome('fa-weibo')
        +font-awesome('fa-weixin')
        +font-awesome('fa-windows')
        +font-awesome('fa-wordpress')
        +font-awesome('fa-xing')
        +font-awesome('fa-xing-square')
        +font-awesome('fa-yahoo')
        +font-awesome('fa-yelp')
        +font-awesome('fa-youtube')
        +font-awesome('fa-youtube-play')
        +font-awesome('fa-youtube-square')

    div.demo-icons
      h3 Medical Icons
      div.row.demo-icon-list
        +font-awesome('fa-ambulance')
        +font-awesome('fa-h-square')
        +font-awesome('fa-hospital-o')
        +font-awesome('fa-medkit')
        +font-awesome('fa-plus-square')
        +font-awesome('fa-stethoscope')
        +font-awesome('fa-user-md')
        +font-awesome('fa-wheelchair')