//- UI Elements - Icons - Glyphicons


include ../../common/variables
include ../mixins


div.demo-icons
  div.row.demo-icon-list

    +glyphicons('glyphicon-asterisk')
    +glyphicons('glyphicon-plus')
    +glyphicons('glyphicon-euro')
    +glyphicons('glyphicon-minus')
    +glyphicons('glyphicon-cloud')
    +glyphicons('glyphicon-envelope')
    +glyphicons('glyphicon-pencil')
    +glyphicons('glyphicon-glass')
    +glyphicons('glyphicon-music')
    +glyphicons('glyphicon-search')
    +glyphicons('glyphicon-heart')
    +glyphicons('glyphicon-star')
    +glyphicons('glyphicon-star-empty')
    +glyphicons('glyphicon-user')
    +glyphicons('glyphicon-film')
    +glyphicons('glyphicon-th-large')
    +glyphicons('glyphicon-th')
    +glyphicons('glyphicon-th-list')
    +glyphicons('glyphicon-ok')
    +glyphicons('glyphicon-remove')
    +glyphicons('glyphicon-zoom-in')
    +glyphicons('glyphicon-zoom-out')
    +glyphicons('glyphicon-off')
    +glyphicons('glyphicon-signal')
    +glyphicons('glyphicon-cog')
    +glyphicons('glyphicon-trash')
    +glyphicons('glyphicon-home')
    +glyphicons('glyphicon-file')
    +glyphicons('glyphicon-time')
    +glyphicons('glyphicon-road')
    +glyphicons('glyphicon-download-alt')
    +glyphicons('glyphicon-download')
    +glyphicons('glyphicon-upload')
    +glyphicons('glyphicon-inbox')
    +glyphicons('glyphicon-play-circle')
    +glyphicons('glyphicon-repeat')
    +glyphicons('glyphicon-refresh')
    +glyphicons('glyphicon-list-alt')
    +glyphicons('glyphicon-lock')
    +glyphicons('glyphicon-flag')
    +glyphicons('glyphicon-headphones')
    +glyphicons('glyphicon-volume-off')
    +glyphicons('glyphicon-volume-down')
    +glyphicons('glyphicon-volume-up')
    +glyphicons('glyphicon-qrcode')
    +glyphicons('glyphicon-barcode')
    +glyphicons('glyphicon-tag')
    +glyphicons('glyphicon-tags')
    +glyphicons('glyphicon-book')
    +glyphicons('glyphicon-bookmark')
    +glyphicons('glyphicon-print')
    +glyphicons('glyphicon-camera')
    +glyphicons('glyphicon-font')
    +glyphicons('glyphicon-bold')
    +glyphicons('glyphicon-italic')
    +glyphicons('glyphicon-text-height')
    +glyphicons('glyphicon-text-width')
    +glyphicons('glyphicon-align-left')
    +glyphicons('glyphicon-align-center')
    +glyphicons('glyphicon-align-right')
    +glyphicons('glyphicon-align-justify')
    +glyphicons('glyphicon-list')
    +glyphicons('glyphicon-indent-left')
    +glyphicons('glyphicon-indent-right')
    +glyphicons('glyphicon-facetime-video')
    +glyphicons('glyphicon-picture')
    +glyphicons('glyphicon-map-marker')
    +glyphicons('glyphicon-adjust')
    +glyphicons('glyphicon-tint')
    +glyphicons('glyphicon-edit')
    +glyphicons('glyphicon-share')
    +glyphicons('glyphicon-check')
    +glyphicons('glyphicon-move')
    +glyphicons('glyphicon-step-backward')
    +glyphicons('glyphicon-fast-backward')
    +glyphicons('glyphicon-backward')
    +glyphicons('glyphicon-play')
    +glyphicons('glyphicon-pause')
    +glyphicons('glyphicon-stop')
    +glyphicons('glyphicon-forward')
    +glyphicons('glyphicon-fast-forward')
    +glyphicons('glyphicon-step-forward')
    +glyphicons('glyphicon-eject')
    +glyphicons('glyphicon-chevron-left')
    +glyphicons('glyphicon-chevron-right')
    +glyphicons('glyphicon-plus-sign')
    +glyphicons('glyphicon-minus-sign')
    +glyphicons('glyphicon-remove-sign')
    +glyphicons('glyphicon-ok-sign')
    +glyphicons('glyphicon-question-sign')
    +glyphicons('glyphicon-info-sign')
    +glyphicons('glyphicon-screenshot')
    +glyphicons('glyphicon-remove-circle')
    +glyphicons('glyphicon-ok-circle')
    +glyphicons('glyphicon-ban-circle')
    +glyphicons('glyphicon-arrow-left')
    +glyphicons('glyphicon-arrow-right')
    +glyphicons('glyphicon-arrow-up')
    +glyphicons('glyphicon-arrow-down')
    +glyphicons('glyphicon-share-alt')
    +glyphicons('glyphicon-resize-full')
    +glyphicons('glyphicon-resize-small')
    +glyphicons('glyphicon-exclamation-sign')
    +glyphicons('glyphicon-gift')
    +glyphicons('glyphicon-leaf')
    +glyphicons('glyphicon-fire')
    +glyphicons('glyphicon-eye-open')
    +glyphicons('glyphicon-eye-close')
    +glyphicons('glyphicon-warning-sign')
    +glyphicons('glyphicon-plane')
    +glyphicons('glyphicon-calendar')
    +glyphicons('glyphicon-random')
    +glyphicons('glyphicon-comment')
    +glyphicons('glyphicon-magnet')
    +glyphicons('glyphicon-chevron-up')
    +glyphicons('glyphicon-chevron-down')
    +glyphicons('glyphicon-retweet')
    +glyphicons('glyphicon-shopping-cart')
    +glyphicons('glyphicon-folder-close')
    +glyphicons('glyphicon-folder-open')
    +glyphicons('glyphicon-resize-vertical')
    +glyphicons('glyphicon-resize-horizontal')
    +glyphicons('glyphicon-hdd')
    +glyphicons('glyphicon-bullhorn')
    +glyphicons('glyphicon-bell')
    +glyphicons('glyphicon-certificate')
    +glyphicons('glyphicon-thumbs-up')
    +glyphicons('glyphicon-thumbs-down')
    +glyphicons('glyphicon-hand-right')
    +glyphicons('glyphicon-hand-left')
    +glyphicons('glyphicon-hand-up')
    +glyphicons('glyphicon-hand-down')
    +glyphicons('glyphicon-circle-arrow-right')
    +glyphicons('glyphicon-circle-arrow-left')
    +glyphicons('glyphicon-circle-arrow-up')
    +glyphicons('glyphicon-circle-arrow-down')
    +glyphicons('glyphicon-globe')
    +glyphicons('glyphicon-wrench')
    +glyphicons('glyphicon-tasks')
    +glyphicons('glyphicon-filter')
    +glyphicons('glyphicon-briefcase')
    +glyphicons('glyphicon-fullscreen')
    +glyphicons('glyphicon-dashboard')
    +glyphicons('glyphicon-paperclip')
    +glyphicons('glyphicon-heart-empty')
    +glyphicons('glyphicon-link')
    +glyphicons('glyphicon-phone')
    +glyphicons('glyphicon-pushpin')
    +glyphicons('glyphicon-usd')
    +glyphicons('glyphicon-gbp')
    +glyphicons('glyphicon-sort')
    +glyphicons('glyphicon-sort-by-alphabet')
    +glyphicons('glyphicon-sort-by-alphabet-alt')
    +glyphicons('glyphicon-sort-by-order')
    +glyphicons('glyphicon-sort-by-order-alt')
    +glyphicons('glyphicon-sort-by-attributes')
    +glyphicons('glyphicon-sort-by-attributes-alt')
    +glyphicons('glyphicon-unchecked')
    +glyphicons('glyphicon-expand')
    +glyphicons('glyphicon-collapse-down')
    +glyphicons('glyphicon-collapse-up')
    +glyphicons('glyphicon-log-in')
    +glyphicons('glyphicon-flash')
    +glyphicons('glyphicon-log-out')
    +glyphicons('glyphicon-new-window')
    +glyphicons('glyphicon-record')
    +glyphicons('glyphicon-save')
    +glyphicons('glyphicon-open')
    +glyphicons('glyphicon-saved')
    +glyphicons('glyphicon-import')
    +glyphicons('glyphicon-export')
    +glyphicons('glyphicon-send')
    +glyphicons('glyphicon-floppy-disk')
    +glyphicons('glyphicon-floppy-saved')
    +glyphicons('glyphicon-floppy-remove')
    +glyphicons('glyphicon-floppy-save')
    +glyphicons('glyphicon-floppy-open')
    +glyphicons('glyphicon-credit-card')
    +glyphicons('glyphicon-transfer')
    +glyphicons('glyphicon-cutlery')
    +glyphicons('glyphicon-header')
    +glyphicons('glyphicon-compressed')
    +glyphicons('glyphicon-earphone')
    +glyphicons('glyphicon-phone-alt')
    +glyphicons('glyphicon-tower')
    +glyphicons('glyphicon-stats')
    +glyphicons('glyphicon-sd-video')
    +glyphicons('glyphicon-hd-video')
    +glyphicons('glyphicon-subtitles')
    +glyphicons('glyphicon-sound-stereo')
    +glyphicons('glyphicon-sound-dolby')
    +glyphicons('glyphicon-sound-5-1')
    +glyphicons('glyphicon-sound-6-1')
    +glyphicons('glyphicon-sound-7-1')
    +glyphicons('glyphicon-copyright-mark')
    +glyphicons('glyphicon-registration-mark')
    +glyphicons('glyphicon-cloud-download')
    +glyphicons('glyphicon-cloud-upload')
    +glyphicons('glyphicon-tree-conifer')
    +glyphicons('glyphicon-tree-deciduous')
