//- UI Elements - Icons - Entypo


include ../../common/variables
include ../mixins


div.demo-icons
  div.row.demo-icon-list

    +entypo('icon-note')
    +entypo('icon-note-beamed')
    +entypo('icon-music')
    +entypo('icon-search')
    +entypo('icon-flashlight')
    +entypo('icon-mail')
    +entypo('icon-heart')
    +entypo('icon-heart-empty')
    +entypo('icon-star')
    +entypo('icon-star-empty')
    +entypo('icon-user')
    +entypo('icon-users')
    +entypo('icon-user-add')
    +entypo('icon-video')
    +entypo('icon-picture')
    +entypo('icon-camera')
    +entypo('icon-layout')
    +entypo('icon-menu')
    +entypo('icon-check')
    +entypo('icon-cancel')
    +entypo('icon-cancel-circled')
    +entypo('icon-cancel-squared')
    +entypo('icon-plus')
    +entypo('icon-plus-circled')
    +entypo('icon-plus-squared')
    +entypo('icon-minus')
    +entypo('icon-minus-circled')
    +entypo('icon-minus-squared')
    +entypo('icon-help')
    +entypo('icon-help-circled')
    +entypo('icon-info')
    +entypo('icon-info-circled')
    +entypo('icon-back')
    +entypo('icon-home')
    +entypo('icon-link')
    +entypo('icon-attach')
    +entypo('icon-lock')
    +entypo('icon-lock-open')
    +entypo('icon-eye')
    +entypo('icon-tag')
    +entypo('icon-bookmark')
    +entypo('icon-bookmarks')
    +entypo('icon-flag')
    +entypo('icon-thumbs-up')
    +entypo('icon-thumbs-down')
    +entypo('icon-download')
    +entypo('icon-upload')
    +entypo('icon-upload-cloud')
    +entypo('icon-reply')
    +entypo('icon-reply-all')
    +entypo('icon-forward')
    +entypo('icon-quote')
    +entypo('icon-code')
    +entypo('icon-export')
    +entypo('icon-pencil')
    +entypo('icon-feather')
    +entypo('icon-print')
    +entypo('icon-retweet')
    +entypo('icon-keyboard')
    +entypo('icon-comment')
    +entypo('icon-chat')
    +entypo('icon-bell')
    +entypo('icon-attention')
    +entypo('icon-alert')
    +entypo('icon-vcard')
    +entypo('icon-address')
    +entypo('icon-location')
    +entypo('icon-map')
    +entypo('icon-direction')
    +entypo('icon-compass')
    +entypo('icon-cup')
    +entypo('icon-trash')
    +entypo('icon-doc')
    +entypo('icon-docs')
    +entypo('icon-doc-landscape')
    +entypo('icon-doc-text')
    +entypo('icon-doc-text-inv')
    +entypo('icon-newspaper')
    +entypo('icon-book-open')
    +entypo('icon-book')
    +entypo('icon-folder')
    +entypo('icon-archive')
    +entypo('icon-box')
    +entypo('icon-rss')
    +entypo('icon-phone')
    +entypo('icon-cog')
    +entypo('icon-tools')
    +entypo('icon-share')
    +entypo('icon-shareable')
    +entypo('icon-basket')
    +entypo('icon-bag')
    +entypo('icon-calendar')
    +entypo('icon-login')
    +entypo('icon-logout')
    +entypo('icon-mic')
    +entypo('icon-mute')
    +entypo('icon-sound')
    +entypo('icon-volume')
    +entypo('icon-clock')
    +entypo('icon-hourglass')
    +entypo('icon-lamp')
    +entypo('icon-light-down')
    +entypo('icon-light-up')
    +entypo('icon-adjust')
    +entypo('icon-block')
    +entypo('icon-resize-full')
    +entypo('icon-resize-small')
    +entypo('icon-popup')
    +entypo('icon-publish')
    +entypo('icon-window')
    +entypo('icon-arrow-combo')
    +entypo('icon-down-circled')
    +entypo('icon-left-circled')
    +entypo('icon-right-circled')
    +entypo('icon-up-circled')
    +entypo('icon-down-open')
    +entypo('icon-left-open')
    +entypo('icon-right-open')
    +entypo('icon-up-open')
    +entypo('icon-down-open-mini')
    +entypo('icon-left-open-mini')
    +entypo('icon-right-open-mini')
    +entypo('icon-up-open-mini')
    +entypo('icon-down-open-big')
    +entypo('icon-left-open-big')
    +entypo('icon-right-open-big')
    +entypo('icon-up-open-big')
    +entypo('icon-down')
    +entypo('icon-left')
    +entypo('icon-right')
    +entypo('icon-up')
    +entypo('icon-down-dir')
    +entypo('icon-left-dir')
    +entypo('icon-right-dir')
    +entypo('icon-up-dir')
    +entypo('icon-down-bold')
    +entypo('icon-left-bold')
    +entypo('icon-right-bold')
    +entypo('icon-up-bold')
    +entypo('icon-down-thin')
    +entypo('icon-left-thin')
    +entypo('icon-right-thin')
    +entypo('icon-up-thin')
    +entypo('icon-ccw')
    +entypo('icon-cw')
    +entypo('icon-arrows-ccw')
    +entypo('icon-level-down')
    +entypo('icon-level-up')
    +entypo('icon-shuffle')
    +entypo('icon-loop')
    +entypo('icon-switch')
    +entypo('icon-play')
    +entypo('icon-stop')
    +entypo('icon-pause')
    +entypo('icon-record')
    +entypo('icon-to-end')
    +entypo('icon-to-start')
    +entypo('icon-fast-forward')
    +entypo('icon-fast-backward')
    +entypo('icon-progress-0')
    +entypo('icon-progress-1')
    +entypo('icon-progress-2')
    +entypo('icon-progress-3')
    +entypo('icon-target')
    +entypo('icon-palette')
    +entypo('icon-list')
    +entypo('icon-list-add')
    +entypo('icon-signal')
    +entypo('icon-trophy')
    +entypo('icon-battery')
    +entypo('icon-back-in-time')
    +entypo('icon-monitor')
    +entypo('icon-mobile')
    +entypo('icon-network')
    +entypo('icon-cd')
    +entypo('icon-inbox')
    +entypo('icon-install')
    +entypo('icon-globe')
    +entypo('icon-cloud')
    +entypo('icon-cloud-thunder')
    +entypo('icon-flash')
    +entypo('icon-moon')
    +entypo('icon-flight')
    +entypo('icon-paper-plane')
    +entypo('icon-leaf')
    +entypo('icon-lifebuoy')
    +entypo('icon-mouse')
    +entypo('icon-briefcase')
    +entypo('icon-suitcase')
    +entypo('icon-dot')
    +entypo('icon-dot-2')
    +entypo('icon-dot-3')
    +entypo('icon-brush')
    +entypo('icon-magnet')
    +entypo('icon-infinity')
    +entypo('icon-erase')
    +entypo('icon-chart-pie')
    +entypo('icon-chart-line')
    +entypo('icon-chart-bar')
    +entypo('icon-chart-area')
    +entypo('icon-tape')
    +entypo('icon-graduation-cap')
    +entypo('icon-language')
    +entypo('icon-ticket')
    +entypo('icon-water')
    +entypo('icon-droplet')
    +entypo('icon-air')
    +entypo('icon-credit-card')
    +entypo('icon-floppy')
    +entypo('icon-clipboard')
    +entypo('icon-megaphone')
    +entypo('icon-database')
    +entypo('icon-drive')
    +entypo('icon-bucket')
    +entypo('icon-thermometer')
    +entypo('icon-key')
    +entypo('icon-flow-cascade')
    +entypo('icon-flow-branch')
    +entypo('icon-flow-tree')
    +entypo('icon-flow-line')
    +entypo('icon-flow-parallel')
    +entypo('icon-rocket')
    +entypo('icon-gauge')
    +entypo('icon-traffic-cone')
    +entypo('icon-cc')
    +entypo('icon-cc-by')
    +entypo('icon-cc-nc')
    +entypo('icon-cc-nc-eu')
    +entypo('icon-cc-nc-jp')
    +entypo('icon-cc-sa')
    +entypo('icon-cc-nd')
    +entypo('icon-cc-pd')
    +entypo('icon-cc-zero')
    +entypo('icon-cc-share')
    +entypo('icon-cc-remix')
    +entypo('icon-github')
    +entypo('icon-github-circled')
    +entypo('icon-flickr')
    +entypo('icon-flickr-circled')
    +entypo('icon-vimeo')
    +entypo('icon-vimeo-circled')
    +entypo('icon-twitter')
    +entypo('icon-twitter-circled')
    +entypo('icon-facebook')
    +entypo('icon-facebook-circled')
    +entypo('icon-facebook-squared')
    +entypo('icon-gplus')
    +entypo('icon-gplus-circled')
    +entypo('icon-pinterest')
    +entypo('icon-pinterest-circled')
    +entypo('icon-tumblr')
    +entypo('icon-tumblr-circled')
    +entypo('icon-linkedin')
    +entypo('icon-linkedin-circled')
    +entypo('icon-dribbble')
    +entypo('icon-dribbble-circled')
    +entypo('icon-stumbleupon')
    +entypo('icon-stumbleupon-circled')
    +entypo('icon-lastfm')
    +entypo('icon-lastfm-circled')
    +entypo('icon-rdio')
    +entypo('icon-rdio-circled')
    +entypo('icon-spotify')
    +entypo('icon-spotify-circled')
    +entypo('icon-qq')
    +entypo('icon-instagrem')
    +entypo('icon-dropbox')
    +entypo('icon-evernote')
    +entypo('icon-flattr')
    +entypo('icon-skype')
    +entypo('icon-skype-circled')
    +entypo('icon-renren')
    +entypo('icon-sina-weibo')
    +entypo('icon-paypal')
    +entypo('icon-picasa')
    +entypo('icon-soundcloud')
    +entypo('icon-mixi')
    +entypo('icon-behance')
    +entypo('icon-google-circles')
    +entypo('icon-vkontakte')
    +entypo('icon-smashing')
    +entypo('icon-sweden')
    +entypo('icon-db-shape')
    +entypo('icon-logo-db')
