//- Pages - Pricing Tables - Style 2


//- include ../../common/variables
include ../mixins


div.row

  div.col-xs-12.col-sm-4.col-md-2
    div.panel.panel-red
      div.panel-heading.text-center Deluxe
      div.panel-body.no-p
        div.ptop20.pbottom20.text-center
          h1.text-red
            |$10
            small: small /month
        div.text-center
          table.table.table-striped.small.no-m
            tbody
              tr: td Unlimited Websites
              tr: td Unlimited Storage
              tr: td Unlimited bandwidth
              tr: td 500 Email Addresses
              tr: td Free Domain with annual plan
              tr: td 2X Processing Power & Memory
              tr: td Premium DNS Management Tool1 year SSL Certificate - Secures customer data & increases search rankings
          +buttons("btn-red btn-block no-b","Add Cart")
  div.col-xs-12.col-sm-4.col-md-2
    div.panel.panel-orange
      div.panel-heading.text-center Deluxe
      div.panel-body.no-p
        div.ptop20.pbottom20.text-center
          h1.text-orange
            |$10
            small: small /month
        div.text-center
          table.table.table-striped.small.no-m
            tbody
              tr: td Unlimited Websites
              tr: td Unlimited Storage
              tr: td Unlimited bandwidth
              tr: td 500 Email Addresses
              tr: td Free Domain with annual plan
              tr: td 2X Processing Power & Memory
              tr: td Premium DNS Management Tool1 year SSL Certificate - Secures customer data & increases search rankings
          +buttons("btn-orange btn-block no-b","Add Cart")
  div.col-xs-12.col-sm-4.col-md-2
    div.panel.panel-yellow
      div.panel-heading.text-center Deluxe
      div.panel-body.no-p
        div.ptop20.pbottom20.text-center
          h1.text-yellow
            |$10
            small: small /month
        div.text-center
          table.table.table-striped.small.no-m
            tbody
              tr: td Unlimited Websites
              tr: td Unlimited Storage
              tr: td Unlimited bandwidth
              tr: td 500 Email Addresses
              tr: td Free Domain with annual plan
              tr: td 2X Processing Power & Memory
              tr: td Premium DNS Management Tool1 year SSL Certificate - Secures customer data & increases search rankings
          +buttons("btn-yellow btn-block no-b","Add Cart")
  div.col-xs-12.col-sm-4.col-md-2
    div.panel.panel-green
      div.panel-heading.text-center Deluxe
      div.panel-body.no-p
        div.ptop20.pbottom20.text-center
          h1.text-green
            |$10
            small: small /month
        div.text-center
          table.table.table-striped.small.no-m
            tbody
              tr: td Unlimited Websites
              tr: td Unlimited Storage
              tr: td Unlimited bandwidth
              tr: td 500 Email Addresses
              tr: td Free Domain with annual plan
              tr: td 2X Processing Power & Memory
              tr: td Premium DNS Management Tool1 year SSL Certificate - Secures customer data & increases search rankings
          +buttons("btn-green btn-block no-b","Add Cart")
  div.col-xs-12.col-sm-4.col-md-2
    div.panel.panel-blue
      div.panel-heading.text-center Deluxe
      div.panel-body.no-p
        div.ptop20.pbottom20.text-center
          h1.text-blue
            |$10
            small: small /month
        div.text-center
          table.table.table-striped.small.no-m
            tbody
              tr: td Unlimited Websites
              tr: td Unlimited Storage
              tr: td Unlimited bandwidth
              tr: td 500 Email Addresses
              tr: td Free Domain with annual plan
              tr: td 2X Processing Power & Memory
              tr: td Premium DNS Management Tool1 year SSL Certificate - Secures customer data & increases search rankings
          +buttons("btn-blue btn-block no-b","Add Cart")
  div.col-xs-12.col-sm-4.col-md-2
    div.panel.panel-violet
      div.panel-heading.text-center Deluxe
      div.panel-body.no-p
        div.ptop20.pbottom20.text-center
          h1.text-violet
            |$10
            small: small /month
        div.text-center
          table.table.table-striped.small.no-m
            tbody
              tr: td Unlimited Websites
              tr: td Unlimited Storage
              tr: td Unlimited bandwidth
              tr: td 500 Email Addresses
              tr: td Free Domain with annual plan
              tr: td 2X Processing Power & Memory
              tr: td Premium DNS Management Tool1 year SSL Certificate - Secures customer data & increases search rankings
          +buttons("btn-violet btn-block no-b","Add Cart")
