//- Pages - Pricing Tables - Compare Table


//- include ../../common/variables
include ../mixins


div.table-responsive(style="background:#fff;")
  table.table.table-bordered.table-hover.table-striped.table-success.text-center.no-m
    thead
      tr
        th.text-left
          strong FEATURE
        th.text-center
          strong LAUNCH
        th.text-center
          strong POWER
        th.text-center
          strong PRO
    tbody
      tr
        td.text-left
          strong SSD Included FREE
          |&nbsp;(Others Charge!)
        td
          i.fa.fa-check.text-success
        td
          i.fa.fa-check.text-success
        td
          i.fa.fa-check.text-success
      tr
        td.text-left MySQL &amp; PostgreSQL Databases
        td 2
        td 50
        td UNLIMITED
      tr
        td.text-left Disk Space (GB)
        td UNLIMITED
        td UNLIMITED
        td UNLIMITED
      tr
        td.text-left Monthly Transfer Included (GB)
        td UNLIMITED
        td UNLIMITED
        td UNLIMITED
      tr
        td.text-left Websites on 1 Account
        td 2
        td 6
        td UNLIMITED
      tr
        td.text-left FREE* No-Downtime Website Transfers
        td
          i.fa.fa-check.text-success
        td
          i.fa.fa-check.text-success
        td
          i.fa.fa-check.text-success
      tr
        td.text-left FREE Data Backups (Others Charge!)
        td INCLUDED
        td INCLUDED
        td INCLUDED
      tr
        td.text-left 24 x 7 x 365 US-Based Support
        td
          i.fa.fa-check.text-success
        td
          i.fa.fa-check.text-success
        td
          i.fa.fa-check.text-success
      tr
        td.text-left 90-Day Money-Back Guarantee
        td INCLUDED
        td INCLUDED
        td INCLUDED
      tr
        td.text-left Max Speed Zones™
        td Enabled
        td Enabled
        td Enabled
      tr
        td.text-left Pro Level Support
        td
          i.fa.fa-close.text-red
        td
          i.fa.fa-close.text-red
        td
          i.fa.fa-check.text-success
      tr
        td.text-left E-Commerce Ready
        td
          i.fa.fa-close.text-red
        td
          i.fa.fa-check.text-success
        td
          i.fa.fa-check.text-success
      tr
        td.text-left PHP, Ruby, Perl, Python
        td
          i.fa.fa-check.text-success
        td
          i.fa.fa-check.text-success
        td
          i.fa.fa-check.text-success
      tr
        td.text-left SSH Access
        td
          i.fa.fa-check.text-success
        td
          i.fa.fa-check.text-success
        td
          i.fa.fa-check.text-success
      tr
        td.text-left WP-CLI Enabled
        td
          i.fa.fa-check.text-success
        td
          i.fa.fa-check.text-success
        td
          i.fa.fa-check.text-success
      tr
        td.text-left Easy Google Apps Integration
        td
          i.fa.fa-check.text-success
        td
          i.fa.fa-check.text-success
        td
          i.fa.fa-check.text-success
      tr
        td.text-left Business-Class Hardware
        td
          i.fa.fa-check.text-success
        td
          i.fa.fa-check.text-success
        td
          i.fa.fa-check.text-success
      tr
        td.text-left Easy Control Panel
        td
          i.fa.fa-check.text-success
        td
          i.fa.fa-check.text-success
        td
          i.fa.fa-check.text-success
      tr
        td.text-left Over 310 FREE Applications
        td
          i.fa.fa-check.text-success
        td
          i.fa.fa-check.text-success
        td
          i.fa.fa-check.text-success
      tr
        td.text-left WordPress, PrestaShop, or Joomla Preinstalled
        td
          i.fa.fa-check.text-success
        td
          i.fa.fa-check.text-success
        td
          i.fa.fa-check.text-success
      tr
        td.text-left Safe Application Roll-Back
        td
          i.fa.fa-check.text-success
        td
          i.fa.fa-check.text-success
        td
          i.fa.fa-check.text-success
      tr
        td.text-left Premium Website Builder
        td
          i.fa.fa-check.text-success
        td
          i.fa.fa-check.text-success
        td
          i.fa.fa-check.text-success
      tr
        td.text-left Parked Domains
        td 6
        td 26
        td UNLIMITED
      tr
        td.text-left Sub Domains
        td 25
        td 100
        td UNLIMITED
      tr
        td.text-left SPAM Safe™ Email with IMAP
        td UNLIMITED
        td UNLIMITED
        td UNLIMITED
    tfoot
      tr.text-center
        td
        td
          p
            del.small $7.99/month
            br
            strong.text-red $3.49
            small /mo.
          +buttons("btn-success btn-block","ORDER NOW")
        td
          p
            del.small $9.99/month
            br
            strong.text-red $4.49
            small /mo.
          +buttons("btn-success btn-block","ORDER NOW")
        td
          p
            del.small $15.99/month
            br
            strong.text-red $7.49
            small /mo.
          +buttons("btn-success btn-block","ORDER NOW")