//- Pages - Blog Page - Sidebar


include ../../common/variables
include ../mixins


//Blog Sidebar Widget - Profile
div.blog-widget
  include ./widget-profile-card-1

//Blog Sidebar Widget - Search
div.blog-widget
  include ./widget-search

//Blog Sidebar Widget - Categories
div.blog-widget
  include ./widget-blog-categories

//Blog Sidebar Widget - Carousel
div.blog-widget
  include ./widget-blog-carousel

//Blog Sidebar Widget - Posts List
div.blog-widget
  include ./widget-blog-posts

//Blog Sidebar Widget - Comments List
div.blog-widget
  include ./widget-blog-comments

//Blog Sidebar Widget - Pictures List
div.blog-widget
  include ./widget-blog-pictures

//Blog Sidebar Widget - Tags
div.blog-widget
  include ./widget-blog-tags

//Blog Sidebar Widget - Advertisement
div.blog-widget
  include ./widget-blog-ads

//Blog Sidebar Widget - Archives
div.blog-widget
  include ./widget-blog-archives