//- Pages - Timeline - Two Column


include ../../common/variables
include ../mixins


style.
  #collapse-tabs-timeline .panel{
    background-color:transparent;
  }

ul.timeline-2col

  li.timeline-label.timeline-primary.animated.flipInX
    strong 2015

  li.timeline-item.timeline-white
    div.timeline-badge.animated.fadeInDown
    div.timeline-tag.animated.bounceInLeft
      dl
        dt Lorem
        dd
          i.fa.fa-bell
          span 14:56
    div.timeline-panel.animated.bounceInRight
      div.timeline-panel-heading
        div.timeline-panel-num 01
        div.timeline-panel-data
          h4
            strong Thursday
            small January 25, 2015
      div.timeline-panel-body
        img.pull-left.mright10.mbottom10(src="http://lorempixel.com/100/100")
        h4.media-heading Lorem ipsum dolor
        p Lorem ipsum dolor sit amet, consectetuer adipiscing elitipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

  li.timeline-item.timeline-primary.timeline-left
    div.timeline-badge.animated.fadeInDown
    div.timeline-tag.animated.bounceInRight
      dl
        dd
          i.fa.fa-binoculars
          span 14:56
        dt Lorem
    div.timeline-panel.animated.bounceInLeft
      div.timeline-panel-heading
        div.timeline-panel-num 02
        div.timeline-panel-data
          h4
            strong Thursday
            small January 25, 2015
      div.timeline-panel-body
        h4 Consectetuer adipiscing elit
        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

  li.timeline-item.timeline-success
    div.timeline-badge.animated.fadeInDown
    div.timeline-tag.animated.bounceInLeft
      dl
        dt Lorem
        dd
          i.fa.fa-bar-chart
          span 14:56
    div.timeline-panel.animated.bounceInRight
      div.timeline-panel-heading
        div.timeline-panel-num 03
        div.timeline-panel-data
          h4
            strong Thursday
            small January 25, 2015
      div.timeline-panel-body
        img(src="http://lorempixel.com/640/320" width="100%")

  li.timeline-label.timeline-danger.animated.fadeIn
    strong 2014

  li.timeline-item.timeline-info.timeline-left
    div.timeline-badge.animated.fadeInDown
    div.timeline-tag.animated.bounceInRight
      dl
        dd
          i.fa.fa-eye
          span 14:56
        dt Lorem
    div.timeline-panel.animated.bounceInLeft
      div.timeline-panel-heading
        div.timeline-panel-num 04
        div.timeline-panel-data
          h4
            strong Thursday
            small January 25, 2015
      div.timeline-panel-body
        ul.list-unstyled.list-inline
          li: a(href="#")
              img.mbottom10(src="http://lorempixel.com/80/80/abstract/")
          li: a(href="#")
              img.mbottom10(src="http://lorempixel.com/80/80/animals/")
          li: a(href="#")
              img.mbottom10(src="http://lorempixel.com/80/80/business/")
          li: a(href="#")
              img.mbottom10(src="http://lorempixel.com/80/80/cats/")
          li: a(href="#")
              img.mbottom10(src="http://lorempixel.com/80/80/city/")
          li: a(href="#")
              img.mbottom10(src="http://lorempixel.com/80/80/food/")
          li: a(href="#")
              img.mbottom10(src="http://lorempixel.com/80/80/nightlife/")
          li: a(href="#")
              img.mbottom10(src="http://lorempixel.com/80/80/fashion/")
          li: a(href="#")
              img.mbottom10(src="http://lorempixel.com/80/80/people/")

  li.timeline-item.timeline-warning
    div.timeline-badge.animated.fadeInDown
    div.timeline-tag.animated.bounceInRight
      dl
        dd
          i.fa.fa-binoculars
          span 14:56
        dt Lorem
    div.timeline-panel.animated.bounceInLeft
      div.timeline-panel-heading
        div.timeline-panel-num 05
        div.timeline-panel-data
          h4
            strong Thursday
            small January 25, 2015
      div.timeline-panel-body
        div.embed-responsive.embed-responsive-16by9
          iframe.embed-responsive-item(src="//player.vimeo.com/video/77729428")

  li.timeline-label.timeline-green.animated.fadeIn
    strong 2013

  li.timeline-item.timeline-danger.timeline-left
    div.timeline-badge.animated.fadeInDown
    div.timeline-tag.animated.bounceInRight
      dl
        dd
          i.fa.fa-camera-retro
          span 14:56
        dt Lorem
    div.timeline-panel.animated.bounceInLeft
      div.timeline-panel-heading
        div.timeline-panel-num 06
        div.timeline-panel-data
          h4
            strong Thursday
            small January 25, 2015
      div.timeline-panel-body
        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

  li.timeline-item.timeline-red
    div.timeline-badge
    div.timeline-tag
      dl
        dd
          i.fa.fa-camera-retro
          span 14:56
        dt Lorem
    div.timeline-panel
      div.timeline-panel-heading
        div.timeline-panel-num 06
        div.timeline-panel-data
          h4
            strong Thursday
            small January 25, 2015
      div.timeline-panel-body
        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

  li.timeline-item.timeline-yellow.timeline-left
    div.timeline-badge
    div.timeline-tag
      dl
        dd
          i.fa.fa-camera-retro
          span 14:56
        dt Lorem
    div.timeline-panel
      div.timeline-panel-heading
        div.timeline-panel-num 06
        div.timeline-panel-data
          h4
            strong Thursday
            small January 25, 2015
      div.timeline-panel-body
        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

  li.timeline-item.timeline-green
    div.timeline-badge
    div.timeline-tag
      dl
        dd
          i.fa.fa-camera-retro
          span 14:56
        dt Lorem
    div.timeline-panel
      div.timeline-panel-heading
        div.timeline-panel-num 06
        div.timeline-panel-data
          h4
            strong Thursday
            small January 25, 2015
      div.timeline-panel-body
        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

  li.timeline-item.timeline-black.timeline-left
    div.timeline-badge
    div.timeline-tag
      dl
        dd
          i.fa.fa-camera-retro
          span 14:56
        dt Lorem
    div.timeline-panel
      div.timeline-panel-heading
        div.timeline-panel-num 06
        div.timeline-panel-data
          h4
            strong Thursday
            small January 25, 2015
      div.timeline-panel-body
        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

  li.timeline-item.timeline-blue
    div.timeline-badge
    div.timeline-tag
      dl
        dd
          i.fa.fa-camera-retro
          span 14:56
        dt Lorem
    div.timeline-panel
      div.timeline-panel-heading
        div.timeline-panel-num 06
        div.timeline-panel-data
          h4
            strong Thursday
            small January 25, 2015
      div.timeline-panel-body
        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

  li.timeline-item.timeline-violet.timeline-left
    div.timeline-badge
    div.timeline-tag
      dl
        dd
          i.fa.fa-camera-retro
          span 14:56
        dt Lorem
    div.timeline-panel
      div.timeline-panel-heading
        div.timeline-panel-num 06
        div.timeline-panel-data
          h4
            strong Thursday
            small January 25, 2015
      div.timeline-panel-body
        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

  li.timeline-item.timeline-pink
    div.timeline-badge
    div.timeline-tag
      dl
        dd
          i.fa.fa-camera-retro
          span 14:56
        dt Lorem
    div.timeline-panel
      div.timeline-panel-heading
        div.timeline-panel-num 06
        div.timeline-panel-data
          h4
            strong Thursday
            small January 25, 2015
      div.timeline-panel-body
        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

  li.timeline-item.timeline-grey.timeline-left
    div.timeline-badge
    div.timeline-tag
      dl
        dd
          i.fa.fa-camera-retro
          span 14:56
        dt Lorem
    div.timeline-panel
      div.timeline-panel-heading
        div.timeline-panel-num 06
        div.timeline-panel-data
          h4
            strong Thursday
            small January 25, 2015
      div.timeline-panel-body
        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

  li.timeline-label.timeline-white.animated.fadeIn
    strong
      a(href="#")
        i.fa.fa-plus