//- UI Elements - Progress Bars - Misc


include ../../common/variables
include ../mixins


div.row
  div.col-lg-4

    //Transition delay
    div.panel.panel-white
      div.panel-heading Transition delay
      div.panel-body
        div.demo-progress-bar
          +buttons('btn-success mright5', 'Start')(id="m-delay-start")
          +buttons('btn-danger', 'Reset')(id="m-delay-reset")
        div.demo-progress-bar
          div#m-delay
            //data-init="false": Don't Init Progress Bar
            div.progress.progress-striped.active(data-init="false"): div.progress-bar(role="progressbar" data-transitiongoal-backup="20")
            div.progress.progress-striped.active(data-init="false"): div.progress-bar.progress-bar-success(role="progressbar" data-transitiongoal-backup="40")
            div.progress.progress-striped.active(data-init="false"): div.progress-bar.progress-bar-info(role="progressbar" data-transitiongoal-backup="60")
            div.progress.progress-striped.active(data-init="false"): div.progress-bar.progress-bar-warning(role="progressbar" data-transitiongoal-backup="80")
            div.progress.progress-striped.active(data-init="false"): div.progress-bar.progress-bar-danger(role="progressbar" data-transitiongoal-backup="100")

    //Custom amount format
    div.panel.panel-white
      div.panel-heading Custom amount format
      div.panel-body
        div.demo-progress-bar
          +buttons('btn-success mright5', 'Start')(id="m-custom-amount-format-start")
          +buttons('btn-danger', 'Reset')(id="m-custom-amount-format-reset")
        div.demo-progress-bar
          div#m-custom-amount-format
            //data-init="false": Don't Init Progress Bar
            div.progress.progress-striped.active(data-init="false"): div.progress-bar(role="progressbar" data-transitiongoal-backup="20")
            div.progress.progress-striped.active(data-init="false"): div.progress-bar.progress-bar-success(role="progressbar" data-transitiongoal-backup="40")
            div.progress.progress-striped.active(data-init="false"): div.progress-bar.progress-bar-info(role="progressbar" data-transitiongoal-backup="60")
            div.progress.progress-striped.active(data-init="false"): div.progress-bar.progress-bar-warning(role="progressbar" data-transitiongoal-backup="80")
            div.progress.progress-striped.active(data-init="false"): div.progress-bar.progress-bar-danger(role="progressbar" data-transitiongoal-backup="100")

    //Callbacks using $this
    div.panel.panel-white
      div.panel-heading Callbacks using $this
      div.panel-body
        div.demo-progress-bar
          +buttons('btn-success mright5', 'Start')(id="m-callback-this-start")
          +buttons('btn-danger', 'Reset')(id="m-callback-this-reset")
        div.demo-progress-bar
          div#m-callback-this(style="padding: 10px 10px 20px; border: 1px #eee solid;")
            //data-init="false": Don't Init Progress Bar
            div.progress.progress-striped.active(data-init="false"): div.progress-bar.six-sec-ease-in-out(role="progressbar" data-transitiongoal-backup="100")

  div.col-lg-4

    //Refresh speed
    div.panel.panel-white
      div.panel-heading Refresh speed
      div.panel-body
        div.demo-progress-bar
          +buttons('btn-success mright5', 'Start')(id="m-refresh-speed-start")
          +buttons('btn-danger', 'Reset')(id="m-refresh-speed-reset")
        div.demo-progress-bar
          div#m-refresh-speed
            //data-init="false": Don't Init Progress Bar
            div.progress.progress-striped.active(data-init="false"): div.progress-bar(role="progressbar" data-transitiongoal-backup="20")
            div.progress.progress-striped.active(data-init="false"): div.progress-bar.progress-bar-success(role="progressbar" data-transitiongoal-backup="40")
            div.progress.progress-striped.active(data-init="false"): div.progress-bar.progress-bar-info(role="progressbar" data-transitiongoal-backup="60")
            div.progress.progress-striped.active(data-init="false"): div.progress-bar.progress-bar-warning(role="progressbar" data-transitiongoal-backup="80")
            div.progress.progress-striped.active(data-init="false"): div.progress-bar.progress-bar-danger(role="progressbar" data-transitiongoal-backup="100")

    //Custom amount format with min value
    div.panel.panel-white
      div.panel-heading Custom amount format with min value
      div.panel-body
        div.demo-progress-bar
          +buttons('btn-success mright5', 'Start')(id="m-custom-amount-format-with-min-value-start")
          +buttons('btn-danger', 'Reset')(id="m-custom-amount-format-with-min-value-reset")
        div.demo-progress-bar
          div#m-custom-amount-format-with-min-value
            //data-init="false": Don't Init Progress Bar
            div.progress.progress-striped.active(data-init="false"): div.progress-bar(role="progressbar" data-transitiongoal-backup="20")
            div.progress.progress-striped.active(data-init="false"): div.progress-bar.progress-bar-success(role="progressbar" data-transitiongoal-backup="40")
            div.progress.progress-striped.active(data-init="false"): div.progress-bar.progress-bar-info(role="progressbar" data-transitiongoal-backup="60")
            div.progress.progress-striped.active(data-init="false"): div.progress-bar.progress-bar-warning(role="progressbar" data-transitiongoal-backup="80")
            div.progress.progress-striped.active(data-init="false"): div.progress-bar.progress-bar-danger(role="progressbar" data-transitiongoal-backup="100")

    //Error
    div.panel.panel-white
      div.panel-heading Error
      div.panel-body
        div.demo-progress-bar
          +buttons('btn-success mright5', 'Start')(id="m-error-start")
        div.demo-progress-bar
          div#m-error
            //data-init="false": Don't Init Progress Bar
            div.progress.progress-striped.active(data-init="false"): div.progress-bar(role="progressbar")
            p
              |error:&nbsp;
              span#m-callback-error.label.label-danger

  div.col-lg-4

    //Custom percent format
    div.panel.panel-white
      div.panel-heading Custom percent format
      div.panel-body
        div.demo-progress-bar
          +buttons('btn-success mright5', 'Start')(id="m-custom-percentage-format-start")
          +buttons('btn-danger', 'Reset')(id="m-custom-percentage-format-reset")
        div.demo-progress-bar
          div#m-custom-percentage-format
            //data-init="false": Don't Init Progress Bar
            div.progress.progress-striped.active(data-init="false"): div.progress-bar(role="progressbar" data-transitiongoal-backup="20")
            div.progress.progress-striped.active(data-init="false"): div.progress-bar.progress-bar-success(role="progressbar" data-transitiongoal-backup="40")
            div.progress.progress-striped.active(data-init="false"): div.progress-bar.progress-bar-info(role="progressbar" data-transitiongoal-backup="60")
            div.progress.progress-striped.active(data-init="false"): div.progress-bar.progress-bar-warning(role="progressbar" data-transitiongoal-backup="80")
            div.progress.progress-striped.active(data-init="false"): div.progress-bar.progress-bar-danger(role="progressbar" data-transitiongoal-backup="100")

    //Callbacks
    div.panel.panel-white
      div.panel-heading Callbacks
      div.panel-body
        div.demo-progress-bar
          +buttons('btn-success mright5', 'Start')(id="m-callback-start")
          +buttons('btn-danger', 'Reset')(id="m-callback-reset")
        div.demo-progress-bar
          div#m-callback
            //data-init="false": Don't Init Progress Bar
            div.progress.progress-striped.active(data-init="false"): div.progress-bar(role="progressbar" data-transitiongoal-backup="100")
            p
              |Update:&nbsp;
              span#m-callback-update.label.label-info
            p
              |Done:&nbsp;
              span#m-callback-done.label.label-success

    //Multi trigger
    div.panel.panel-white
      div.panel-heading Multi trigger
      div.panel-body
        div.demo-progress-bar
          +buttons('btn-success mright5', '0')(id="m-multi-trigger-0")
          +buttons('btn-success mright5', '50')(id="m-multi-trigger-50")
          +buttons('btn-success mright5', '100')(id="m-multi-trigger-100")
        div.demo-progress-bar
          div#m-multi-trigger
            //data-init="false": Don't Init Progress Bar
            div.progress.progress-striped.active(data-init="false"): div.progress-bar(role="progressbar")