//- Sidebar - Profile

include ../../common/variables


//Profile
ul(class="nav side-menu")

  li(class="sidebar-profile")

    div(class="media clearfix")

      div(class="pull-left")
        img(class="media-object img-circle img-responsive" src="#{userhead[6]}" alt="Ryan Hsu")

      div(class="media-body")

        h5(class="media-heading")
          |Ryan Hsu
          span(class="badge badge-green" data-hover="tooltip" title="online" data-placement="right") &nbsp;

        ul(class="list-inline list-unstyled")

          li: a(href="pages-profile.html" data-hover="tooltip" title="Profile" data-placement="top"): i(class="fa fa-user")

          li: a(href="email-inbox.html" data-hover="tooltip" title="Mail" data-placement="top"): i(class="fa fa-envelope")

          li: a(href="#" data-hover="tooltip" title="Settings" data-placement="top"): i(class="fa fa-cog")

          li: a(href="pages-lock_screen.html" data-hover="tooltip" title="Logout" data-placement="top"): i(class="fa fa-sign-out")