//- UI Elements - Sliders - jQuery UI Sliders


//- include ../../common/variables
//- include ../mixins


div.row
  div.col-md-6

    //Default functionality
    div.panel.panel-white
      div.panel-heading Default functionality
      div.panel-body
        div.demo-sliders
          div#slider-default-functionality

    //Range slider
    div.panel.panel-white
      div.panel-heading Range slider
      div.panel-body
        div.demo-sliders
          div.input-group
            span.input-group-addon Price range
            input#amount-range-slider.form-control(type="text" readonly)
        div.demo-sliders
          div#slider-range-slider

    //Range with fixed maximum
    div.panel.panel-white
      div.panel-heading Range with fixed maximum
      div.panel-body
        div.demo-sliders
          div.input-group
            span.input-group-addon Minimum number of bedrooms
            input#amount-range-max.form-control(type="text" readonly)
        div.demo-sliders
          div#slider-range-max

    //Snap to increments
    div.panel.panel-white
      div.panel-heading Snap to increments
      div.panel-body
        div.demo-sliders
          div.input-group
            span.input-group-addon Minimum number of bedrooms
            input#amount-snap-to-increments.form-control(type="text" readonly)
        div.demo-sliders
          div#slider-snap-to-increments

    //Vertical slider
    div.panel.panel-white
      div.panel-heading Vertical slider
      div.panel-body
        div.demo-sliders
          div.input-group
            span.input-group-addon Volume
            input#amount-vertical.form-control(type="text" readonly)
        div.demo-sliders(style="height:250px;")
          div#slider-vertical


  div.col-md-6

    //Multiple sliders
    div.panel.panel-white
      div.panel-heading Multiple sliders
      div.panel-body
        div.demo-sliders
          div#slider-multiple-sliders(style="height:150px;")
            span 88
            span 77
            span 55
            span 33
            span 44
            span 70
            span 45

    //Range with fixed minimum
    div.panel.panel-white
      div.panel-heading Range with fixed minimum
      div.panel-body
        div.demo-sliders
          div.input-group
            span.input-group-addon Maximum price
            input#amount-range-min.form-control(type="text" readonly)
        div.demo-sliders
          div#slider-range-min

    //Vertical range slider
    div.panel.panel-white
      div.panel-heading Vertical range slider
      div.panel-body
        div.demo-sliders
          div.input-group
            span.input-group-addon Target sales goal (Millions)
            input#amount-vertical-range-slider.form-control(type="text" readonly)
        div.demo-sliders(style="height:250px;")
          div#slider-vertical-range-slider

    //Color Options
    div.panel.panel-white
      div.panel-heading Color Options
      div.panel-body
        div.demo-sliders: div#slider-color-primary.slider-color-primary
        div.demo-sliders: div#slider-color-success.slider-color-success
        div.demo-sliders: div#slider-color-info.slider-color-info
        div.demo-sliders: div#slider-color-warning.slider-color-warning
        div.demo-sliders: div#slider-color-danger.slider-color-danger
        div.demo-sliders: div#slider-color-red.slider-color-red
        div.demo-sliders: div#slider-color-orange.slider-color-orange
        div.demo-sliders: div#slider-color-yellow.slider-color-yellow
        div.demo-sliders: div#slider-color-green.slider-color-green
        div.demo-sliders: div#slider-color-black.slider-color-black
        div.demo-sliders: div#slider-color-blue.slider-color-blue
        div.demo-sliders: div#slider-color-violet.slider-color-violet
        div.demo-sliders: div#slider-color-pink.slider-color-pink
        div.demo-sliders: div#slider-color-grey.slider-color-grey