//- UI Elements - Sliders - Ion Range Sliders


//- include ../../common/variables
//- include ../mixins


div.row

  div.col-lg-12

    //Start without params
    div.panel.panel-white
      div.panel-heading Start without params
      div.panel-body
        div.demo-sliders
          span#range_01

    //Set min value, max value and start point
    div.panel.panel-white
      div.panel-heading Set min value, max value and start point
      div.panel-body
        div.demo-sliders
          span#range_02

    //Set type to double and specify range, also showing grid and adding prefix "$"
    div.panel.panel-white
      div.panel-heading Set type to double and specify range, also showing grid and adding prefix "$"
      div.panel-body
        div.demo-sliders
          span#range_03

    //Set up range with negative values
    div.panel.panel-white
      div.panel-heading Set up range with negative values
      div.panel-body
        div.demo-sliders
          span#range_04

    //Using step 250
    div.panel.panel-white
      div.panel-heading Using step 250
      div.panel-body
        div.demo-sliders
          span#range_05

    //Set up range with fractional values, using fractional step
    div.panel.panel-white
      div.panel-heading Set up range with fractional values, using fractional step
      div.panel-body
        div.demo-sliders
          span#range_06

    //Set up you own numbers
    div.panel.panel-white
      div.panel-heading Set up you own numbers
      div.panel-body
        div.demo-sliders
          span#range_07

    //Using any strings as your values
    div.panel.panel-white
      div.panel-heading Using any strings as your values
      div.panel-body
        div.demo-sliders
          span#range_08

    //One more example with strings
    div.panel.panel-white
      div.panel-heading One more example with strings
      div.panel-body
        div.demo-sliders
          span#range_09

    //No prettify. Big numbers are ugly and unreadable
    div.panel.panel-white
      div.panel-heading No prettify. Big numbers are ugly and unreadable
      div.panel-body
        div.demo-sliders
          span#range_10

    //Prettify enabled. Much better!
    div.panel.panel-white
      div.panel-heading Prettify enabled. Much better!
      div.panel-body
        div.demo-sliders
          span#range_11

    //Don't like space as separator? Use anything you like!
    div.panel.panel-white
      div.panel-heading Don't like space as separator? Use anything you like!
      div.panel-body
        div.demo-sliders
          span#range_12

    //You don't like default prettify function? Use your own!
    div.panel.panel-white
      div.panel-heading You don't like default prettify function? Use your own!
      div.panel-body
        div.demo-sliders
          span#range_13

    //Using prefixes
    div.panel.panel-white
      div.panel-heading Using prefixes
      div.panel-body
        div.demo-sliders
          span#range_14

    //Using postfixes
    div.panel.panel-white
      div.panel-heading Using postfixes
      div.panel-body
        div.demo-sliders
          span#range_15

    //Want to show that max number is not the biggest one?
    div.panel.panel-white
      div.panel-heading Want to show that max number is not the biggest one?
      div.panel-body
        div.demo-sliders
          span#range_16

    //Taking care about how from and to values connect? Use decorate_both option:
    div.panel.panel-white
      div.panel-heading Taking care about how from and to values connect? Use decorate_both option:
      div.panel-body
        div.demo-sliders
          span#range_17

    //Remove double decoration
    div.panel.panel-white
      div.panel-heading Remove double decoration
      div.panel-body
        div.demo-sliders
          span#range_18

    //Use your own separator symbol with values_separator option. Like →
    div.panel.panel-white
      div.panel-heading Use your own separator symbol with values_separator option. Like →
      div.panel-body
        div.demo-sliders
          span#range_19

    //Or " to ":
    div.panel.panel-white
      div.panel-heading Or " to ":
      div.panel-body
        div.demo-sliders
          span#range_20

    //Disable all the sliders visual details
    div.panel.panel-white
      div.panel-heading Disable all the sliders visual details
      div.panel-body
        div.demo-sliders
          span#range_21

    //Hide any part you wish
    div.panel.panel-white
      div.panel-heading Hide any part you wish
      div.panel-body
        div.demo-sliders
          span#range_22