//- Tables - Data Tables - Ajax


include ../../common/variables
include ../mixins


div.p10

  table#demo-datatables-4.table.table-bordered.table-striped.table-hover.table-default
    thead
      tr
        th Name
        th Position
        th Office
        th Extn.
        th Start date
        th Salary
    tfoot
      tr
        th Name
        th Position
        th Office
        th Extn.
        th Start date
        th Salary