//- Tables - Basic Tables - Simple Table

include ../../common/variables
include ../mixins


table.table
  thead
    tr
      th #
      th Entity
      th Value
      th Status
  tbody
    tr
      td 1
      td Facebook
      td 573
      td
        div.progress.no-mb(data-hover="tooltip" data-original-title="40%"): div.progress-bar.progress-bar-primary(role="progressbar" data-transitiongoal="40")
    tr
      td 2
      td Google
      td 1,138
      td
        div.progress.no-mb(data-hover="tooltip" data-original-title="21%"): div.progress-bar.progress-bar-success(role="progressbar" data-transitiongoal="21")
    tr
      td 3
      td Yahoo
      td 488
      td
        div.progress.no-mb(data-hover="tooltip" data-original-title="57%"): div.progress-bar.progress-bar-info(role="progressbar" data-transitiongoal="57")
    tr
      td 4
      td Themeforest
      td 1,290
      td
        div.progress.no-mb(data-hover="tooltip" data-original-title="85%"): div.progress-bar.progress-bar-warning(role="progressbar" data-transitiongoal="85")
    tr
      td 5
      td Evanto
      td 478
      td
        div.progress.no-mb(data-hover="tooltip" data-original-title="62%"): div.progress-bar.progress-bar-danger(role="progressbar" data-transitiongoal="62")