//- UI Advanced - Tree View - TreeTable

//- include ../../common/variables
//- include ../mixins


div.panel.panel-green
  div.panel-heading
    |TreeTable
    span.badge.badge-danger.mleft5 v3.2.0
  div.panel-body

    //Basic jQuery treetable Example
    div.mbottom25
      h4 Basic jQuery treetable Example
      table#example-basic
        thead
          tr
            th Tree column
            th Additional data
        tbody
          tr(data-tt-id="1")
            td Node 1: Click on the icon in front of me to expand this branch.
            td I live in the second column.
          tr(data-tt-id="1.1" data-tt-parent-id="1")
            td!= 'Node 1.1: Look, I am a table row <em>and</em> I am part of a tree!'
            td Interesting.
          tr(data-tt-id="1.1.1" data-tt-parent-id="1.1")
            td Node 1.1.1: I am part of the tree too!
            td That's it!
          tr(data-tt-id="2")
            td Node 2: I am another root node, but without children
            td Hurray!

    //Basic Static Tree
    div.mbottom25
      h4 Basic Static Tree
      table#example-basic-static
        tr(data-tt-id="0")
          td app
        tr(data-tt-id="1" data-tt-parent-id="0")
          td controllers
        tr(data-tt-id="5" data-tt-parent-id="1")
          td application_controller.rb
        tr(data-tt-id="2" data-tt-parent-id="0")
          td helpers
        tr(data-tt-id="3" data-tt-parent-id="0")
          td models
        tr(data-tt-id="4" data-tt-parent-id="0")
          td views

    //Basic Expandable Tree
    div.mbottom25
      h4 Basic Expandable Tree
      table#example-basic-expandable
        tr(data-tt-id="0")
          td app
        tr(data-tt-id="1" data-tt-parent-id="0")
          td controllers
        tr(data-tt-id="5" data-tt-parent-id="1")
          td application_controller.rb
        tr(data-tt-id="2" data-tt-parent-id="0")
          td helpers
        tr(data-tt-id="3" data-tt-parent-id="0")
          td models
        tr(data-tt-id="4" data-tt-parent-id="0")
          td views

    //Complex Tree With Drag and Drop
    div.mbottom15
      h4 Complex Tree With Drag and Drop
      p!= 'This example uses <a href="http://jqueryui.com">jQuery UI</a>\'s Draggable and Droppable components. The tree has 459 nodes.'
      form#reveal.form-inline(role="form")
        div.form-group
          input#revealNodeId.form-control(type="text" name="nodeId" placeholder="nodeId")
        +buttons("btn-danger", "Reveal")(type="submit")
      p.mtop5.mbottom15!= '<small>Examples: <code>2-1-1</code>, <code>3-1-1-2-2</code> and <code>3-2-1-2-3-1-2-2-1-1-1-1-2-5</code></small>'

      table#example-advanced
        caption
          a(href='#', onclick="jQuery('#example-advanced').treetable('expandAll'); return false;") Expand all
          |&nbsp;|&nbsp;
          a(href='#', onclick="jQuery('#example-advanced').treetable('collapseAll'); return false;") Collapse all
        thead
          tr
            th Name
            th Kind
            th Size
        tbody
          tr(data-tt-id='1')
            td
              span.file
                i.fa.fa-file-word-o.mright5
                |Acknowledgements.rtf
            td File
            td 480.95 KB
          tr(data-tt-id='2')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |CHUD
            td Folder
            td --
          tr(data-tt-id='2-1', data-tt-parent-id='2')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |amber
            td Folder
            td --
          tr(data-tt-id='2-1-1', data-tt-parent-id='2-1')
            td
              span.file
                i.fa.fa-file-pdf-o.mright5
                |AmberTraceFormats.pdf
            td File
            td 124.46 KB
          tr(data-tt-id='2-2', data-tt-parent-id='2')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |BigTop
            td Folder
            td --
          tr(data-tt-id='2-2-1', data-tt-parent-id='2-2')
            td
              span.file
                i.fa.fa-file-pdf-o.mright5
                |BigTopUserGuide.pdf
            td File
            td 1314.71 KB
          tr(data-tt-id='2-3', data-tt-parent-id='2')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |Saturn
            td Folder
            td --
          tr(data-tt-id='2-3-1', data-tt-parent-id='2-3')
            td
              span.file
                i.fa.fa-file-pdf-o.mright5
                |SaturnUserGuide.pdf
            td File
            td 694.29 KB
          tr(data-tt-id='2-4', data-tt-parent-id='2')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |Shark
            td Folder
            td --
          tr(data-tt-id='2-4-1', data-tt-parent-id='2-4')
            td
              span.file
                i.fa.fa-file-pdf-o.mright5
                |SharkUserGuide.pdf
            td File
            td 12902.51 KB
          tr(data-tt-id='2-5', data-tt-parent-id='2')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |simg4
            td Folder
            td --
          tr(data-tt-id='2-6', data-tt-parent-id='2')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |simg4_plus
            td Folder
            td --
          tr(data-tt-id='2-7', data-tt-parent-id='2')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |simg5
            td Folder
            td --
          tr(data-tt-id='3')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |DocSets
            td Folder
            td --
          tr(data-tt-id='3-1', data-tt-parent-id='3')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |com.apple.ADC_Reference_Library.CoreReference.docset
            td Folder
            td --
          tr(data-tt-id='3-1-1', data-tt-parent-id='3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |Contents
            td Folder
            td --
          tr(data-tt-id='3-1-1-1', data-tt-parent-id='3-1-1')
            td
              span.file Info.plist
            td File
            td 1.23 KB
          tr(data-tt-id='3-1-1-2', data-tt-parent-id='3-1-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |Resources
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-1', data-tt-parent-id='3-1-1-2')
            td
              span.file docSet.dsidx
            td File
            td 41504 KB
          tr(data-tt-id='3-1-1-2-2', data-tt-parent-id='3-1-1-2')
            td
              span.file docSet.skidx
            td File
            td 43072 KB
          tr(data-tt-id='3-1-1-2-3', data-tt-parent-id='3-1-1-2')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |Documents
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1', data-tt-parent-id='3-1-1-2-3')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |documentation
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-1', data-tt-parent-id='3-1-1-2-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |Accessibility
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-1-1', data-tt-parent-id='3-1-1-2-3-1-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |Reference
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-1-1-1', data-tt-parent-id='3-1-1-2-3-1-1-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |AccessibilityCarbonRef
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-1-1-1-1', data-tt-parent-id='3-1-1-2-3-1-1-1-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |CarbonAXRefRevisions
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-1-1-1-1-1', data-tt-parent-id='3-1-1-2-3-1-1-1-1-1')
            td
              span.file
                i.fa.fa-file-code-o.mright5
                |CarbonAXRefRevisions.html
            td File
            td 7.44 KB
          tr(data-tt-id='3-1-1-2-3-1-1-1-1-2', data-tt-parent-id='3-1-1-2-3-1-1-1-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |Index
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-1-1-1-2-1', data-tt-parent-id='3-1-1-2-3-1-1-1-1-2')
            td
              span.file
                i.fa.fa-file-code-o.mright5
                |index_of_book.html
            td File
            td 174.1 KB
          tr(data-tt-id='3-1-1-2-3-1-1-1-1-3', data-tt-parent-id='3-1-1-2-3-1-1-1-1')
            td
              span.file
                i.fa.fa-file-code-o.mright5
                |index.html
            td File
            td 1.1 KB
          tr(data-tt-id='3-1-1-2-3-1-1-1-1-4', data-tt-parent-id='3-1-1-2-3-1-1-1-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |Reference
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-1-1-1-4-1', data-tt-parent-id='3-1-1-2-3-1-1-1-1-4')
            td
              span.file
                i.fa.fa-file-code-o.mright5
                |reference.html
            td File
            td 196.28 KB
          tr(data-tt-id='3-1-1-2-3-1-1-1-1-5', data-tt-parent-id='3-1-1-2-3-1-1-1-1')
            td
              span.file
                i.fa.fa-file-code-o.mright5
                |toc.html
            td File
            td 15.92 KB
          tr(data-tt-id='3-1-1-2-3-1-1-1-2', data-tt-parent-id='3-1-1-2-3-1-1-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |AccessibilityLowlevel
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-1-1-2-1', data-tt-parent-id='3-1-1-2-3-1-1-1-2')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |accessibility
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-1-1-2-1-1', data-tt-parent-id='3-1-1-2-3-1-1-1-2-1')
            td
              span.file
                i.fa.fa-file-code-o.mright5
                |CompositePage.html
            td File
            td 5.7 KB
          tr(data-tt-id='3-1-1-2-3-1-1-1-2-1-2', data-tt-parent-id='3-1-1-2-3-1-1-1-2-1')
            td
              span.file
                i.fa.fa-file-code-o.mright5
                |index.html
            td File
            td 1.67 KB
          tr(data-tt-id='3-1-1-2-3-1-1-1-2-1-3', data-tt-parent-id='3-1-1-2-3-1-1-1-2-1')
            td
              span.file
                i.fa.fa-file-code-o.mright5
                |toc.html
            td File
            td 2.87 KB
          tr(data-tt-id='3-1-1-2-3-1-1-1-2-2', data-tt-parent-id='3-1-1-2-3-1-1-1-2')
            td
              span.file
                i.fa.fa-file-code-o.mright5
                |accessibility-constants.html
            td File
            td 26.94 KB
          tr(data-tt-id='3-1-1-2-3-1-1-1-2-3', data-tt-parent-id='3-1-1-2-3-1-1-1-2')
            td
              span.file
                i.fa.fa-file-code-o.mright5
                |accessibility-datatypes.html
            td File
            td 11.02 KB
          tr(data-tt-id='3-1-1-2-3-1-1-1-2-4', data-tt-parent-id='3-1-1-2-3-1-1-1-2')
            td
              span.file
                i.fa.fa-file-code-o.mright5
                |accessibility-functions.html
            td File
            td 15.55 KB
          tr(data-tt-id='3-1-1-2-3-1-1-1-2-5', data-tt-parent-id='3-1-1-2-3-1-1-1-2')
            td
              span.file
                i.fa.fa-file-code-o.mright5
                |accessibility-mpindex.html
            td File
            td 9.87 KB
          tr(data-tt-id='3-1-1-2-3-1-1-1-2-6', data-tt-parent-id='3-1-1-2-3-1-1-1-2')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |AXActionConstants
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-1-1-2-6-1', data-tt-parent-id='3-1-1-2-3-1-1-1-2-6')
            td
              span.file
                i.fa.fa-file-code-o.mright5
                |CompositePage.html
            td File
            td 15.08 KB
          tr(data-tt-id='3-1-1-2-3-1-1-1-2-6-2', data-tt-parent-id='3-1-1-2-3-1-1-1-2-6')
            td
              span.file
                i.fa.fa-file-code-o.mright5
                |index.html
            td File
            td 1.67 KB
          tr(data-tt-id='3-1-1-2-3-1-1-1-2-6-3', data-tt-parent-id='3-1-1-2-3-1-1-1-2-6')
            td
              span.file toc.html
            td File
            td 4.9 KB
          tr(data-tt-id='3-1-1-2-3-1-1-1-2-7', data-tt-parent-id='3-1-1-2-3-1-1-1-2')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |AXAttributeConstants
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-1-1-2-8', data-tt-parent-id='3-1-1-2-3-1-1-1-2')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |AXError
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-1-1-2-9', data-tt-parent-id='3-1-1-2-3-1-1-1-2')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |AXNotificationConstants
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-1-1-2-10', data-tt-parent-id='3-1-1-2-3-1-1-1-2')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |AXRoleConstants
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-1-1-2-11', data-tt-parent-id='3-1-1-2-3-1-1-1-2')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |AXTextAttributedString
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-1-1-2-12', data-tt-parent-id='3-1-1-2-3-1-1-1-2')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |AXUIElement
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-1-1-2-13', data-tt-parent-id='3-1-1-2-3-1-1-1-2')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |AXValue
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-1-1-2-14', data-tt-parent-id='3-1-1-2-3-1-1-1-2')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |AXValueConstants
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-1-1-2-15', data-tt-parent-id='3-1-1-2-3-1-1-1-2')
            td
              span.file
                i.fa.fa-file-code-o.mright5
                |index.html
            td File
            td 10.1 KB
          tr(data-tt-id='3-1-1-2-3-1-1-1-2-16', data-tt-parent-id='3-1-1-2-3-1-1-1-2')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |UniversalAccess
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-2', data-tt-parent-id='3-1-1-2-3-1')
            td
              span.file adcstyle.css
            td File
            td 15.86 KB
          tr(data-tt-id='3-1-1-2-3-1-3', data-tt-parent-id='3-1-1-2-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |AppleApplications
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-3-1', data-tt-parent-id='3-1-1-2-3-1-3')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |Reference
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-3-1-1', data-tt-parent-id='3-1-1-2-3-1-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |AddressBookC_Collection
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-3-1-1-1', data-tt-parent-id='3-1-1-2-3-1-3-1-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |Index
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-3-1-1-1-1', data-tt-parent-id='3-1-1-2-3-1-3-1-1-1')
            td
              span.file
                i.fa.fa-file-code-o.mright5
                |index_of_book.html
            td File
            td 153.98 KB
          tr(data-tt-id='3-1-1-2-3-1-3-1-1-2', data-tt-parent-id='3-1-1-2-3-1-3-1-1')
            td
              span.file
                i.fa.fa-file-code-o.mright5
                |index.html
            td File
            td 13.62 KB
          tr(data-tt-id='3-1-1-2-3-1-3-1-1-3', data-tt-parent-id='3-1-1-2-3-1-3-1-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |Introduction
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-3-1-1-3-1', data-tt-parent-id='3-1-1-2-3-1-3-1-1-3')
            td
              span.file
                i.fa.fa-file-code-o.mright5
                |Introduction.html
            td File
            td 5.41 KB
          tr(data-tt-id='3-1-1-2-3-1-3-1-1-4', data-tt-parent-id='3-1-1-2-3-1-3-1-1')
            td
              span.file
                i.fa.fa-file-code-o.mright5
                |RevisionHistory.html
            td File
            td 4.66 KB
          tr(data-tt-id='3-1-1-2-3-1-3-1-2', data-tt-parent-id='3-1-1-2-3-1-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |AddressBookRefUpdate
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-3-1-2-1', data-tt-parent-id='3-1-1-2-3-1-3-1-2')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |Articles
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-3-1-2-1-1', data-tt-parent-id='3-1-1-2-3-1-3-1-2-1')
            td
              span.file
                i.fa.fa-file-code-o.mright5
                |AddressBook_10.1-10.2_SymbolChanges.html
            td File
            td 80.84 KB
          tr(data-tt-id='3-1-1-2-3-1-3-1-2-1-2', data-tt-parent-id='3-1-1-2-3-1-3-1-2-1')
            td
              span.file
                i.fa.fa-file-code-o.mright5
                |AddressBook_10.2-10.3_SymbolChanges.html
            td File
            td 54.2 KB
          tr(data-tt-id='3-1-1-2-3-1-3-1-2-1-3', data-tt-parent-id='3-1-1-2-3-1-3-1-2-1')
            td
              span.file
                i.fa.fa-file-code-o.mright5
                |AddressBook_10.3-10.4_SymbolChanges.html
            td File
            td 14.78 KB
          tr(data-tt-id='3-1-1-2-3-1-3-1-2-1-4', data-tt-parent-id='3-1-1-2-3-1-3-1-2-1')
            td
              span.file
                i.fa.fa-file-code-o.mright5
                |AddressBook_10.4-10.5_SymbolChanges.html
            td File
            td 11.03 KB
          tr(data-tt-id='3-1-1-2-3-1-3-1-2-1-5', data-tt-parent-id='3-1-1-2-3-1-3-1-2-1')
            td
              span.file
                i.fa.fa-file-code-o.mright5
                |Introduction.html
            td File
            td 7.3 KB
          tr(data-tt-id='3-1-1-2-3-1-3-1-2-1-6', data-tt-parent-id='3-1-1-2-3-1-3-1-2-1')
            td
              span.file
                i.fa.fa-file-code-o.mright5
                |RevisionHistory.html
            td File
            td 6.19 KB
          tr(data-tt-id='3-1-1-2-3-1-3-1-2-2', data-tt-parent-id='3-1-1-2-3-1-3-1-2')
            td
              span.file
                i.fa.fa-file-code-o.mright5
                |index.html
            td File
            td 1.08 KB
          tr(data-tt-id='3-1-1-2-3-1-3-1-2-3', data-tt-parent-id='3-1-1-2-3-1-3-1-2')
            td
              span.file
                i.fa.fa-file-code-o.mright5
                |toc.html
            td File
            td 2.84 KB
          tr(data-tt-id='3-1-1-2-3-1-3-1-3', data-tt-parent-id='3-1-1-2-3-1-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |AMWorkflow_class
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-3-1-4', data-tt-parent-id='3-1-1-2-3-1-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |AMWorkflowController_class
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-3-1-5', data-tt-parent-id='3-1-1-2-3-1-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |AMWorkflowView_Class
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-3-1-6', data-tt-parent-id='3-1-1-2-3-1-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |AppleApp_Aperture_002
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-3-1-7', data-tt-parent-id='3-1-1-2-3-1-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |Automator_constants
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-3-1-8', data-tt-parent-id='3-1-1-2-3-1-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |AutomatorFramework
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-3-1-9', data-tt-parent-id='3-1-1-2-3-1-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |AutomatorReference
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-3-1-10', data-tt-parent-id='3-1-1-2-3-1-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |AutomatorRefUpdate
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-3-1-11', data-tt-parent-id='3-1-1-2-3-1-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |CalendarStoreFramework
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-3-1-12', data-tt-parent-id='3-1-1-2-3-1-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |CalendarStoreReference
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-3-1-13', data-tt-parent-id='3-1-1-2-3-1-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |CalendarStoreRefUpdate
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-3-1-14', data-tt-parent-id='3-1-1-2-3-1-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |Dashboard_Ref
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-3-1-15', data-tt-parent-id='3-1-1-2-3-1-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |FinalCutPro_XML
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-3-1-16', data-tt-parent-id='3-1-1-2-3-1-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |InstantMessageFramework
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-3-1-17', data-tt-parent-id='3-1-1-2-3-1-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |InstantMessageFrameworkRef
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-3-1-18', data-tt-parent-id='3-1-1-2-3-1-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |InstantMessageRefUpdate
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-3-1-19', data-tt-parent-id='3-1-1-2-3-1-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |iSyncJavaScriptRef
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-3-1-20', data-tt-parent-id='3-1-1-2-3-1-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |iSyncManualTestSuiteRef
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-3-1-21', data-tt-parent-id='3-1-1-2-3-1-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |iSyncSyncMLRef
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-3-1-22', data-tt-parent-id='3-1-1-2-3-1-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |MessageFrameworkReference
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-3-1-23', data-tt-parent-id='3-1-1-2-3-1-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |Motion_FXPlug_Ref
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-3-1-24', data-tt-parent-id='3-1-1-2-3-1-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |SafariCSSRef
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-3-1-25', data-tt-parent-id='3-1-1-2-3-1-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |SafariHTMLRef
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-3-1-26', data-tt-parent-id='3-1-1-2-3-1-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |SyncServicesRefUpdate
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-3-1-27', data-tt-parent-id='3-1-1-2-3-1-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |SyncServicesSchemaRef
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-3-1-28', data-tt-parent-id='3-1-1-2-3-1-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |WebKitDOMRef
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-4', data-tt-parent-id='3-1-1-2-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |AppleScript
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-4-1', data-tt-parent-id='3-1-1-2-3-1-4')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |Reference
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-4-1-1', data-tt-parent-id='3-1-1-2-3-1-4-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |StudioReference
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-4-1-1-1', data-tt-parent-id='3-1-1-2-3-1-4-1-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |art
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-4-1-1-1-1', data-tt-parent-id='3-1-1-2-3-1-4-1-1-1')
            td
              span.file boxes.gif
            td File
            td 11.52 KB
          tr(data-tt-id='3-1-1-2-3-1-4-1-1-1-2', data-tt-parent-id='3-1-1-2-3-1-4-1-1-1')
            td
              span.file browser.gif
            td File
            td 26.04 KB
          tr(data-tt-id='3-1-1-2-3-1-4-1-1-1-3', data-tt-parent-id='3-1-1-2-3-1-4-1-1-1')
            td
              span.file button_in_window.gif
            td File
            td 8.17 KB
          tr(data-tt-id='3-1-1-2-3-1-4-1-1-1-4', data-tt-parent-id='3-1-1-2-3-1-4-1-1-1')
            td
              span.file cc_app_info_window.gif
            td File
            td 24.36 KB
          tr(data-tt-id='3-1-1-2-3-1-4-1-1-1-5', data-tt-parent-id='3-1-1-2-3-1-4-1-1-1')
            td
              span.file circular_prog_indicator.gif
            td File
            td 0.65 KB
          tr(data-tt-id='3-1-1-2-3-1-4-1-1-1-6', data-tt-parent-id='3-1-1-2-3-1-4-1-1-1')
            td
              span.file color_panel.jpg
            td File
            td 24.91 KB
          tr(data-tt-id='3-1-1-2-3-1-4-1-1-1-7', data-tt-parent-id='3-1-1-2-3-1-4-1-1-1')
            td
              span.file color_well.gif
            td File
            td 7.58 KB
          tr(data-tt-id='3-1-1-2-3-1-4-1-1-1-8', data-tt-parent-id='3-1-1-2-3-1-4-1-1-1')
            td
              span.file combobox.gif
            td File
            td 1.44 KB
          tr(data-tt-id='3-1-1-2-3-1-4-1-1-1-9', data-tt-parent-id='3-1-1-2-3-1-4-1-1-1')
            td
              span.file comboboxlist.gif
            td File
            td 4.12 KB
          tr(data-tt-id='3-1-1-2-3-1-4-1-1-1-10', data-tt-parent-id='3-1-1-2-3-1-4-1-1-1')
            td
              span.file display_alert.gif
            td File
            td 28.69 KB
          tr(data-tt-id='3-1-1-2-3-1-4-1-1-1-11', data-tt-parent-id='3-1-1-2-3-1-4-1-1-1')
            td
              span.file display_dialog.gif
            td File
            td 28.42 KB
          tr(data-tt-id='3-1-1-2-3-1-4-1-1-1-12', data-tt-parent-id='3-1-1-2-3-1-4-1-1-1')
            td
              span.file doc_exp_groups.gif
            td File
            td 22.52 KB
          tr(data-tt-id='3-1-1-2-3-1-4-1-1-1-13', data-tt-parent-id='3-1-1-2-3-1-4-1-1-1')
            td
              span.file drawer.gif
            td File
            td 34.4 KB
          tr(data-tt-id='3-1-1-2-3-1-4-1-1-1-14', data-tt-parent-id='3-1-1-2-3-1-4-1-1-1')
            td
              span.file drawer_content_view.gif
            td File
            td 8.21 KB
          tr(data-tt-id='3-1-1-2-3-1-4-1-1-1-15', data-tt-parent-id='3-1-1-2-3-1-4-1-1-1')
            td
              span.file drawer_instances_in_nib.gif
            td File
            td 20.97 KB
          tr(data-tt-id='3-1-1-2-3-1-4-1-1-1-16', data-tt-parent-id='3-1-1-2-3-1-4-1-1-1')
            td
              span.file drawers_in_palette.gif
            td File
            td 17.34 KB
          tr(data-tt-id='3-1-1-2-3-1-4-1-1-1-17', data-tt-parent-id='3-1-1-2-3-1-4-1-1-1')
            td
              span.file files_owner_in_nib.gif
            td File
            td 15.24 KB
          tr(data-tt-id='3-1-1-2-3-1-4-1-1-1-18', data-tt-parent-id='3-1-1-2-3-1-4-1-1-1')
            td
              span.file font_panel.gif
            td File
            td 17.16 KB
          tr(data-tt-id='3-1-1-2-3-1-4-1-1-1-19', data-tt-parent-id='3-1-1-2-3-1-4-1-1-1')
            td
              span.file hw_exp_grps_files.gif
            td File
            td 15.35 KB
          tr(data-tt-id='3-1-1-2-3-1-4-1-1-1-20', data-tt-parent-id='3-1-1-2-3-1-4-1-1-1')
            td
              span.file ib_number_formatter.gif
            td File
            td 1.46 KB
          tr(data-tt-id='3-1-1-2-3-1-4-1-1-1-21', data-tt-parent-id='3-1-1-2-3-1-4-1-1-1')
            td
              span.file image_tab_mainmenu_nib.gif
            td File
            td 12.33 KB
          tr(data-tt-id='3-1-1-2-3-1-4-1-1-1-22', data-tt-parent-id='3-1-1-2-3-1-4-1-1-1')
            td
              span.file image_view_from_app.gif
            td File
            td 17.18 KB
          tr(data-tt-id='3-1-1-2-3-1-4-1-1-1-23', data-tt-parent-id='3-1-1-2-3-1-4-1-1-1')
            td
              span.file matrix.gif
            td File
            td 7.36 KB
          tr(data-tt-id='3-1-1-2-3-1-4-1-1-1-24', data-tt-parent-id='3-1-1-2-3-1-4-1-1-1')
            td
              span.file menu_item.gif
            td File
            td 16.85 KB
          tr(data-tt-id='3-1-1-2-3-1-4-1-1-1-25', data-tt-parent-id='3-1-1-2-3-1-4-1-1-1')
            td
              span.file menu_showing_file_menu.gif
            td File
            td 17 KB
          tr(data-tt-id='3-1-1-2-3-1-4-1-1-1-26', data-tt-parent-id='3-1-1-2-3-1-4-1-1-1')
            td
              span.file movie_view.gif
            td File
            td 34.76 KB
          tr(data-tt-id='3-1-1-2-3-1-4-1-1-1-27', data-tt-parent-id='3-1-1-2-3-1-4-1-1-1')
            td
              span.file number_formatter_info.gif
            td File
            td 24.8 KB
          tr(data-tt-id='3-1-1-2-3-1-4-1-1-1-28', data-tt-parent-id='3-1-1-2-3-1-4-1-1-1')
            td
              span.file open_panel.gif
            td File
            td 32.06 KB
          tr(data-tt-id='3-1-1-2-3-1-4-1-1-1-29', data-tt-parent-id='3-1-1-2-3-1-4-1-1-1')
            td
              span.file outline_view.gif
            td File
            td 18.7 KB
          tr(data-tt-id='3-1-1-2-3-1-4-1-1-1-30', data-tt-parent-id='3-1-1-2-3-1-4-1-1-1')
            td
              span.file popup_button.gif
            td File
            td 6.76 KB
          tr(data-tt-id='3-1-1-2-3-1-4-1-1-1-31', data-tt-parent-id='3-1-1-2-3-1-4-1-1-1')
            td
              span.file progindindet.gif
            td File
            td 3.78 KB
          tr(data-tt-id='3-1-1-2-3-1-4-1-1-1-32', data-tt-parent-id='3-1-1-2-3-1-4-1-1-1')
            td
              span.file save_panel.gif
            td File
            td 39.43 KB
          tr(data-tt-id='3-1-1-2-3-1-4-1-1-1-33', data-tt-parent-id='3-1-1-2-3-1-4-1-1-1')
            td
              span.file secure_text_field.gif
            td File
            td 9.91 KB
          tr(data-tt-id='3-1-1-2-3-1-4-1-1-1-34', data-tt-parent-id='3-1-1-2-3-1-4-1-1-1')
            td
              span.file simple_toolbar.gif
            td File
            td 10.4 KB
          tr(data-tt-id='3-1-1-2-3-1-4-1-1-1-35', data-tt-parent-id='3-1-1-2-3-1-4-1-1-1')
            td
              span.file sliders.gif
            td File
            td 11.01 KB
          tr(data-tt-id='3-1-1-2-3-1-4-1-1-1-36', data-tt-parent-id='3-1-1-2-3-1-4-1-1-1')
            td
              span.file sounds_in_nib_window.gif
            td File
            td 22.26 KB
          tr(data-tt-id='3-1-1-2-3-1-4-1-1-1-37', data-tt-parent-id='3-1-1-2-3-1-4-1-1-1')
            td
              span.file split_view.gif
            td File
            td 15.73 KB
          tr(data-tt-id='3-1-1-2-3-1-4-1-1-1-38', data-tt-parent-id='3-1-1-2-3-1-4-1-1-1')
            td
              span.file stepper.gif
            td File
            td 1.08 KB
          tr(data-tt-id='3-1-1-2-3-1-4-1-1-1-39', data-tt-parent-id='3-1-1-2-3-1-4-1-1-1')
            td
              span.file table_app.gif
            td File
            td 22.72 KB
          tr(data-tt-id='3-1-1-2-3-1-4-1-1-1-40', data-tt-parent-id='3-1-1-2-3-1-4-1-1-1')
            td
              span.file table_view.gif
            td File
            td 14.55 KB
          tr(data-tt-id='3-1-1-2-3-1-4-1-1-1-41', data-tt-parent-id='3-1-1-2-3-1-4-1-1-1')
            td
              span.file tabview.gif
            td File
            td 24.86 KB
          tr(data-tt-id='3-1-1-2-3-1-4-1-1-1-42', data-tt-parent-id='3-1-1-2-3-1-4-1-1-1')
            td
              span.file text_fields.gif
            td File
            td 7.1 KB
          tr(data-tt-id='3-1-1-2-3-1-4-1-1-1-43', data-tt-parent-id='3-1-1-2-3-1-4-1-1-1')
            td
              span.file text_view.gif
            td File
            td 12.18 KB
          tr(data-tt-id='3-1-1-2-3-1-4-1-1-1-44', data-tt-parent-id='3-1-1-2-3-1-4-1-1-1')
            td
              span.file to_do_outline.gif
            td File
            td 15.4 KB
          tr(data-tt-id='3-1-1-2-3-1-4-1-1-1-45', data-tt-parent-id='3-1-1-2-3-1-4-1-1-1')
            td
              span.file window.gif
            td File
            td 6.41 KB
          tr(data-tt-id='3-1-1-2-3-1-4-1-1-2', data-tt-parent-id='3-1-1-2-3-1-4-1-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |Index
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-4-1-1-3', data-tt-parent-id='3-1-1-2-3-1-4-1-1')
            td
              span.file index.html
            td File
            td 1.13 KB
          tr(data-tt-id='3-1-1-2-3-1-4-1-1-4', data-tt-parent-id='3-1-1-2-3-1-4-1-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |sr10_panel_suite
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-4-1-1-5', data-tt-parent-id='3-1-1-2-3-1-4-1-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |sr10_pplugin_suite
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-4-1-1-6', data-tt-parent-id='3-1-1-2-3-1-4-1-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |sr11_textview_suite
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-4-1-1-7', data-tt-parent-id='3-1-1-2-3-1-4-1-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |sr1_about
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-4-1-1-8', data-tt-parent-id='3-1-1-2-3-1-4-1-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |sr2_fundamentals
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-4-1-1-9', data-tt-parent-id='3-1-1-2-3-1-4-1-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |sr3_app_suite
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-4-1-1-10', data-tt-parent-id='3-1-1-2-3-1-4-1-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |sr4_container_suite
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-4-1-1-11', data-tt-parent-id='3-1-1-2-3-1-4-1-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |sr5_control_suite
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-4-1-1-12', data-tt-parent-id='3-1-1-2-3-1-4-1-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |sr6_data_suite
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-4-1-1-13', data-tt-parent-id='3-1-1-2-3-1-4-1-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |sr7_doc_suite
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-4-1-1-14', data-tt-parent-id='3-1-1-2-3-1-4-1-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |sr8_drag_drop_suite
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-4-1-1-15', data-tt-parent-id='3-1-1-2-3-1-4-1-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |sr9_menu_suite
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-4-1-1-16', data-tt-parent-id='3-1-1-2-3-1-4-1-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |sr_history
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-4-1-1-17', data-tt-parent-id='3-1-1-2-3-1-4-1-1')
            td
              span.file toc.html
            td File
            td 132.84 KB
          tr(data-tt-id='3-1-1-2-3-1-5', data-tt-parent-id='3-1-1-2-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |Carbon
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-6', data-tt-parent-id='3-1-1-2-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |Cocoa
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-7', data-tt-parent-id='3-1-1-2-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |CoreFoundation
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-8', data-tt-parent-id='3-1-1-2-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |css
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-9', data-tt-parent-id='3-1-1-2-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |Darwin
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-10', data-tt-parent-id='3-1-1-2-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |DeveloperTools
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-11', data-tt-parent-id='3-1-1-2-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |DeviceDrivers
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-12', data-tt-parent-id='3-1-1-2-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |Games
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-13', data-tt-parent-id='3-1-1-2-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |GraphicsImaging
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-14', data-tt-parent-id='3-1-1-2-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |Hardware
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-15', data-tt-parent-id='3-1-1-2-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |HardwareDrivers
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-16', data-tt-parent-id='3-1-1-2-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |images
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-17', data-tt-parent-id='3-1-1-2-3-1')
            td
              span.file
                i.fa.fa-file-code-o.mright5
                |index-date.html
            td File
            td 74.06 KB
          tr(data-tt-id='3-1-1-2-3-1-18', data-tt-parent-id='3-1-1-2-3-1')
            td
              span.file
                i.fa.fa-file-code-o.mright5
                |index-date0.html
            td File
            td 284.1 KB
          tr(data-tt-id='3-1-1-2-3-1-19', data-tt-parent-id='3-1-1-2-3-1')
            td
              span.file
                i.fa.fa-file-code-o.mright5
                |index-date2.html
            td File
            td 73.94 KB
          tr(data-tt-id='3-1-1-2-3-1-20', data-tt-parent-id='3-1-1-2-3-1')
            td
              span.file index-date3.html
            td File
            td 74.4 KB
          tr(data-tt-id='3-1-1-2-3-1-21', data-tt-parent-id='3-1-1-2-3-1')
            td
              span.file index-date4.html
            td File
            td 75.11 KB
          tr(data-tt-id='3-1-1-2-3-1-22', data-tt-parent-id='3-1-1-2-3-1')
            td
              span.file index-date5.html
            td File
            td 41.11 KB
          tr(data-tt-id='3-1-1-2-3-1-23', data-tt-parent-id='3-1-1-2-3-1')
            td
              span.file index-rev-date.html
            td File
            td 49.03 KB
          tr(data-tt-id='3-1-1-2-3-1-24', data-tt-parent-id='3-1-1-2-3-1')
            td
              span.file index-rev-revision.html
            td File
            td 49.01 KB
          tr(data-tt-id='3-1-1-2-3-1-25', data-tt-parent-id='3-1-1-2-3-1')
            td
              span.file index-rev-title.html
            td File
            td 49.03 KB
          tr(data-tt-id='3-1-1-2-3-1-26', data-tt-parent-id='3-1-1-2-3-1')
            td
              span.file index-rev-topic.html
            td File
            td 71.41 KB
          tr(data-tt-id='3-1-1-2-3-1-27', data-tt-parent-id='3-1-1-2-3-1')
            td
              span.file index-rev-topic0.html
            td File
            td 93.76 KB
          tr(data-tt-id='3-1-1-2-3-1-28', data-tt-parent-id='3-1-1-2-3-1')
            td
              span.file index-rev-topic2.html
            td File
            td 29.61 KB
          tr(data-tt-id='3-1-1-2-3-1-29', data-tt-parent-id='3-1-1-2-3-1')
            td
              span.file index-title.html
            td File
            td 73.91 KB
          tr(data-tt-id='3-1-1-2-3-1-30', data-tt-parent-id='3-1-1-2-3-1')
            td
              span.file index-title0.html
            td File
            td 284.11 KB
          tr(data-tt-id='3-1-1-2-3-1-31', data-tt-parent-id='3-1-1-2-3-1')
            td
              span.file index-title2.html
            td File
            td 74.7 KB
          tr(data-tt-id='3-1-1-2-3-1-32', data-tt-parent-id='3-1-1-2-3-1')
            td
              span.file index-title3.html
            td File
            td 73 KB
          tr(data-tt-id='3-1-1-2-3-1-33', data-tt-parent-id='3-1-1-2-3-1')
            td
              span.file index-title4.html
            td File
            td 74.15 KB
          tr(data-tt-id='3-1-1-2-3-1-34', data-tt-parent-id='3-1-1-2-3-1')
            td
              span.file index-title5.html
            td File
            td 42.91 KB
          tr(data-tt-id='3-1-1-2-3-1-35', data-tt-parent-id='3-1-1-2-3-1')
            td
              span.file index-topic.html
            td File
            td 72.46 KB
          tr(data-tt-id='3-1-1-2-3-1-36', data-tt-parent-id='3-1-1-2-3-1')
            td
              span.file index-topic0.html
            td File
            td 601.26 KB
          tr(data-tt-id='3-1-1-2-3-1-37', data-tt-parent-id='3-1-1-2-3-1')
            td
              span.file index-topic10.html
            td File
            td 74.41 KB
          tr(data-tt-id='3-1-1-2-3-1-38', data-tt-parent-id='3-1-1-2-3-1')
            td
              span.file index-topic2.html
            td File
            td 73.6 KB
          tr(data-tt-id='3-1-1-2-3-1-39', data-tt-parent-id='3-1-1-2-3-1')
            td
              span.file index-topic3.html
            td File
            td 72.47 KB
          tr(data-tt-id='3-1-1-2-3-1-40', data-tt-parent-id='3-1-1-2-3-1')
            td
              span.file index-topic4.html
            td File
            td 71.89 KB
          tr(data-tt-id='3-1-1-2-3-1-41', data-tt-parent-id='3-1-1-2-3-1')
            td
              span.file index-topic5.html
            td File
            td 73.89 KB
          tr(data-tt-id='3-1-1-2-3-1-42', data-tt-parent-id='3-1-1-2-3-1')
            td
              span.file index-topic6.html
            td File
            td 73.1 KB
          tr(data-tt-id='3-1-1-2-3-1-43', data-tt-parent-id='3-1-1-2-3-1')
            td
              span.file index-topic7.html
            td File
            td 70.55 KB
          tr(data-tt-id='3-1-1-2-3-1-44', data-tt-parent-id='3-1-1-2-3-1')
            td
              span.file index-topic8.html
            td File
            td 71.25 KB
          tr(data-tt-id='3-1-1-2-3-1-45', data-tt-parent-id='3-1-1-2-3-1')
            td
              span.file index-topic9.html
            td File
            td 72.56 KB
          tr(data-tt-id='3-1-1-2-3-1-46', data-tt-parent-id='3-1-1-2-3-1')
            td
              span.file index.html
            td File
            td 20.65 KB
          tr(data-tt-id='3-1-1-2-3-1-47', data-tt-parent-id='3-1-1-2-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |Internationalization
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-48', data-tt-parent-id='3-1-1-2-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |InternetWeb
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-49', data-tt-parent-id='3-1-1-2-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |iPhone
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-50', data-tt-parent-id='3-1-1-2-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |js
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-51', data-tt-parent-id='3-1-1-2-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |LegacyTechnologies
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-52', data-tt-parent-id='3-1-1-2-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |MacOSX
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-53', data-tt-parent-id='3-1-1-2-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |MacOSXServer
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-54', data-tt-parent-id='3-1-1-2-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |MusicAudio
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-55', data-tt-parent-id='3-1-1-2-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |Networking
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-56', data-tt-parent-id='3-1-1-2-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |OpenSource
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-57', data-tt-parent-id='3-1-1-2-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |Performance
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-58', data-tt-parent-id='3-1-1-2-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |Porting
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-59', data-tt-parent-id='3-1-1-2-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |Printing
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-60', data-tt-parent-id='3-1-1-2-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |QuickTime
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-61', data-tt-parent-id='3-1-1-2-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |Resources
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-62', data-tt-parent-id='3-1-1-2-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |ScriptingAutomation
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-63', data-tt-parent-id='3-1-1-2-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |Security
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-64', data-tt-parent-id='3-1-1-2-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |Storage
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-65', data-tt-parent-id='3-1-1-2-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |TextFonts
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-66', data-tt-parent-id='3-1-1-2-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |UserExperience
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-1-67', data-tt-parent-id='3-1-1-2-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |WebObjects
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-2', data-tt-parent-id='3-1-1-2-3')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |referencelibrary
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-2-1', data-tt-parent-id='3-1-1-2-3-2')
            td
              span.file adc.css
            td File
            td 1.46 KB
          tr(data-tt-id='3-1-1-2-3-2-2', data-tt-parent-id='3-1-1-2-3-2')
            td
              span.file base.css
            td File
            td 1.08 KB
          tr(data-tt-id='3-1-1-2-3-2-3', data-tt-parent-id='3-1-1-2-3-2')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |images
            td Folder
            td --
          tr(data-tt-id='3-1-1-2-3-2-3-1', data-tt-parent-id='3-1-1-2-3-2-3')
            td
              span.file body_bg.gif
            td File
            td 0.24 KB
          tr(data-tt-id='3-1-1-2-3-2-3-2', data-tt-parent-id='3-1-1-2-3-2-3')
            td
              span.file main_bgbottom.gif
            td File
            td 2.35 KB
          tr(data-tt-id='3-1-1-2-3-2-3-3', data-tt-parent-id='3-1-1-2-3-2-3')
            td
              span.file main_bgtop.gif
            td File
            td 6.88 KB
          tr(data-tt-id='3-1-1-2-3-2-3-4', data-tt-parent-id='3-1-1-2-3-2-3')
            td
              span.file main_bgtop_stroke.gif
            td File
            td 7.62 KB
          tr(data-tt-id='3-1-1-2-3-2-3-5', data-tt-parent-id='3-1-1-2-3-2-3')
            td
              span.file UpdateBanner_core.png
            td File
            td 24.25 KB
          tr(data-tt-id='3-1-1-2-3-2-4', data-tt-parent-id='3-1-1-2-3-2')
            td
              span.file index.html
            td File
            td 1.15 KB
          tr(data-tt-id='3-1-1-3', data-tt-parent-id='3-1-1')
            td
              span.file version.plist
            td File
            td 0.44 KB
          tr(data-tt-id='3-2', data-tt-parent-id='3')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |com.apple.ADC_Reference_Library.DeveloperTools.docset
            td Folder
            td --
          tr(data-tt-id='3-2-1', data-tt-parent-id='3-2')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |Contents
            td Folder
            td --
          tr(data-tt-id='3-2-1-1', data-tt-parent-id='3-2-1')
            td
              span.file Info.plist
            td File
            td 1.33 KB
          tr(data-tt-id='3-2-1-2', data-tt-parent-id='3-2-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |Resources
            td Folder
            td --
          tr(data-tt-id='3-2-1-2-1', data-tt-parent-id='3-2-1-2')
            td
              span.file docSet.dsidx
            td File
            td 2752 KB
          tr(data-tt-id='3-2-1-2-2', data-tt-parent-id='3-2-1-2')
            td
              span.file docSet.skidx
            td File
            td 5664 KB
          tr(data-tt-id='3-2-1-2-3', data-tt-parent-id='3-2-1-2')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |Documents
            td Folder
            td --
          tr(data-tt-id='3-2-1-2-3-1', data-tt-parent-id='3-2-1-2-3')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |documentation
            td Folder
            td --
          tr(data-tt-id='3-2-1-2-3-1-1', data-tt-parent-id='3-2-1-2-3-1')
            td
              span.file adcstyle.css
            td File
            td 15.86 KB
          tr(data-tt-id='3-2-1-2-3-1-2', data-tt-parent-id='3-2-1-2-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |AppleApplications
            td Folder
            td --
          tr(data-tt-id='3-2-1-2-3-1-2-1', data-tt-parent-id='3-2-1-2-3-1-2')
            td
              span.file AppleApplications.html
            td File
            td 0.22 KB
          tr(data-tt-id='3-2-1-2-3-1-2-2', data-tt-parent-id='3-2-1-2-3-1-2')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |Conceptual
            td Folder
            td --
          tr(data-tt-id='3-2-1-2-3-1-2-2-1', data-tt-parent-id='3-2-1-2-3-1-2-2')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |Dashcode_UserGuide
            td Folder
            td --
          tr(data-tt-id='3-2-1-2-3-1-2-2-1-1', data-tt-parent-id='3-2-1-2-3-1-2-2-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |Contents
            td Folder
            td --
          tr(data-tt-id='3-2-1-2-3-1-2-2-1-1-1', data-tt-parent-id='3-2-1-2-3-1-2-2-1-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |Resources
            td Folder
            td --
          tr(data-tt-id='3-2-1-2-3-1-2-2-1-1-1-1', data-tt-parent-id='3-2-1-2-3-1-2-2-1-1-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |de.lproj
            td Folder
            td --
          tr(data-tt-id='3-2-1-2-3-1-2-2-1-1-1-1-1', data-tt-parent-id='3-2-1-2-3-1-2-2-1-1-1-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |Advanced
            td Folder
            td --
          tr(data-tt-id='3-2-1-2-3-1-2-2-1-1-1-1-1-1', data-tt-parent-id='3-2-1-2-3-1-2-2-1-1-1-1-1')
            td
              span.file chapter_8_section_1.html
            td File
            td 6.71 KB
          tr(data-tt-id='3-2-1-2-3-1-2-2-1-1-1-1-1-2', data-tt-parent-id='3-2-1-2-3-1-2-2-1-1-1-1-1')
            td
              span.file chapter_8_section_2.html
            td File
            td 7.93 KB
          tr(data-tt-id='3-2-1-2-3-1-2-2-1-1-1-1-1-3', data-tt-parent-id='3-2-1-2-3-1-2-2-1-1-1-1-1')
            td
              span.file chapter_8_section_3.html
            td File
            td 6.38 KB
          tr(data-tt-id='3-2-1-2-3-1-2-2-1-1-1-1-2', data-tt-parent-id='3-2-1-2-3-1-2-2-1-1-1-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |Art
            td Folder
            td --
          tr(data-tt-id='3-2-1-2-3-1-2-2-1-1-1-1-2-1', data-tt-parent-id='3-2-1-2-3-1-2-2-1-1-1-1-2')
            td
              span.file apple_birthday_widget.jpg
            td File
            td 33.5 KB
          tr(data-tt-id='3-2-1-2-3-1-2-2-1-1-1-1-2-2', data-tt-parent-id='3-2-1-2-3-1-2-2-1-1-1-1-2')
            td
              span.file canvas_inspector.jpg
            td File
            td 71.75 KB
          tr(data-tt-id='3-2-1-2-3-1-2-2-1-1-1-1-2-3', data-tt-parent-id='3-2-1-2-3-1-2-2-1-1-1-1-2')
            td
              span.file countdown_attributes.jpg
            td File
            td 46.69 KB
          tr(data-tt-id='3-2-1-2-3-1-2-2-1-1-1-1-2-4', data-tt-parent-id='3-2-1-2-3-1-2-2-1-1-1-1-2')
            td
              span.file project_window.jpg
            td File
            td 107.57 KB
          tr(data-tt-id='3-2-1-2-3-1-2-2-1-1-1-1-2-5', data-tt-parent-id='3-2-1-2-3-1-2-2-1-1-1-1-2')
            td
              span.file source_code_inspector.jpg
            td File
            td 76.19 KB
          tr(data-tt-id='3-2-1-2-3-1-2-2-1-1-1-1-2-6', data-tt-parent-id='3-2-1-2-3-1-2-2-1-1-1-1-2')
            td
              span.file webapp_add_code.jpg
            td File
            td 85.65 KB
          tr(data-tt-id='3-2-1-2-3-1-2-2-1-1-1-1-2-7', data-tt-parent-id='3-2-1-2-3-1-2-2-1-1-1-1-2')
            td
              span.file webapp_add_part.jpg
            td File
            td 108.16 KB
          tr(data-tt-id='3-2-1-2-3-1-2-2-1-1-1-1-2-8', data-tt-parent-id='3-2-1-2-3-1-2-2-1-1-1-1-2')
            td
              span.file webapp_first_test.jpg
            td File
            td 86.82 KB
          tr(data-tt-id='3-2-1-2-3-1-2-2-1-1-1-1-2-9', data-tt-parent-id='3-2-1-2-3-1-2-2-1-1-1-1-2')
            td
              span.file webapp_project_window.jpg
            td File
            td 152.27 KB
          tr(data-tt-id='3-2-1-2-3-1-2-2-1-1-1-1-3', data-tt-parent-id='3-2-1-2-3-1-2-2-1-1-1-1')
            td
              span.file chapter_999_section_1.html
            td File
            td 6.3 KB
          tr(data-tt-id='3-2-1-2-3-1-2-2-1-1-1-1-4', data-tt-parent-id='3-2-1-2-3-1-2-2-1-1-1-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |CodeAndDebugging
            td Folder
            td --
          tr(data-tt-id='3-2-1-2-3-1-2-2-1-1-1-1-5', data-tt-parent-id='3-2-1-2-3-1-2-2-1-1-1-1')
            td
              span.file
                i.fa.fa-file-pdf-o.mright5
                |Dashcode_UserGuide.pdf
            td File
            td 1875.27 KB
          tr(data-tt-id='3-2-1-2-3-1-2-2-1-1-1-1-6', data-tt-parent-id='3-2-1-2-3-1-2-2-1-1-1-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |DebuggingSharing
            td Folder
            td --
          tr(data-tt-id='3-2-1-2-3-1-2-2-1-1-1-1-7', data-tt-parent-id='3-2-1-2-3-1-2-2-1-1-1-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |DesignTools
            td Folder
            td --
          tr(data-tt-id='3-2-1-2-3-1-2-2-1-1-1-1-8', data-tt-parent-id='3-2-1-2-3-1-2-2-1-1-1-1')
            td
              span.file index.html
            td File
            td 1.11 KB
          tr(data-tt-id='3-2-1-2-3-1-2-2-1-1-1-1-9', data-tt-parent-id='3-2-1-2-3-1-2-2-1-1-1-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |Introduction
            td Folder
            td --
          tr(data-tt-id='3-2-1-2-3-1-2-2-1-1-1-1-10', data-tt-parent-id='3-2-1-2-3-1-2-2-1-1-1-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |MakingaWebApp
            td Folder
            td --
          tr(data-tt-id='3-2-1-2-3-1-2-2-1-1-1-1-11', data-tt-parent-id='3-2-1-2-3-1-2-2-1-1-1-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |MakingaWidgetwithDashcode
            td Folder
            td --
          tr(data-tt-id='3-2-1-2-3-1-2-2-1-1-1-1-12', data-tt-parent-id='3-2-1-2-3-1-2-2-1-1-1-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |PartsReference
            td Folder
            td --
          tr(data-tt-id='3-2-1-2-3-1-2-2-1-1-1-1-13', data-tt-parent-id='3-2-1-2-3-1-2-2-1-1-1-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |Templates
            td Folder
            td --
          tr(data-tt-id='3-2-1-2-3-1-2-2-1-1-1-1-14', data-tt-parent-id='3-2-1-2-3-1-2-2-1-1-1-1')
            td
              span.file toc.html
            td File
            td 38.57 KB
          tr(data-tt-id='3-2-1-2-3-1-2-2-1-1-1-1-15', data-tt-parent-id='3-2-1-2-3-1-2-2-1-1-1-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |WidgetProjects
            td Folder
            td --
          tr(data-tt-id='3-2-1-2-3-1-2-2-1-1-1-2', data-tt-parent-id='3-2-1-2-3-1-2-2-1-1-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |en.lproj
            td Folder
            td --
          tr(data-tt-id='3-2-1-2-3-1-2-2-1-1-1-2-1', data-tt-parent-id='3-2-1-2-3-1-2-2-1-1-1-2')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |Advanced
            td Folder
            td --
          tr(data-tt-id='3-2-1-2-3-1-2-2-1-1-1-2-1-1', data-tt-parent-id='3-2-1-2-3-1-2-2-1-1-1-2-1')
            td
              span.file chapter_8_section_1.html
            td File
            td 6.6 KB
          tr(data-tt-id='3-2-1-2-3-1-2-2-1-1-1-2-1-2', data-tt-parent-id='3-2-1-2-3-1-2-2-1-1-1-2-1')
            td
              span.file chapter_8_section_2.html
            td File
            td 7.4 KB
          tr(data-tt-id='3-2-1-2-3-1-2-2-1-1-1-2-1-3', data-tt-parent-id='3-2-1-2-3-1-2-2-1-1-1-2-1')
            td
              span.file chapter_8_section_3.html
            td File
            td 6.24 KB
          tr(data-tt-id='3-2-1-2-3-1-2-2-1-1-1-2-2', data-tt-parent-id='3-2-1-2-3-1-2-2-1-1-1-2')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |Art
            td Folder
            td --
          tr(data-tt-id='3-2-1-2-3-1-2-2-1-1-1-2-3', data-tt-parent-id='3-2-1-2-3-1-2-2-1-1-1-2')
            td
              span.file chapter_999_section_1.html
            td File
            td 6.2 KB
          tr(data-tt-id='3-2-1-2-3-1-2-2-1-1-1-2-4', data-tt-parent-id='3-2-1-2-3-1-2-2-1-1-1-2')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |CodeAndDebugging
            td Folder
            td --
          tr(data-tt-id='3-2-1-2-3-1-2-2-1-1-1-2-5', data-tt-parent-id='3-2-1-2-3-1-2-2-1-1-1-2')
            td
              span.file
                i.fa.fa-file-pdf-o.mright5
                |Dashcode_UserGuide.pdf
            td File
            td 1087.36 KB
          tr(data-tt-id='3-2-1-2-3-1-2-2-1-1-1-2-6', data-tt-parent-id='3-2-1-2-3-1-2-2-1-1-1-2')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |DebuggingSharing
            td Folder
            td --
          tr(data-tt-id='3-2-1-2-3-1-2-2-1-1-1-2-7', data-tt-parent-id='3-2-1-2-3-1-2-2-1-1-1-2')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |DesignTools
            td Folder
            td --
          tr(data-tt-id='3-2-1-2-3-1-2-2-1-1-1-2-8', data-tt-parent-id='3-2-1-2-3-1-2-2-1-1-1-2')
            td
              span.file index.html
            td File
            td 1.09 KB
          tr(data-tt-id='3-2-1-2-3-1-2-2-1-1-1-2-9', data-tt-parent-id='3-2-1-2-3-1-2-2-1-1-1-2')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |Introduction
            td Folder
            td --
          tr(data-tt-id='3-2-1-2-3-1-2-2-1-1-1-2-10', data-tt-parent-id='3-2-1-2-3-1-2-2-1-1-1-2')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |MakingaWebApp
            td Folder
            td --
          tr(data-tt-id='3-2-1-2-3-1-2-2-1-1-1-2-11', data-tt-parent-id='3-2-1-2-3-1-2-2-1-1-1-2')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |MakingaWidgetwithDashcode
            td Folder
            td --
          tr(data-tt-id='3-2-1-2-3-1-2-2-1-1-1-2-12', data-tt-parent-id='3-2-1-2-3-1-2-2-1-1-1-2')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |PartsReference
            td Folder
            td --
          tr(data-tt-id='3-2-1-2-3-1-2-2-1-1-1-2-13', data-tt-parent-id='3-2-1-2-3-1-2-2-1-1-1-2')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |Templates
            td Folder
            td --
          tr(data-tt-id='3-2-1-2-3-1-2-2-1-1-1-2-14', data-tt-parent-id='3-2-1-2-3-1-2-2-1-1-1-2')
            td
              span.file toc.html
            td File
            td 38.11 KB
          tr(data-tt-id='3-2-1-2-3-1-2-2-1-1-1-2-15', data-tt-parent-id='3-2-1-2-3-1-2-2-1-1-1-2')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |WidgetProjects
            td Folder
            td --
          tr(data-tt-id='3-2-1-2-3-1-2-2-1-1-1-3', data-tt-parent-id='3-2-1-2-3-1-2-2-1-1-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |es.lproj
            td Folder
            td --
          tr(data-tt-id='3-2-1-2-3-1-2-2-1-1-1-4', data-tt-parent-id='3-2-1-2-3-1-2-2-1-1-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |fr.lproj
            td Folder
            td --
          tr(data-tt-id='3-2-1-2-3-1-2-2-1-1-1-5', data-tt-parent-id='3-2-1-2-3-1-2-2-1-1-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |it.lproj
            td Folder
            td --
          tr(data-tt-id='3-2-1-2-3-1-2-2-1-1-1-6', data-tt-parent-id='3-2-1-2-3-1-2-2-1-1-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |ja.lproj
            td Folder
            td --
          tr(data-tt-id='3-2-1-2-3-1-2-2-1-1-1-7', data-tt-parent-id='3-2-1-2-3-1-2-2-1-1-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |nl.lproj
            td Folder
            td --
          tr(data-tt-id='3-2-1-2-3-1-2-2-1-1-1-8', data-tt-parent-id='3-2-1-2-3-1-2-2-1-1-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |zh.lproj
            td Folder
            td --
          tr(data-tt-id='3-2-1-2-3-1-2-3', data-tt-parent-id='3-2-1-2-3-1-2')
            td
              span.file Dashboard-date.html
            td File
            td 10.88 KB
          tr(data-tt-id='3-2-1-2-3-1-2-4', data-tt-parent-id='3-2-1-2-3-1-2')
            td
              span.file Dashboard-rev-date.html
            td File
            td 8.85 KB
          tr(data-tt-id='3-2-1-2-3-1-2-5', data-tt-parent-id='3-2-1-2-3-1-2')
            td
              span.file Dashboard-rev-revision.html
            td File
            td 8.83 KB
          tr(data-tt-id='3-2-1-2-3-1-2-6', data-tt-parent-id='3-2-1-2-3-1-2')
            td
              span.file Dashboard-rev-title.html
            td File
            td 8.85 KB
          tr(data-tt-id='3-2-1-2-3-1-2-7', data-tt-parent-id='3-2-1-2-3-1-2')
            td
              span.file Dashboard-title.html
            td File
            td 10.71 KB
          tr(data-tt-id='3-2-1-2-3-1-2-8', data-tt-parent-id='3-2-1-2-3-1-2')
            td
              span.file index-date.html
            td File
            td 11.79 KB
          tr(data-tt-id='3-2-1-2-3-1-2-9', data-tt-parent-id='3-2-1-2-3-1-2')
            td
              span.file index-rev-date.html
            td File
            td 9.38 KB
          tr(data-tt-id='3-2-1-2-3-1-2-10', data-tt-parent-id='3-2-1-2-3-1-2')
            td
              span.file index-rev-revision.html
            td File
            td 9.36 KB
          tr(data-tt-id='3-2-1-2-3-1-2-11', data-tt-parent-id='3-2-1-2-3-1-2')
            td
              span.file index-rev-title.html
            td File
            td 9.37 KB
          tr(data-tt-id='3-2-1-2-3-1-2-12', data-tt-parent-id='3-2-1-2-3-1-2')
            td
              span.file index-rev-topic.html
            td File
            td 9.37 KB
          tr(data-tt-id='3-2-1-2-3-1-2-13', data-tt-parent-id='3-2-1-2-3-1-2')
            td
              span.file index-title.html
            td File
            td 11.78 KB
          tr(data-tt-id='3-2-1-2-3-1-2-14', data-tt-parent-id='3-2-1-2-3-1-2')
            td
              span.file index-topic.html
            td File
            td 12.39 KB
          tr(data-tt-id='3-2-1-2-3-1-2-15', data-tt-parent-id='3-2-1-2-3-1-2')
            td
              span.file index.html
            td File
            td 7.24 KB
          tr(data-tt-id='3-2-1-2-3-1-2-16', data-tt-parent-id='3-2-1-2-3-1-2')
            td
              span.file iSync-date.html
            td File
            td 8.17 KB
          tr(data-tt-id='3-2-1-2-3-1-2-17', data-tt-parent-id='3-2-1-2-3-1-2')
            td
              span.file iSync-title.html
            td File
            td 8 KB
          tr(data-tt-id='3-2-1-2-3-1-3', data-tt-parent-id='3-2-1-2-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |Carbon
            td Folder
            td --
          tr(data-tt-id='3-2-1-2-3-1-3-1', data-tt-parent-id='3-2-1-2-3-1-3')
            td
              span.file Carbon.html
            td File
            td 0.21 KB
          tr(data-tt-id='3-2-1-2-3-1-3-2', data-tt-parent-id='3-2-1-2-3-1-3')
            td
              span.file DesignGuidelines-date.html
            td File
            td 9.93 KB
          tr(data-tt-id='3-2-1-2-3-1-3-3', data-tt-parent-id='3-2-1-2-3-1-3')
            td
              span.file DesignGuidelines-rev-date.html
            td File
            td 7.45 KB
          tr(data-tt-id='3-2-1-2-3-1-3-4', data-tt-parent-id='3-2-1-2-3-1-3')
            td
              span.file DesignGuidelines-rev-revision.html
            td File
            td 7.44 KB
          tr(data-tt-id='3-2-1-2-3-1-3-5', data-tt-parent-id='3-2-1-2-3-1-3')
            td
              span.file DesignGuidelines-rev-title.html
            td File
            td 7.45 KB
          tr(data-tt-id='3-2-1-2-3-1-3-6', data-tt-parent-id='3-2-1-2-3-1-3')
            td
              span.file DesignGuidelines-title.html
            td File
            td 9.77 KB
          tr(data-tt-id='3-2-1-2-3-1-3-7', data-tt-parent-id='3-2-1-2-3-1-3')
            td
              span.file index-date.html
            td File
            td 19.66 KB
          tr(data-tt-id='3-2-1-2-3-1-3-8', data-tt-parent-id='3-2-1-2-3-1-3')
            td
              span.file index-rev-date.html
            td File
            td 12.35 KB
          tr(data-tt-id='3-2-1-2-3-1-3-9', data-tt-parent-id='3-2-1-2-3-1-3')
            td
              span.file index-rev-revision.html
            td File
            td 12.33 KB
          tr(data-tt-id='3-2-1-2-3-1-3-10', data-tt-parent-id='3-2-1-2-3-1-3')
            td
              span.file index-rev-title.html
            td File
            td 12.34 KB
          tr(data-tt-id='3-2-1-2-3-1-3-11', data-tt-parent-id='3-2-1-2-3-1-3')
            td
              span.file index-rev-topic.html
            td File
            td 12.98 KB
          tr(data-tt-id='3-2-1-2-3-1-3-12', data-tt-parent-id='3-2-1-2-3-1-3')
            td
              span.file index-title.html
            td File
            td 19.65 KB
          tr(data-tt-id='3-2-1-2-3-1-3-13', data-tt-parent-id='3-2-1-2-3-1-3')
            td
              span.file index-topic.html
            td File
            td 22.64 KB
          tr(data-tt-id='3-2-1-2-3-1-3-14', data-tt-parent-id='3-2-1-2-3-1-3')
            td
              span.file index.html
            td File
            td 10.96 KB
          tr(data-tt-id='3-2-1-2-3-1-3-15', data-tt-parent-id='3-2-1-2-3-1-3')
            td
              span.file IntelBasedMacs-date.html
            td File
            td 10.5 KB
          tr(data-tt-id='3-2-1-2-3-1-3-16', data-tt-parent-id='3-2-1-2-3-1-3')
            td
              span.file IntelBasedMacs-title.html
            td File
            td 10.33 KB
          tr(data-tt-id='3-2-1-2-3-1-3-17', data-tt-parent-id='3-2-1-2-3-1-3')
            td
              span.file Performance-date.html
            td File
            td 9.14 KB
          tr(data-tt-id='3-2-1-2-3-1-3-18', data-tt-parent-id='3-2-1-2-3-1-3')
            td
              span.file Performance-title.html
            td File
            td 8.98 KB
          tr(data-tt-id='3-2-1-2-3-1-3-19', data-tt-parent-id='3-2-1-2-3-1-3')
            td
              span.file Porting-date.html
            td File
            td 8.78 KB
          tr(data-tt-id='3-2-1-2-3-1-3-20', data-tt-parent-id='3-2-1-2-3-1-3')
            td
              span.file Porting-title.html
            td File
            td 8.63 KB
          tr(data-tt-id='3-2-1-2-3-1-3-21', data-tt-parent-id='3-2-1-2-3-1-3')
            td
              span.file Tools-date.html
            td File
            td 16.03 KB
          tr(data-tt-id='3-2-1-2-3-1-3-22', data-tt-parent-id='3-2-1-2-3-1-3')
            td
              span.file Tools-rev-date.html
            td File
            td 10.85 KB
          tr(data-tt-id='3-2-1-2-3-1-3-23', data-tt-parent-id='3-2-1-2-3-1-3')
            td
              span.file Tools-rev-revision.html
            td File
            td 10.83 KB
          tr(data-tt-id='3-2-1-2-3-1-3-24', data-tt-parent-id='3-2-1-2-3-1-3')
            td
              span.file Tools-rev-title.html
            td File
            td 10.84 KB
          tr(data-tt-id='3-2-1-2-3-1-3-25', data-tt-parent-id='3-2-1-2-3-1-3')
            td
              span.file Tools-title.html
            td File
            td 15.88 KB
          tr(data-tt-id='3-2-1-2-3-1-3-26', data-tt-parent-id='3-2-1-2-3-1-3')
            td
              span.file UserExperience-date.html
            td File
            td 8.85 KB
          tr(data-tt-id='3-2-1-2-3-1-3-27', data-tt-parent-id='3-2-1-2-3-1-3')
            td
              span.file UserExperience-title.html
            td File
            td 8.69 KB
          tr(data-tt-id='3-2-1-2-3-1-4', data-tt-parent-id='3-2-1-2-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |Cocoa
            td Folder
            td --
          tr(data-tt-id='3-2-1-2-3-1-5', data-tt-parent-id='3-2-1-2-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |CoreFoundation
            td Folder
            td --
          tr(data-tt-id='3-2-1-2-3-1-6', data-tt-parent-id='3-2-1-2-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |css
            td Folder
            td --
          tr(data-tt-id='3-2-1-2-3-1-7', data-tt-parent-id='3-2-1-2-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |Darwin
            td Folder
            td --
          tr(data-tt-id='3-2-1-2-3-1-8', data-tt-parent-id='3-2-1-2-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |DeveloperTools
            td Folder
            td --
          tr(data-tt-id='3-2-1-2-3-1-9', data-tt-parent-id='3-2-1-2-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |GraphicsImaging
            td Folder
            td --
          tr(data-tt-id='3-2-1-2-3-1-10', data-tt-parent-id='3-2-1-2-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |HardwareDrivers
            td Folder
            td --
          tr(data-tt-id='3-2-1-2-3-1-11', data-tt-parent-id='3-2-1-2-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |images
            td Folder
            td --
          tr(data-tt-id='3-2-1-2-3-1-12', data-tt-parent-id='3-2-1-2-3-1')
            td
              span.file index-date.html
            td File
            td 38.14 KB
          tr(data-tt-id='3-2-1-2-3-1-13', data-tt-parent-id='3-2-1-2-3-1')
            td
              span.file index-rev-date.html
            td File
            td 20.91 KB
          tr(data-tt-id='3-2-1-2-3-1-14', data-tt-parent-id='3-2-1-2-3-1')
            td
              span.file index-rev-revision.html
            td File
            td 20.89 KB
          tr(data-tt-id='3-2-1-2-3-1-15', data-tt-parent-id='3-2-1-2-3-1')
            td
              span.file index-rev-title.html
            td File
            td 20.9 KB
          tr(data-tt-id='3-2-1-2-3-1-16', data-tt-parent-id='3-2-1-2-3-1')
            td
              span.file index-rev-topic.html
            td File
            td 45.06 KB
          tr(data-tt-id='3-2-1-2-3-1-17', data-tt-parent-id='3-2-1-2-3-1')
            td
              span.file index-title.html
            td File
            td 38.14 KB
          tr(data-tt-id='3-2-1-2-3-1-18', data-tt-parent-id='3-2-1-2-3-1')
            td
              span.file index-topic.html
            td File
            td 77.78 KB
          tr(data-tt-id='3-2-1-2-3-1-19', data-tt-parent-id='3-2-1-2-3-1')
            td
              span.file index.html
            td File
            td 17.08 KB
          tr(data-tt-id='3-2-1-2-3-1-20', data-tt-parent-id='3-2-1-2-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |Internationalization
            td Folder
            td --
          tr(data-tt-id='3-2-1-2-3-1-21', data-tt-parent-id='3-2-1-2-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |InternetWeb
            td Folder
            td --
          tr(data-tt-id='3-2-1-2-3-1-22', data-tt-parent-id='3-2-1-2-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |Java
            td Folder
            td --
          tr(data-tt-id='3-2-1-2-3-1-23', data-tt-parent-id='3-2-1-2-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |js
            td Folder
            td --
          tr(data-tt-id='3-2-1-2-3-1-24', data-tt-parent-id='3-2-1-2-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |LegacyTechnologies
            td Folder
            td --
          tr(data-tt-id='3-2-1-2-3-1-25', data-tt-parent-id='3-2-1-2-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |MacOSX
            td Folder
            td --
          tr(data-tt-id='3-2-1-2-3-1-26', data-tt-parent-id='3-2-1-2-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |OpenSource
            td Folder
            td --
          tr(data-tt-id='3-2-1-2-3-1-27', data-tt-parent-id='3-2-1-2-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |Performance
            td Folder
            td --
          tr(data-tt-id='3-2-1-2-3-1-28', data-tt-parent-id='3-2-1-2-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |Porting
            td Folder
            td --
          tr(data-tt-id='3-2-1-2-3-1-29', data-tt-parent-id='3-2-1-2-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |Resources
            td Folder
            td --
          tr(data-tt-id='3-2-1-2-3-1-30', data-tt-parent-id='3-2-1-2-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |ScriptingAutomation
            td Folder
            td --
          tr(data-tt-id='3-2-1-2-3-1-31', data-tt-parent-id='3-2-1-2-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |UserExperience
            td Folder
            td --
          tr(data-tt-id='3-2-1-2-3-1-32', data-tt-parent-id='3-2-1-2-3-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |Xcode
            td Folder
            td --
          tr(data-tt-id='3-2-1-2-3-2', data-tt-parent-id='3-2-1-2-3')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |featuredarticles
            td Folder
            td --
          tr(data-tt-id='3-2-1-2-3-2-1', data-tt-parent-id='3-2-1-2-3-2')
            td
              span.file adcstyle.css
            td File
            td 15.86 KB
          tr(data-tt-id='3-2-1-2-3-2-2', data-tt-parent-id='3-2-1-2-3-2')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |AppleApplications
            td Folder
            td --
          tr(data-tt-id='3-2-1-2-3-2-2-1', data-tt-parent-id='3-2-1-2-3-2-2')
            td
              span.file idxDashboard-date.html
            td File
            td 8.35 KB
          tr(data-tt-id='3-2-1-2-3-2-2-2', data-tt-parent-id='3-2-1-2-3-2-2')
            td
              span.file idxDashboard-title.html
            td File
            td 8.24 KB
          tr(data-tt-id='3-2-1-2-3-2-2-3', data-tt-parent-id='3-2-1-2-3-2-2')
            td
              span.file index-date.html
            td File
            td 8.52 KB
          tr(data-tt-id='3-2-1-2-3-2-2-4', data-tt-parent-id='3-2-1-2-3-2-2')
            td
              span.file index-title.html
            td File
            td 8.51 KB
          tr(data-tt-id='3-2-1-2-3-2-2-5', data-tt-parent-id='3-2-1-2-3-2-2')
            td
              span.file index-topic.html
            td File
            td 8.51 KB
          tr(data-tt-id='3-2-1-2-3-2-2-6', data-tt-parent-id='3-2-1-2-3-2-2')
            td
              span.file index.html
            td File
            td 6.46 KB
          tr(data-tt-id='3-2-1-2-3-2-3', data-tt-parent-id='3-2-1-2-3-2')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |Carbon
            td Folder
            td --
          tr(data-tt-id='3-2-1-2-3-2-4', data-tt-parent-id='3-2-1-2-3-2')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |Cocoa
            td Folder
            td --
          tr(data-tt-id='3-2-1-2-3-2-5', data-tt-parent-id='3-2-1-2-3-2')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |css
            td Folder
            td --
          tr(data-tt-id='3-2-1-2-3-2-6', data-tt-parent-id='3-2-1-2-3-2')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |DeveloperTools
            td Folder
            td --
          tr(data-tt-id='3-2-1-2-3-2-7', data-tt-parent-id='3-2-1-2-3-2')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |Games
            td Folder
            td --
          tr(data-tt-id='3-2-1-2-3-2-8', data-tt-parent-id='3-2-1-2-3-2')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |images
            td Folder
            td --
          tr(data-tt-id='3-2-1-2-3-2-9', data-tt-parent-id='3-2-1-2-3-2')
            td
              span.file index-date.html
            td File
            td 16.03 KB
          tr(data-tt-id='3-2-1-2-3-2-10', data-tt-parent-id='3-2-1-2-3-2')
            td
              span.file index-title.html
            td File
            td 16.03 KB
          tr(data-tt-id='3-2-1-2-3-2-11', data-tt-parent-id='3-2-1-2-3-2')
            td
              span.file index-topic.html
            td File
            td 19.32 KB
          tr(data-tt-id='3-2-1-2-3-2-12', data-tt-parent-id='3-2-1-2-3-2')
            td
              span.file index.html
            td File
            td 10.98 KB
          tr(data-tt-id='3-2-1-2-3-2-13', data-tt-parent-id='3-2-1-2-3-2')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |js
            td Folder
            td --
          tr(data-tt-id='3-2-1-2-3-2-14', data-tt-parent-id='3-2-1-2-3-2')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |LegacyTechnologies
            td Folder
            td --
          tr(data-tt-id='3-2-1-2-3-2-15', data-tt-parent-id='3-2-1-2-3-2')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |ScriptingAutomation
            td Folder
            td --
          tr(data-tt-id='3-2-1-2-3-2-16', data-tt-parent-id='3-2-1-2-3-2')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |UserExperience
            td Folder
            td --
          tr(data-tt-id='3-2-1-2-3-3', data-tt-parent-id='3-2-1-2-3')
            td
              span.file index.html
            td File
            td 0.23 KB
          tr(data-tt-id='3-2-1-2-3-4', data-tt-parent-id='3-2-1-2-3')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |qa
            td Folder
            td --
          tr(data-tt-id='3-2-1-2-3-5', data-tt-parent-id='3-2-1-2-3')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |reference
            td Folder
            td --
          tr(data-tt-id='3-2-1-2-3-6', data-tt-parent-id='3-2-1-2-3')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |referencelibrary
            td Folder
            td --
          tr(data-tt-id='3-2-1-2-3-7', data-tt-parent-id='3-2-1-2-3')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |releasenotes
            td Folder
            td --
          tr(data-tt-id='3-2-1-2-3-8', data-tt-parent-id='3-2-1-2-3')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |samplecode
            td Folder
            td --
          tr(data-tt-id='3-2-1-2-3-9', data-tt-parent-id='3-2-1-2-3')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |technicalnotes
            td Folder
            td --
          tr(data-tt-id='3-2-1-2-3-10', data-tt-parent-id='3-2-1-2-3')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |technicalqas
            td Folder
            td --
          tr(data-tt-id='3-2-1-2-3-11', data-tt-parent-id='3-2-1-2-3')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |technotes
            td Folder
            td --
          tr(data-tt-id='3-2-1-3', data-tt-parent-id='3-2-1')
            td
              span.file version.plist
            td File
            td 0.44 KB
          tr(data-tt-id='4')
            td
              span.file
                i.fa.fa-file-word-o.mright5
                |iPhone SDK License.rtf
            td File
            td 37.93 KB
          tr(data-tt-id='5')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |Perl
            td Folder
            td --
          tr(data-tt-id='5-1', data-tt-parent-id='5')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |wxPerl
            td Folder
            td --
          tr(data-tt-id='5-1-1', data-tt-parent-id='5-1')
            td
              span.file INSTALL.pod
            td File
            td 8.26 KB
          tr(data-tt-id='5-1-2', data-tt-parent-id='5-1')
            td
              span.file
                i.fa.fa-file-text-o.mright5
                |todo.txt
            td File
            td 2.3 KB
          tr(data-tt-id='6')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |Python
            td Folder
            td --
          tr(data-tt-id='6-1', data-tt-parent-id='6')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |PyObjC
            td Folder
            td --
          tr(data-tt-id='6-1-1', data-tt-parent-id='6-1')
            td
              span.file
                i.fa.fa-file-text-o.mright5
                |announcement.txt
            td File
            td 2.33 KB
          tr(data-tt-id='6-1-2', data-tt-parent-id='6-1')
            td
              span.file api-notes-macosx.html
            td File
            td 30.09 KB
          tr(data-tt-id='6-1-3', data-tt-parent-id='6-1')
            td
              span.file
                i.fa.fa-file-text-o.mright5
                |api-notes-macosx.txt
            td File
            td 18.37 KB
          tr(data-tt-id='6-1-4', data-tt-parent-id='6-1')
            td
              span.file C-API.html
            td File
            td 11 KB
          tr(data-tt-id='6-1-5', data-tt-parent-id='6-1')
            td
              span.file
                i.fa.fa-file-text-o.mright5
                |C-API.txt
            td File
            td 8.67 KB
          tr(data-tt-id='6-1-6', data-tt-parent-id='6-1')
            td
              span.file coding-style.html
            td File
            td 4.53 KB
          tr(data-tt-id='6-1-7', data-tt-parent-id='6-1')
            td
              span.file
                i.fa.fa-file-text-o.mright5
                |coding-style.txt
            td File
            td 2.92 KB
          tr(data-tt-id='6-1-8', data-tt-parent-id='6-1')
            td
              span.file gnustep.html
            td File
            td 1.96 KB
          tr(data-tt-id='6-1-9', data-tt-parent-id='6-1')
            td
              span.file
                i.fa.fa-file-text-o.mright5
                |gnustep.txt
            td File
            td 1.52 KB
          tr(data-tt-id='6-1-10', data-tt-parent-id='6-1')
            td
              span.file index.html
            td File
            td 2.75 KB
          tr(data-tt-id='6-1-11', data-tt-parent-id='6-1')
            td
              span.file
                i.fa.fa-file-text-o.mright5
                |index.txt
            td File
            td 2.64 KB
          tr(data-tt-id='6-1-12', data-tt-parent-id='6-1')
            td
              span.file intro.html
            td File
            td 44.82 KB
          tr(data-tt-id='6-1-13', data-tt-parent-id='6-1')
            td
              span.file
                i.fa.fa-file-text-o.mright5
                |intro.txt
            td File
            td 38.38 KB
          tr(data-tt-id='6-1-14', data-tt-parent-id='6-1')
            td
              span.file protocols.html
            td File
            td 3.48 KB
          tr(data-tt-id='6-1-15', data-tt-parent-id='6-1')
            td
              span.file
                i.fa.fa-file-text-o.mright5
                |protocols.txt
            td File
            td 2.79 KB
          tr(data-tt-id='6-1-16', data-tt-parent-id='6-1')
            td
              span.file PyObjCTools.html
            td File
            td 10.96 KB
          tr(data-tt-id='6-1-17', data-tt-parent-id='6-1')
            td
              span.file
                i.fa.fa-file-text-o.mright5
                |PyObjCTools.txt
            td File
            td 7.9 KB
          tr(data-tt-id='6-1-18', data-tt-parent-id='6-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |Quartz
            td Folder
            td --
          tr(data-tt-id='6-1-18-1', data-tt-parent-id='6-1-18')
            td
              span.file
                i.fa.fa-file-text-o.mright5
                |api-notes.txt
            td File
            td 1.47 KB
          tr(data-tt-id='6-1-19', data-tt-parent-id='6-1')
            td
              span.file release-process.html
            td File
            td 3.83 KB
          tr(data-tt-id='6-1-20', data-tt-parent-id='6-1')
            td
              span.file
                i.fa.fa-file-text-o.mright5
                |release-process.txt
            td File
            td 2.65 KB
          tr(data-tt-id='6-1-21', data-tt-parent-id='6-1')
            td
              span.file structure.html
            td File
            td 6.55 KB
          tr(data-tt-id='6-1-22', data-tt-parent-id='6-1')
            td
              span.file
                i.fa.fa-file-text-o.mright5
                |structure.txt
            td File
            td 5.1 KB
          tr(data-tt-id='6-1-23', data-tt-parent-id='6-1')
            td
              span.file TODO.html
            td File
            td 13.49 KB
          tr(data-tt-id='6-1-24', data-tt-parent-id='6-1')
            td
              span.file
                i.fa.fa-file-text-o.mright5
                |TODO.txt
            td File
            td 9.06 KB
          tr(data-tt-id='6-1-25', data-tt-parent-id='6-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |tutorial
            td Folder
            td --
          tr(data-tt-id='6-1-26', data-tt-parent-id='6-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |tutorial_embed
            td Folder
            td --
          tr(data-tt-id='6-1-27', data-tt-parent-id='6-1')
            td
              span.file tutorial_reading.html
            td File
            td 12.85 KB
          tr(data-tt-id='6-1-28', data-tt-parent-id='6-1')
            td
              span.file
                i.fa.fa-file-text-o.mright5
                |tutorial_reading.txt
            td File
            td 11.12 KB
          tr(data-tt-id='6-1-29', data-tt-parent-id='6-1')
            td
              span.file website.lst
            td File
            td 0.58 KB
          tr(data-tt-id='6-1-30', data-tt-parent-id='6-1')
            td
              span.file wrapping.html
            td File
            td 6.04 KB
          tr(data-tt-id='6-1-31', data-tt-parent-id='6-1')
            td
              span.file
                i.fa.fa-file-text-o.mright5
                |wrapping.txt
            td File
            td 5.2 KB
          tr(data-tt-id='6-1-32', data-tt-parent-id='6-1')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |xcode
            td Folder
            td --
          tr(data-tt-id='6-1-33', data-tt-parent-id='6-1')
            td
              span.file Xcode-Templates.html
            td File
            td 13.97 KB
          tr(data-tt-id='6-2', data-tt-parent-id='6')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |wxPython
            td Folder
            td --
          tr(data-tt-id='7')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |RubyCocoa
            td Folder
            td --
          tr(data-tt-id='8')
            td
              span.folder
                i.fa.fa-folder-o.mright5
                |wxWidgets
            td Folder
            td --
          tr(data-tt-id='9')
            td
              span.file
                i.fa.fa-file-word-o.mright5
                |Xcode Tools License.rtf
            td File
            td 18.79 KB

