//- UI Elements - Widgets - Chat

include ../../common/variables
include ../mixins


//Chat
div.widget.panel.panel-white.no-b
  div.panel-heading
    i.fa.fa-comment.mright5
    |Chat
  div.panel-body
    div.pright10(data-scroll='slimscroll' data-scroll-size='100%|400')
      div.clearfix
        a.pull-left(href="#")
          img.img-circle.avatar.avatar-m(src="#{userhead[16]}" alt="Michael Ma")
        div.mleft75
          +alerts("alert-success p10", "false")
            p.small
              a.link-danger.mright5(href="#"): strong
                |Admin
              span.text-grey
                |@ 28 Dec 2014, 22:05
            p.small
              |Lorem ipsum dolor sit amet consectetuer adipiscing elit.
      div.clearfix
        a.pull-right(href="#")
          img.img-circle.avatar.avatar-m(src="#{userhead[17]}" alt="Ryan Hsu")
        div.mright75
          +alerts("alert-info", "false")
            p.small
              a.link-danger.mright5(href="#"): strong
                |Admin
              span.text-grey
                |@ 28 Dec 2014, 22:05
            p.small
              |Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
      div.clearfix
        a.pull-left(href="#")
          img.img-circle.avatar.avatar-m(src="#{userhead[16]}" alt="Michael Ma")
        div.mleft75
          +alerts("alert-success", "false")
            p.small
              a.link-danger.mright5(href="#"): strong
                |Admin
              span.text-grey
                |@ 28 Dec 2014, 22:05
            p.small
              |Lorem ipsum dolor sit amet consectetuer adipiscing elit venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
      div.clearfix
        a.pull-right(href="#")
          img.img-circle.avatar.avatar-m(src="#{userhead[17]}" alt="Ryan Hsu")
        div.mright75
          +alerts("alert-info", "false")
            p.small
              a.link-danger.mright5(href="#"): strong
                |Admin
              span.text-grey
                |@ 28 Dec 2014, 22:05
            p.small
              |Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
  div.panel-footer
    form.form-horizontal(role="form")
      div.form-group.no-m
        div.input-group
          input.form-control.input-sm.no-b(type="text" placeholder="Type a message here...")
          spam.input-group-btn
            button.btn.btn-sm.btn-grey(type="button")
              i.fa.fa-paper-plane