//- UI Elements - Widgets - Blog Posts

include ../../common/variables
//- include ../mixins

//Widget - Blog Posts
div.widget.panel.panel-white
  div.panel-heading
    i.fa.fa-file-text-o.mright10
    |Popular Posts
  div.panel-body
    ul.blog-widget-postslist.list-unstyled
      - for(var i=0;i<5;i++)
        li
          div.media
            a.media-left(href="#{page_pages_blog_item.url}")
              img(src="http://lorempixel.com/70/70/" alt="Lorem ipsum dolor sit amet")
            div.media-body
              h4.media-heading
                a(href="#{page_pages_blog_item.url}") Lorem ipsum dolor sit amet
              p
                i.fa.fa-user.mright5
                a(href="#{page_pages_blog_item.url}")
                  small Glenn Holland
              p
                i.fa.fa-clock-o.mright5
                small NOVEMBER 14, 2014