//- UI Elements - Widgets - Blog Advertisement
//- include ../../common/variables
//- include ../mixins

//Widget - Blog Advertisement
div.widget.panel.panel-white
  div.panel-body
    div.blog-widget-ads
      a(href="#")
        img(src="//www.highsnobiety.com/news/wp-content/uploads/2011/11/benetton-unhate-campaign-5.jpg" class="img-responsive")