//- UI Elements - Widgets - Profile Card #1

include ../../common/variables
include ../mixins


//Profile Card #1
div.widget.panel.panel-white
  div.panel-body
    a.show.text-center
      img.img-circle.avatar.avatar-lg(src="#{userhead[11]}" alt="Ryan Hsu")
    div.show.text-center.mtop15.mbottom15
      div.h4
        |Ryan Hsu
      p.h6.text-muted
        |Web Designer / FE Engineer
      p.h6.text-muted
        |Faceback Inc.
      p
        span.label.label-outlined.label-orange.mright5
          |HTML5
        span.label.label-outlined.label-success.mright5
          |CSS3
        span.label.label-outlined.label-violet.mright5
          |Javascript
  div.panel-footer.no-p.no-b
    div.row.no-m
      div.col-xs-4.text-center.no-p
        a.bgc-primary.show.ptop15.pbottom15.pleft10.pright10(href="javascript:void(0)")
          i.fa.fa-eye.fa-2x.show.mbottom5
          span.show.no-m.h4
            |4,483
      div.col-xs-4.text-center.no-p
        a.bgc-warning.show.ptop15.pbottom15.pleft10.pright10(href="javascript:void(0)")
          i.fa.fa-star.fa-2x.show.mbottom5
          span.show.h4.no-m
            |1,152
      div.col-xs-4.text-center.no-p
        a.bgc-danger.show.ptop15.pbottom15.pleft10.pright10(href="javascript:void(0)")
          i.fa.fa-code-fork.fa-2x.show.mbottom5
          span.show.h4.no-m
            |28,909
