//- UI Elements - Widgets - Blog Archives

//- include ../../common/variables
//- include ../mixins

//Widget - Blog Archives
div.widget.panel.panel-white
  div.panel-heading
    i.fa.fa-archive.mright10
    |Archives
  div.panel-body
    ul.blog-widget-archives.list-unstyled
      li.clearfix
        a(href="#")
          span.pull-left March 2014
          span.pull-right
            i.fa.fa-angle-right.mleft5
      li.clearfix
        a(href="#")
          span.pull-left September 2014
          span.pull-right
            i.fa.fa-angle-right.mleft5