//- UI Elements - Widgets - Profile Card #3

include ../../common/variables
//- include ../mixins


//Profile Card #3
div.widget.panel.panel-white.no-b
  div.panel-body
    div.pull-left.mright15
      img.img-circle.avatar.avatar-sm(src="#{userhead[14]}" alt="Mophy Mo")
    div
      p.no-m
        strong
          |Mophy Mo
      small
        |Fackback Inc.
    div.mtop10.mbottom10
      a.btn.btn-xs.btn-primary.mright5(href="#")
        i.fa.fa-facebook.mright5
        |Facebook
      a.btn.btn-xs.btn-info.mright5(href="#")
        i.fa.fa-twitter.mright5
        |Twitter
      a.btn.btn-xs.btn-violet.mright5(href="#")
        i.fa.fa-github.mright5
        |Github
