//- UI Elements - Widgets - Profile Card #5

include ../../common/variables
include ../mixins


//Profile Card #5
div.widget.panel.panel-white.no-b
  div.panel-body.bgc-primary
    div.pull-left.mright15
      img.img-circle.avatar.avatar-m(src="#{userhead[9]}" alt="Michael Ma")
    div.text-white
      p.mbottom5
        strong
          |Michael Ma
      p.small.mbottom5
        |San Francisco, CA
      p.small.mbottom5
        |Interactive UX Developer
  div.panel-footer.no-p.no-b
    div.list-group.no-b.no-m
      a.list-group-item(href="#")
        i.fa.fa-envelope-o.mright5
        |Message
        span.pull-right.badge.badge-danger 3
      a.list-group-item(href="#")
        i.fa.fa-tasks.mright5
        |Tasks
        span.pull-right.badge.badge-danger 7
      a.list-group-item(href="#")
        i.fa.fa-bell-o.mright5
        |Notifications
        span.pull-right.badge.badge-danger 8