//- UI Elements - Widgets - Weather

include ../../common/variables
//- include ../mixins


//Weather Card
div.widget.panel.panel-white.no-b
  div.panel-body.text-white(style="background:url(#{base_img}bg-beijing.jpg) no-repeat;background-size:cover;")
    div.col-md-6.col-sm-6.col-xs-6
      p.h5
        |Beijing, CHINA
      p.h1.no-m
        strong
          |-2℃
      p.h5
        |Sunday, 28 Dec.
    div.col-md-6.col-sm-6.col-xs-6.no-pr
      span.show.skycons.text-right
        canvas#clear-day(width="110" height="110")
  div.panel-footer.no-b.no-p
    div.row.no-m
      div.col-md-4.col-sm-4.col-xs-4.text-center.bgc-info.ptop15.pbottom15
        strong.show.mbottom5
          |Mon
        canvas#partly-cloudy-day(width="60" height="60")
        span.show.h4.no-mb
          |-5°
      div.col-md-4.col-sm-4.col-xs-4.text-center.bgc-info.ptop15.pbottom15
        strong.show.mbottom5
          |Tue
        canvas#snow(width="60" height="60")
        span.show.h4.no-mb
          |-9°
      div.col-md-4.col-sm-4.col-xs-4.text-center.bgc-info.ptop15.pbottom15
        strong.show.mbottom5
          |Wed
        canvas#wind(width="60" height="60")
        span.show.h4.no-mb
          |-4°