//- UI Elements - Widgets - Small Count Panel #2

//- include ../../common/variables
//- include ../mixins


//Small Count Panel #2
div.widget.panel.panel-white.no-b
  div.panel-body.bgc-success
    div.pbottom10.clearfix
      span.text-uppercase This is a title
      span.pull-right
        i.ti-arrow-up.mright5
        |12%
    div.clearfix
      div#demo-small-count-realtime-chart.mbottom10(style="height:58px;")
    div.clearfix
      div.small This is description.