//- Pages - 404
//- --------------------------------------------------
include ./common/variables
//- --------------------------------------------------
//- Page Config
- var page_language   = "en";
- var page            = page_pages_404;
- var page_name       = page.name;
- var page_url        = page.url;
- var page_parent     = page.parent;
- var body_class_name = page.bodyclass;
//- --------------------------------------------------
doctype html
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
//[if gt IE 8]><!
html(class="no-js" lang=page_language)
  //<![endif]

  //- Include public <head> tag
  include ./include/head

  //- body
  body(class=body_class_name)

    //- Include browsehappy
    include ./include/module/browsehappy

    //- Include signin container
    include ./include/404

    //- Include public page foot
    include ./include/foot