- var themes = {};

//- ============================== -//

- themes.alizarin          = ["ALIZARIN - Squared", "#E74C3C", "#16A085", "squared", base_css_style + "alizarin.css"];
- themes.alizarin_r          = ["ALIZARIN - Rounded", "#E74C3C", "#16A085", "rounded", base_css_style + "alizarin-rounded.css"];

- themes.amethyst          = ["AMETHYST - Squared", "#9B59B6", "#50474C", "squared", base_css_style + "amethyst.css"];
- themes.amethyst_r          = ["AMETHYST - Rounded", "#9B59B6", "#50474C", "rounded", base_css_style + "amethyst-rounded.css"];

- themes.asbestos          = ["ASBESTOS - Squared", "#7F8C8D", "#7AAAF3", "squared", base_css_style + "asbestos.css"];
- themes.asbestos_r          = ["ASBESTOS - Rounded", "#7F8C8D", "#7AAAF3", "rounded", base_css_style + "asbestos-rounded.css"];

- themes.belizehole          = ["BELIZE HOLE - Squared", "#2980B9", "#C5403F", "squared", base_css_style + "belize-hole.css"];
- themes.belizehole_r          = ["BELIZE HOLE - Rounded", "#2980B9", "#C5403F", "rounded", base_css_style + "belize-hole-rounded.css"];

- themes.carrot          = ["CARROT - Squared", "#E67E22", "#22C3E6", "squared", base_css_style + "carrot.css"];
- themes.carrot_r          = ["CARROT - Rounded", "#E67E22", "#22C3E6", "rounded", base_css_style + "carrot-rounded.css"];

- themes.concrete          = ["CONCRETE - Squared", "#95A5A6", "#B18373", "squared", base_css_style + "concrete.css"];
- themes.concrete_r          = ["CONCRETE - Rounded", "#95A5A6", "#B18373", "rounded", base_css_style + "concrete-rounded.css"];

- themes.emerald          = ["EMERALD - Squared", "#2ECC71", "#CC392E", "squared", base_css_style + "emerald.css"];
- themes.emerald_r          = ["EMERALD - Rounded", "#2ECC71", "#CC392E", "rounded", base_css_style + "emerald-rounded.css"];

- themes.greensea          = ["GREEN SEA - Squared", "#16A085", "#1F313A", "squared", base_css_style + "green-sea.css"];
- themes.greensea_r          = ["GREEN-SEA - Rounded", "#16A085", "#1F313A", "rounded", base_css_style + "green-sea-rounded.css"];

- themes.midnightblue          = ["MIDNIGHT BLUE - Squared", "#2C3E50", "#46719C", "squared", base_css_style + "midnight-blue.css"];
- themes.midnightblue_r          = ["MIDNIGHT-BLUE - Rounded", "#2C3E50", "#46719C", "rounded", base_css_style + "midnight-blue-rounded.css"];

- themes.nephritis          = ["NEPHRITIS - Squared", "#27AE60", "#B85770", "squared", base_css_style + "nephritis.css"];
- themes.nephritis_r          = ["NEPHRITIS - Rounded", "#27AE60", "#B85770", "rounded", base_css_style + "nephritis-rounded.css"];

- themes.orange          = ["ORANGE - Squared", "#F39C12", "#21C0B5", "squared", base_css_style + "orange.css"];
- themes.orange_r          = ["ORANGE - Rounded", "#F39C12", "#21C0B5", "rounded", base_css_style + "orange-rounded.css"];

- themes.peterriver          = ["PETER RIVER - Squared", "#3498DB", "#DB9634", "squared", base_css_style + "peter-river.css"];
- themes.peterriver_r          = ["PETER RIVER - Rounded", "#3498DB", "#DB9634", "rounded", base_css_style + "peter-river-rounded.css"];

- themes.pomegranate          = ["POMEGRANATE - Squared", "#C0392B", "#2BC070", "squared", base_css_style + "pomegranate.css"];
- themes.pomegranate_r          = ["POMEGRANATE - Rounded", "#C0392B", "#2BC070", "rounded", base_css_style + "pomegranate-rounded.css"];

- themes.pumpkin          = ["PUMPKIN - Squared", "#D35400", "#008086", "squared", base_css_style + "pumpkin.css"];
- themes.pumpkin_r          = ["PUMPKIN - Rounded", "#D35400", "#008086", "rounded", base_css_style + "pumpkin-rounded.css"];

- themes.sunflower          = ["SUN FLOWER - Squared", "#F1C40F", "#1F7ABE", "squared", base_css_style + "sun-flower.css"];
- themes.sunflower_r          = ["SUN FLOWER - Rounded", "#F1C40F", "#1F7ABE", "rounded", base_css_style + "sun-flower-rounded.css"];

- themes.turquoise          = ["TURQUOISE - Squared", "#1ABC9C", "#C45B4C", "squared", base_css_style + "turquoise.css"];
- themes.turquoise_r          = ["TURQUOISE - Rounded", "#1ABC9C", "#C45B4C", "rounded", base_css_style + "turquoise-rounded.css"];

- themes.wetasphalt          = ["WET ASPHALT - Squared", "#34495E", "#4D7CAA", "squared", base_css_style + "wet-asphalt.css"];
- themes.wetasphalt_r          = ["WET ASPHALT - Rounded", "#34495E", "#4D7CAA", "rounded", base_css_style + "wet-asphalt-rounded.css"];

- themes.wisteria          = ["WISTERIA - Squared", "#8E44AD", "#E0CD42", "squared", base_css_style + "wisteria.css"];
- themes.wisteria_r          = ["WISTERIA - Rounded", "#8E44AD", "#E0CD42", "rounded", base_css_style + "wisteria-rounded.css"];