//
// Avatar
// --------------------------------------------------


/* Avatar */
.avatar
{
    position: relative;

    display: inline-block;

    width: 100%;
}
.avatar-xs
{
    width: @user-head-xs-width;
    height: @user-head-xs-height;
}
.avatar-sm
{
    width: @user-head-sm-width;
    height: @user-head-sm-height;
}
.avatar-m
{
    width: @user-head-m-width;
    height: @user-head-m-height;
}
.avatar-lg
{
    width: @user-head-lg-width;
    height: @user-head-lg-height;
}
.avatar-xl
{
    width: @user-head-xl-width;
    height: @user-head-xl-height;
}
