//
// Buttons
// --------------------------------------------------


/* Buttons */
.demo-btn
{
    // font-size: 0;
    // > .btn
    // {
    //     margin-right: 5px;
    //     margin-bottom: 5px;
    // }
    // > .btn-group, > .btn-toolbar, > .btn-group-vertical
    // {
    //     margin-right: 5px;
    //     margin-bottom: 10px;
    // }
}

.btn
{
    font-weight: @buttons-font-wight;

    outline: none!important;

    .transition(@link-animation-time);
    &.dropdown-toggle
    {
        > .caret
        {
            width: 0;
            margin-left: .5em;
        }
    }
    ~ .dropdown-toggle
    {
        > .caret
        {
            margin-left: 0;
        }
    }
    // i{
    //   width: 1.5em;
    //   text-align: center;
    // }
}
.btn-rounded
{
    border-radius: 40px;
}
.btn-outlined
{
    background-color: transparent;
}
.btn-group-vertical
{
    > .btn:last-child:not(:first-child), > .btn:first-child:not(:last-child)
    {
        border-radius: 0;
    }
}
.btn-lg,
.btn-group-lg > .btn
{
    // font-size: @font-size-large;
    border-radius: @border-radius-base;
}
.btn-sm,
.btn-group-sm > .btn
{
    // font-size: @font-size-small;
    border-radius: @border-radius-base;
}
.btn-xs,
.btn-group-xs > .btn
{
    // font-size: @font-size-smaller;
    border-radius: @border-radius-base;
}

.btn-red
{
    .button-variant(@base-white; @color-red; darken(@color-red, 8%));
    &.btn-outlined
    {
        .button-outlined-variant(@color-red; @color-red);
    }
}
.btn-orange
{
    .button-variant(@base-white; @color-orange; darken(@color-orange, 8%));
    &.btn-outlined
    {
        .button-outlined-variant(@color-orange; @color-orange);
    }
}
.btn-yellow
{
    .button-variant(@base-white; @color-yellow; darken(@color-yellow, 8%));
    &.btn-outlined
    {
        .button-outlined-variant(@color-yellow; @color-yellow);
    }
}
.btn-green
{
    .button-variant(@base-white; @color-green; darken(@color-green, 8%));
    &.btn-outlined
    {
        .button-outlined-variant(@color-green; @color-green);
    }
}
.btn-black
{
    .button-variant(@base-white; @color-black; darken(@color-black, 8%));
    &.btn-outlined
    {
        .button-outlined-variant(@color-black; @color-black);
    }
}
.btn-blue
{
    .button-variant(@base-white; @color-blue; darken(@color-blue, 8%));
    &.btn-outlined
    {
        .button-outlined-variant(@color-blue; @color-blue);
    }
}
.btn-violet
{
    .button-variant(@base-white; @color-violet; darken(@color-violet, 8%));
    &.btn-outlined
    {
        .button-outlined-variant(@color-violet; @color-violet);
    }
}
.btn-pink
{
    .button-variant(@base-white; @color-pink; darken(@color-pink, 8%));
    &.btn-outlined
    {
        .button-outlined-variant(@color-pink; @color-pink);
    }
}
.btn-grey
{
    .button-variant(@base-white; @color-grey; darken(@color-grey, 8%));
    &.btn-outlined
    {
        .button-outlined-variant(@color-grey; @color-grey);
    }
}
.btn-primary
{
    .button-variant(@base-white; @color-primary; darken(@color-primary, 8%));
    &.btn-outlined
    {
        .button-outlined-variant(@color-primary; @color-primary);
    }
}
.btn-success
{
    .button-variant(@base-white; @color-success; darken(@color-success, 8%));
    &.btn-outlined
    {
        .button-outlined-variant(@color-success; @color-success);
    }
}
.btn-info
{
    .button-variant(@base-white; @color-info; darken(@color-info, 8%));
    &.btn-outlined
    {
        .button-outlined-variant(@color-info; @color-info);
    }
}
.btn-warning
{
    .button-variant(@base-white; @color-warning; darken(@color-warning, 8%));
    &.btn-outlined
    {
        .button-outlined-variant(@color-warning; @color-warning);
    }
}
.btn-danger
{
    .button-variant(@base-white; @color-danger; darken(@color-danger, 8%));
    &.btn-outlined
    {
        .button-outlined-variant(@color-danger; @color-danger);
    }
}

.input-group-btn
{
    z-index: 9;
}


/* Bootstrap Select */
.bootstrap-select
{
    .btn
    {
        font-weight: @font-weight-thin;
        &:focus
        {
            outline: none!important;
        }
    }
    &.btn-group
    {
        .dropdown-menu
        {
            &.inner
            {
                overflow-x: hidden;
            }
        }
    }
}
