//
// Charts
// --------------------------------------------------


/* Float Charts */
.legend
{
    .legendColorBox
    {
        padding: 3px 0;
        > div
        {
            margin-right: 5px;

            border-radius: 50%;
            > div
            {
                border-radius: 50%;
            }
        }
    }
}


/* Easy Chart Pie Chart */
.easypie
{
    position: relative;

    display: inline-block;

    text-align: center;
    canvas
    {
        position: absolute;
        top: 0;
        left: 0;
    }
}


/* Sparklines */

.jqstooltip
{
    font: @font-size-xs @font-family-open-sans;
    box-sizing: content-box;

    position: absolute;
    z-index: 10000;
    top: 0;
    left: 0;

    visibility: hidden;

    padding: 5px;

    text-align: left;
    white-space: nowrap;

    color: #fff;
    border: 1px solid #fff;
    background: rgb(0, 0, 0) transparent;
    background-color: rgba(0,0,0,.6);
}
.jqsfield
{
    font: @font-size-xs @font-family-open-sans;
    box-sizing: content-box;

    text-align: left;

    color: #fff;
}
