//
// Form
// --------------------------------------------------



/* Forms */
.demo-input-group
{
    padding-bottom: 20px;
    .demo-box
    {
        padding-bottom: 20px;
    }
}

.form-control
{
    .has-success &
    {
        color: darken(@color-success,30%);
        background-color: lighten(@color-success, 43%);
        &[disabled],
        &[readonly]
        {
            background-color: #eee;
        }
    }
    .has-warning &
    {
        color: darken(@color-warning,30%);
        background-color: lighten(@color-warning, 35%);
        &[disabled],
        &[readonly]
        {
            background-color: #eee;
        }
    }
    .has-error &
    {
        color: darken(@color-danger,20%);
        background-color: lighten(@color-danger, 38%);
        &[disabled],
        &[readonly]
        {
            background-color: #eee;
        }
    }
}
.form-control-feedback
{
    line-height: 34px!important;
}


/* Bootstrap Switch */
.bootstrap-switch
{
    border-color: transparent;
    .bootstrap-switch-handle-on,
    .bootstrap-switch-handle-off
    {
        &.bootstrap-switch-red
        {
            color: #fff;
            background-color: @color-red;
        }
        &.bootstrap-switch-orange
        {
            color: #fff;
            background-color: @color-orange;
        }
        &.bootstrap-switch-yellow
        {
            color: #fff;
            background-color: @color-yellow;
        }
        &.bootstrap-switch-green
        {
            color: #fff;
            background-color: @color-green;
        }
        &.bootstrap-switch-black
        {
            color: #fff;
            background-color: @color-black;
        }
        &.bootstrap-switch-blue
        {
            color: #fff;
            background-color: @color-blue;
        }
        &.bootstrap-switch-violet
        {
            color: #fff;
            background-color: @color-violet;
        }
        &.bootstrap-switch-pink
        {
            color: #fff;
            background-color: @color-pink;
        }
        &.bootstrap-switch-grey
        {
            color: #fff;
            background-color: @color-grey;
        }
    }
    &.bootstrap-switch-focused
    {
        border-color: transparent;

        .box-shadow(none);
    }
}

.input-mini
{
    width: 45px !important;
}
.input-xsmall
{
    width: 80px !important;
}
.input-small
{
    width: 120px !important;
}
.input-medium
{
    width: 240px !important;
}
.input-large
{
    width: 320px !important;
}
.input-xlarge
{
    width: 480px !important;
}

.input-inline
{
    display: inline-block;

    width: auto;

    vertical-align: middle;
}


/* Color Picker */
.colorpicker
{
    padding: 5px;
}
