//
// Modal
// --------------------------------------------------


/* Modal */
.demo-modals
{
    .btn
    {
        margin: 5px 5px 0 0;
    }
}

.modal-fullwidth
{
    width: @modal-fullwidth-width;
}
.modal-widewidth
{
    width: @modal-widewidth-width;
    @media (max-width: @screen-sm)
    {
        margin: 10px auto;
    }
}

.modal-left-footer
{
    .modal-footer
    {
        text-align: left!important;
    }
}

.modal-primary
{
    .modal-header
    {
        color: @modal-primary-header-color;
        background-color: @modal-primary-header-bg;
    }
}
.modal-success
{
    .modal-header
    {
        color: @modal-success-header-color;
        background-color: @modal-success-header-bg;
    }
}
.modal-info
{
    .modal-header
    {
        color: @modal-info-header-color;
        background-color: @modal-info-header-bg;
    }
}
.modal-warning
{
    .modal-header
    {
        color: @modal-warning-header-color;
        background-color: @modal-warning-header-bg;
    }
}
.modal-danger
{
    .modal-header
    {
        color: @modal-danger-header-color;
        background-color: @modal-danger-header-bg;
    }
}
.modal-red
{
    .modal-header
    {
        color: @modal-red-header-color;
        background-color: @modal-red-header-bg;
    }
}
.modal-orange
{
    .modal-header
    {
        color: @modal-orange-header-color;
        background-color: @modal-orange-header-bg;
    }
}
.modal-yellow
{
    .modal-header
    {
        color: @modal-yellow-header-color;
        background-color: @modal-yellow-header-bg;
    }
}
.modal-green
{
    .modal-header
    {
        color: @modal-green-header-color;
        background-color: @modal-green-header-bg;
    }
}
.modal-black
{
    .modal-header
    {
        color: @modal-black-header-color;
        background-color: @modal-black-header-bg;
    }
}
.modal-blue
{
    .modal-header
    {
        color: @modal-blue-header-color;
        background-color: @modal-blue-header-bg;
    }
}
.modal-violet
{
    .modal-header
    {
        color: @modal-violet-header-color;
        background-color: @modal-violet-header-bg;
    }
}
.modal-pink
{
    .modal-header
    {
        color: @modal-pink-header-color;
        background-color: @modal-pink-header-bg;
    }
}
.modal-grey
{
    .modal-header
    {
        color: @modal-grey-header-color;
        background-color: @modal-grey-header-bg;
    }
}
