//
// Panel
// --------------------------------------------------


/* Panel */
.panel
{
    border-radius: @border-radius-base;
    > .panel-heading
    {
        font-size: @font-size-h4;
        font-weight: @font-weight-base;
    }
}


.panel-white
{
    .panel-theme(@panel-white-border-color;@panel-white-bg;@panel-white-head-color;@panel-white-head-bg);
}
.panel-primary
{
    .panel-theme(@panel-primary-border-color;@panel-primary-bg;@panel-primary-head-color;@panel-primary-head-bg);
}
.panel-success
{
    .panel-theme(@panel-success-border-color;@panel-success-bg;@panel-success-head-color;@panel-success-head-bg);
}
.panel-info
{
    .panel-theme(@panel-info-border-color;@panel-info-bg;@panel-info-head-color;@panel-info-head-bg);
}
.panel-warning
{
    .panel-theme(@panel-warning-border-color;@panel-white-bg;@panel-warning-head-color;@panel-warning-head-bg);
}
.panel-danger
{
    .panel-theme(@panel-danger-border-color;@panel-danger-bg;@panel-danger-head-color;@panel-danger-head-bg);
}
.panel-red
{
    .panel-theme(@panel-red-border-color;@panel-red-bg;@panel-red-head-color;@panel-red-head-bg);
}
.panel-orange
{
    .panel-theme(@panel-orange-border-color;@panel-orange-bg;@panel-orange-head-color;@panel-orange-head-bg);
}
.panel-yellow
{
    .panel-theme(@panel-yellow-border-color;@panel-yellow-bg;@panel-yellow-head-color;@panel-yellow-head-bg);
}
.panel-green
{
    .panel-theme(@panel-green-border-color;@panel-green-bg;@panel-green-head-color;@panel-green-head-bg);
}
.panel-black
{
    .panel-theme(@panel-black-border-color;@panel-black-bg;@panel-black-head-color;@panel-black-head-bg);
}
.panel-blue
{
    .panel-theme(@panel-blue-border-color;@panel-blue-bg;@panel-blue-head-color;@panel-blue-head-bg);
}
.panel-violet
{
    .panel-theme(@panel-violet-border-color;@panel-violet-bg;@panel-violet-head-color;@panel-violet-head-bg);
}
.panel-pink
{
    .panel-theme(@panel-pink-border-color;@panel-pink-bg;@panel-pink-head-color;@panel-pink-head-bg);
}
.panel-grey
{
    .panel-theme(@panel-grey-border-color;@panel-grey-bg;@panel-grey-head-color;@panel-grey-head-bg);
}