//
// Tab
// --------------------------------------------------


/* Tab */
.demo-tabs-accordions
{
    padding-bottom: 20px;
}
.nav-tabs
{
    border-bottom: @tab-border-width @tab-border solid;
    @media (max-width: @screen-sm-max)
    {
        border-bottom: none;
    }
    > li
    {
        margin-bottom: -@tab-border-width;
        @media (max-width: @screen-sm-max)
        {
            float: none;

            margin-bottom: 0;
        }
        > a
        {
            margin-right: 0;

            color: @tab-color;
            border-bottom-width: @tab-border-width;
            border-radius: @border-radius-base @border-radius-base 0 0;

            .transition(none);
            @media (max-width: @screen-sm-max)
            {
                border-bottom: none!important;
            }
            &:hover
            {
                border-color: @tab-border;
                background-color: lighten(@tab-border,10%);
            }
            &:focus
            {
                border-color: transparent;
                background-color: transparent;
            }
        }
        &.active
        {
            > a, > a:hover, > a:focus
            {
                color: @tab-active-color;
                border-color: @tab-border;
                border-bottom: @tab-border-width @tab-active-bg solid;
                border-radius: @border-radius-base @border-radius-base 0 0;
                background-color: @tab-active-bg;
            }
        }
    }
    &.nav-justified
    {
        border-bottom: @tab-border-width @tab-border solid;
        > li
        {
            > a
            {
                border-radius: @border-radius-base @border-radius-base 0 0;
            }
        }
    }
    &.nav-tabs-rtl
    {
        > li
        {
            float: right;
        }
    }
}

.tab-content
{
    margin-bottom: 20px;
    padding: 20px;

    border-width: 1px;
    border-style: solid;
    border-color: @tab-content-border;
    border-top: none;
    background-color: @tab-content-bg;
}

.tabs-left
{
    .nav-tabs
    {
        display: inline-block;
        float: left;

        border-bottom: none;
        > li
        {
            float: none;

            margin-right: 0;
            margin-bottom: 0;
        }
    }
    .tab-content
    {
        overflow: hidden;

        border-top: 1px solid @tab-content-border;
        border-left: @tab-border-width @tab-border solid;
    }
}

.tabs-right
{
    .nav-tabs
    {
        display: inline-block;
        float: right;

        border-bottom: none;
        > li
        {
            float: none;

            margin-right: 0;
            margin-bottom: 0;
        }
    }
    .tab-content
    {
        overflow: hidden;

        border-top: 1px solid @tab-content-border;
        border-right: @tab-border-width @tab-border solid;
    }
}

.nav-tabs-red,
.nav-tabs-red.nav-justified
{
    .tabs-theme-variant(@tab-red-bg; @tab-red-border; @tab-red-text; @tab-red-hover-bg; @tab-red-hover-border; @tab-red-hover-text; @tab-red-active-bg; @tab-red-active-border; @tab-red-active-text);
}
.nav-tabs-orange,
.nav-tabs-orange.nav-justified
{
    .tabs-theme-variant(@tab-orange-bg; @tab-orange-border; @tab-orange-text; @tab-orange-hover-bg; @tab-orange-hover-border; @tab-orange-hover-text; @tab-orange-active-bg; @tab-orange-active-border; @tab-orange-active-text);
}
.nav-tabs-yellow,
.nav-tabs-yellow.nav-justified
{
    .tabs-theme-variant(@tab-yellow-bg; @tab-yellow-border; @tab-yellow-text; @tab-yellow-hover-bg; @tab-yellow-hover-border; @tab-yellow-hover-text; @tab-yellow-active-bg; @tab-yellow-active-border; @tab-yellow-active-text);
}
.nav-tabs-green,
.nav-tabs-green.nav-justified
{
    .tabs-theme-variant(@tab-green-bg; @tab-green-border; @tab-green-text; @tab-green-hover-bg; @tab-green-hover-border; @tab-green-hover-text; @tab-green-active-bg; @tab-green-active-border; @tab-green-active-text);
}
.nav-tabs-black,
.nav-tabs-black.nav-justified
{
    .tabs-theme-variant(@tab-black-bg; @tab-black-border; @tab-black-text; @tab-black-hover-bg; @tab-black-hover-border; @tab-black-hover-text; @tab-black-active-bg; @tab-black-active-border; @tab-black-active-text);
}
.nav-tabs-blue,
.nav-tabs-blue.nav-justified
{
    .tabs-theme-variant(@tab-blue-bg; @tab-blue-border; @tab-blue-text; @tab-blue-hover-bg; @tab-blue-hover-border; @tab-blue-hover-text; @tab-blue-active-bg; @tab-blue-active-border; @tab-blue-active-text);
}
.nav-tabs-violet,
.nav-tabs-violet.nav-justified
{
    .tabs-theme-variant(@tab-violet-bg; @tab-violet-border; @tab-violet-text; @tab-violet-hover-bg; @tab-violet-hover-border; @tab-violet-hover-text; @tab-violet-active-bg; @tab-violet-active-border; @tab-violet-active-text);
}
.nav-tabs-pink,
.nav-tabs-pink.nav-justified
{
    .tabs-theme-variant(@tab-pink-bg; @tab-pink-border; @tab-pink-text; @tab-pink-hover-bg; @tab-pink-hover-border; @tab-pink-hover-text; @tab-pink-active-bg; @tab-pink-active-border; @tab-pink-active-text);
}
.nav-tabs-grey,
.nav-tabs-grey.nav-justified
{
    .tabs-theme-variant(@tab-grey-bg; @tab-grey-border; @tab-grey-text; @tab-grey-hover-bg; @tab-grey-hover-border; @tab-grey-hover-text; @tab-grey-active-bg; @tab-grey-active-border; @tab-grey-active-text);
}


/* Pills */
.nav-pills
{
    > li
    {
        > a
        {
            border-radius: @border-radius-base;
        }
    }
}
