//
// Variables
// --------------------------------------------------


// == CSS images folder
@css-img-base : "../img/";


// == Colors
//
//## Default Color.

@gray-base             :#000;
@gray-darker           :lighten(@gray-base, 13.5%); // #222
@gray-dark             :lighten(@gray-base, 20%);   // #333
@gray                  :lighten(@gray-base, 33.5%); // #555
@gray-light            :lighten(@gray-base, 46.7%); // #777
@gray-lighter          :lighten(@gray-base, 93.5%); // #eee

@brand-main-base       :#0092c7;
@brand-main-base-light :darken(@brand-main-base, 20%);

@brand-minor           :#f2572d;

//** Colorful
@color-primary         :#428bca;
@color-success         :#5cb85c;
@color-info            :#5bc0de;
@color-warning         :#f0ad4e;
@color-danger          :#d9534f;

@color-red             :#e31d18;
@color-orange          :#f2572d;
@color-yellow          :#f1c82d;
@color-green           :#00947d;
@color-black           :#4d4d4d;
@color-blue            :#02b4dd;
@color-violet          :#5c2862;
@color-pink            :#fa639e;
@color-grey            :#a3a3a3;
@color-white           :#ffffff;


// == Scaffolding
//
//##

@body-bg               :#fff;
@text-color            :@gray-dark;

@link-color            :@brand-main-base;
@link-hover-color      :darken(@brand-main-base, 15%);
@link-hover-decoration :none;

@link-animation-time   :ease-in-out .15s;


// == Typography
//
//##

@font-family-open-sans :"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
@font-family-serif     :Georgia, "Times New Roman", Times, serif;

@font-family-base      :@font-family-open-sans;

@font-size-base        :14px;
@font-size-larger      :ceil((@font-size-base * 1.42)); // ~20px
@font-size-large       :ceil((@font-size-base * 1.25)); // ~18px
@font-size-small       :ceil((@font-size-base * 0.92)); // ~13px
@font-size-smaller     :ceil((@font-size-base * 0.85)); // ~12px
@font-size-xs          :ceil((@font-size-base * 0.71)); // ~10px

@font-size-h1          :floor((@font-size-base * 2.6)); // ~36px
@font-size-h2          :floor((@font-size-base * 2.15)); // ~30px
@font-size-h3          :ceil((@font-size-base * 1.7)); // ~24px
@font-size-h4          :ceil((@font-size-base * 1.25)); // ~18px
@font-size-h5          :@font-size-base;
@font-size-h6          :ceil((@font-size-base * 0.85)); // ~12px

@font-weight-thin      :300;
@font-weight-base      :400;
@font-weight-bold      :600;
@font-weight-bolder    :700;

@headings-font-family  :inherit;
@headings-font-weight  :300;
@headings-line-height  :1.1;
@headings-color        :inherit;

//** Unit-less `line-height` for use in components like buttons.
@line-height-base:        1.428571429; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
@line-height-computed:    floor((@font-size-base * @line-height-base)); // ~20px


// == Iconography
//
//##
@icon-margin-horizontal :5px;


// == Components
//
//##
@border-radius-base :0;


// == Tables
//
//##


// == Buttons
//
//##
@buttons-font-wight:@font-weight-base;

//
//## For each of Bootstrap's buttons, define text, background and border color.

@btn-font-weight:                normal;

@btn-default-color:              #333;
@btn-default-bg:                 #fff;
@btn-default-border:             #ccc;

@btn-primary-color:              #fff;
@btn-primary-bg:                 @color-primary;
@btn-primary-border:             darken(@btn-primary-bg, 5%);

@btn-success-color:              #fff;
@btn-success-bg:                 @color-success;
@btn-success-border:             darken(@btn-success-bg, 5%);

@btn-info-color:                 #fff;
@btn-info-bg:                    @color-info;
@btn-info-border:                darken(@btn-info-bg, 5%);

@btn-warning-color:              #fff;
@btn-warning-bg:                 @color-warning;
@btn-warning-border:             darken(@btn-warning-bg, 5%);

@btn-danger-color:               #fff;
@btn-danger-bg:                  @color-danger;
@btn-danger-border:              darken(@btn-danger-bg, 5%);

@btn-link-disabled-color:        @gray-light;



// == Forms
//
//##


// == Dropdowns
//
//##
@dropdown-item-padding-vertical   :10px;
@dropdown-item-padding-horizontal :20px;


//-- Z-index master list
//
//##


// == Media queries breakpoints
//
//##


// == Container
//
//##
@container-padding-vertical   :0;
@container-padding-horizontal :0;


// == Z-index master list
//
//##
@zindex-topheader :1010;
@zindex-menu-sub  :1009;


// == Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `@screen-xs` as of v3.0.1
@screen-xs         :480px;
//** Deprecated `@screen-xs-min` as of v3.2.0
@screen-xs-min     :@screen-xs;
//** Deprecated `@screen-phone` as of v3.0.1
@screen-phone      :@screen-xs-min;

// Small screen / tablet
//** Deprecated `@screen-sm` as of v3.0.1
@screen-sm         :768px;
@screen-sm-min     :@screen-sm;
//** Deprecated `@screen-tablet` as of v3.0.1
@screen-tablet     :@screen-sm-min;

// Medium screen / desktop
//** Deprecated `@screen-md` as of v3.0.1
@screen-md         :992px;
@screen-md-min     :@screen-md;
//** Deprecated `@screen-desktop` as of v3.0.1
@screen-desktop    :@screen-md-min;

// Large screen / wide desktop
//** Deprecated `@screen-lg` as of v3.0.1
@screen-lg         :1200px;
@screen-lg-min     :@screen-lg;
//** Deprecated `@screen-lg-desktop` as of v3.0.1
@screen-lg-desktop :@screen-lg-min;

// So media queries don't overlap when required, provide a maximum
@screen-xs-max     :(@screen-sm-min - 1);
@screen-sm-max     :(@screen-md-min - 1);
@screen-md-max     :(@screen-lg-min - 1);


// == Pic size
//
//##
//** User head pic size                :
@user-head-xs-width  :16px;
@user-head-xs-height :16px;
@user-head-sm-width  :ceil((@user-head-xs-width*2));
@user-head-sm-height :ceil((@user-head-xs-height*2));;
@user-head-m-width   :ceil((@user-head-sm-width*2));
@user-head-m-height  :ceil((@user-head-sm-height*2));
@user-head-lg-width  :ceil((@user-head-m-width*2));
@user-head-lg-height :ceil((@user-head-m-height*2));
@user-head-xl-width  :ceil((@user-head-lg-width*2));
@user-head-xl-height  :ceil((@user-head-lg-height*2));


// == Top header
//
//##
@top-header-height                     :50px;
@top-header-brand-width                :@sidebar-width;

@top-header-links-padding              :0 15px;

@top-header-badge-width                :20px;
@top-header-badge-height               :20px;

@top-header-user-head-width            :@user-head-sm-width;
@top-header-user-head-height           :@user-head-sm-height;
@top-header-user-head-padding-vertical :ceil(((@top-header-height - @top-header-user-head-height)/2));


// == Sidebar
//
//##
@sidebar-width           :250px;
@sidebar-collapsed-width :70px;



// == Tab
//
//##
@tab-active-bg      :#ddd;
@tab-border         :@tab-active-bg;
@tab-border-width   :2px;
@tab-color          :@gray-light;
@tab-active-color   :@gray;
@tab-content-bg     :#fff;
@tab-content-border :@tab-border;



// == Progress Bar
//
//##
@progressbar-xs-height         :ceil((@progressbar-sm-height*0.5));
@progressbar-sm-height         :ceil((@progressbar-default-height*0.75));
@progressbar-default-height    :20px;
@progressbar-lg-height         :ceil((@progressbar-default-height*1.25));

@progressbar-vertical-xs-width :ceil((@progressbar-vertical-sm-width*0.5));
@progressbar-vertical-sm-width :ceil((@progressbar-vertical-width*0.75));
@progressbar-vertical-width    :60px;
@progressbar-vertical-lg-width :ceil((@progressbar-vertical-width*1.25));


// == Slider
//
//## jQuery UI Sliders
@jqui-slider-horizontal-border-size    :1px;
@jqui-slider-horizontal-size           :10px;
@jqui-slider-handle-border-size        :5px;
@jqui-slider-handle-width              :20px;
@jqui-slider-handle-height             :20px;
@jqui-slider-handle-border-radius      :50%;

@jqui-slider-horizontal-border-color   :transparent;
@jqui-slider-horizontal-bg             :#f5f5f5;
@jqui-slider-handle-border-color       :#fff;
@jqui-slider-handle-bg                 :@brand-minor;
@jqui-slider-handle-hover-border-color :#fff;
@jqui-slider-handle-hover-bg           :lighten(@brand-minor,20%);
@jqui-slider-range-bg                  :@brand-minor;

//## NoUI Sliders
@noui-slider-connect-bg:@brand-minor;


// == Modal
//
//##
@modal-fullwidth-width:100%;
@modal-widewidth-width:70%;


