// Button variants
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons

.button-variant(@color; @background; @border) {
  color: @color!important;
  background-color: @background!important;
  border-color: @border!important;

  &:hover,
  &:focus,
  &.focus,
  &:active,
  &.active,
  .open > .dropdown-toggle& {
    color: @color!important;
    background-color: darken(@background, 10%)!important;
        border-color: darken(@border, 12%)!important;
  }
  &:active,
  &.active,
  .open > .dropdown-toggle& {
    background-image: none!important;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
      background-color: @background!important;
          border-color: @border!important;
          cursor: not-allowed;
    }
  }

  .badge {
    color: @background!important;
    background-color: @color!important;
  }
}

.button-outlined-variant(@color; @border) {
  color: @color!important;
  background-color: transparent!important;
  border-color: @border!important;

  &:hover,
  &:focus,
  &.focus,
  &:active,
  &.active,
  .open > .dropdown-toggle& {
    color: #fff!important;
    background-color: darken(@border, 8%)!important;
        border-color: darken(@border, 10%)!important;
  }
  &:active,
  &.active,
  .open > .dropdown-toggle& {
    background-image: none!important;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
      background-color: darken(@border, 8%)!important;
          border-color: darken(@border, 10%)!important;
          cursor: not-allowed;
    }
  }
}

// Button sizes
.button-size(@padding-vertical; @padding-horizontal; @font-size; @line-height; @border-radius) {
  padding: @padding-vertical @padding-horizontal;
  font-size: @font-size;
  line-height: @line-height;
  border-radius: @border-radius;
}
