//- Pages - 500

//- include ../common/variables
//- include ./mixins


//404 page

div.center-box
  div.center-box-inner

    div.error-page-content
      h1 500
      h4
        i.fa.fa-exclamation-triangle.mright10
        |Server Error
      p We're experiencing an internal server problem.
      p
        |Please try again later or contact&nbsp;
        a(href="mailto:mail.domain.com") mail@domain.com