//- UI Elements - Buttons


include ./mixins


//- Mixin - Button's Dropdown menu
mixin _btnDropdownMenu(id, mClass)
  +dropdown-menu('',mClass)
    +dropdown-menu-item-normal('', '#', 'Action')
    +dropdown-menu-item-normal('', '#', 'Another action')
    +dropdown-menu-item-normal('divider')
    +dropdown-menu-item-normal('', '#', 'Separated link')


div.col-lg-6

  //Button Default
  +panel('panel-white', 'Button Default')
    div.demo-btn
      +buttons('btn-default', 'Default')
      +buttons('btn-primary', 'Primary')
      +buttons('btn-success', 'Success')
      +buttons('btn-info', 'info')
      +buttons('btn-warning', 'Warning')
      +buttons('btn-danger', 'Danger')
      +buttons('btn-link', 'Link')

  //Button Color
  +panel('panel-white', 'Button Color')
    div.demo-btn
      +buttons('btn-red', 'Red')
      +buttons('btn-orange', 'Orange')
      +buttons('btn-yellow', 'Yellow')
      +buttons('btn-green', 'Green')
      +buttons('btn-black', 'Black')
      +buttons('btn-blue', 'Blue')
      +buttons('btn-violet', 'Violet')
      +buttons('btn-pink', 'Pink')
      +buttons('btn-grey', 'Grey')

  //Button Rounded
  +panel('panel-white', 'Button Rounded')
    div.demo-btn
      +buttons('btn-default btn-rounded', 'Default')
      +buttons('btn-primary btn-rounded', 'Primary')
      +buttons('btn-success btn-rounded', 'Success')
      +buttons('btn-info btn-rounded', 'info')
      +buttons('btn-warning btn-rounded', 'Warning')
      +buttons('btn-danger btn-rounded', 'Danger')

  //Button Rounded Color
  +panel('panel-white', 'Button Rounded Color')
    div.demo-btn
      +buttons('btn-red btn-rounded', 'Red')
      +buttons('btn-orange btn-rounded', 'Orange')
      +buttons('btn-yellow btn-rounded', 'Yellow')
      +buttons('btn-green btn-rounded', 'Green')
      +buttons('btn-black btn-rounded', 'Black')
      +buttons('btn-blue btn-rounded', 'Blue')
      +buttons('btn-violet btn-rounded', 'Violet')
      +buttons('btn-pink btn-rounded', 'Pink')
      +buttons('btn-grey btn-rounded', 'Grey')

  //Vertical Variation
  +panel('panel-white', 'Vertical Variation')
    div.demo-btn
      div.btn-group-vertical
        +buttons('btn-default', '', 'fa fa-play')
        +buttons('btn-default', '', 'fa fa-pause')
        +buttons('btn-default', '', 'fa fa-stop')
      div.btn-group-vertical
        +buttons('btn-red', '', 'fa fa-play')
        +buttons('btn-red', '', 'fa fa-pause')
        +buttons('btn-red', '', 'fa fa-stop')
      div.btn-group-vertical
        +buttons('btn-success', '', 'fa fa-play')
        +buttons('btn-success', '', 'fa fa-pause')
        +buttons('btn-success', '', 'fa fa-stop')
      div.btn-group-vertical
        +buttons('btn-primary', '', 'fa fa-play')
        +buttons('btn-primary', '', 'fa fa-pause')
        +buttons('btn-primary', '', 'fa fa-stop')
      div.btn-group-vertical
        +buttons('btn-yellow', '', 'fa fa-play')
        +buttons('btn-yellow', '', 'fa fa-pause')
        +buttons('btn-yellow', '', 'fa fa-stop')
      div.btn-group-vertical
        +buttons('btn-pink', '', 'fa fa-play')
        +buttons('btn-pink', '', 'fa fa-pause')
        +buttons('btn-pink', '', 'fa fa-stop')

  //Justified Button Groups
  +panel('panel-white', 'Justified Button Groups')
    div.demo-btn
      div.btn-group.btn-group-justified
        +buttons('btn-default', 'Left', '', '', '', '2')(role='button')
        +buttons('btn-default', 'Middle', '', '', '', '2')(role='button')
        +buttons('btn-default', 'Right', '', '', '', '2')(role='button')
      div.btn-group.btn-group-justified
        +buttons('btn-default', 'Left', '', '', '', '2')(role='button')
        +buttons('btn-default', 'Middle', '', '', '', '2')(role='button')
        div.btn-group
          +buttons('btn-default', 'Dropdown', '', 'caret', 'true', '2')(role='button')
          +_btnDropdownMenu()
      div.btn-group.btn-group-justified
        div.btn-group: +buttons('btn-default', 'Left')
        div.btn-group: +buttons('btn-default', 'Middle')
        div.btn-group: +buttons('btn-default', 'Right')
      div.btn-group.btn-group-justified
        +buttons('btn-orange btn-rounded', 'Left', '', '', '', '2')(role='button')
        +buttons('btn-blue', 'Middle', '', '', '', '2')
        +buttons('btn-yellow btn-rounded', 'Right', '', '', '', '2')(role='button')

  //Single Button Dropdowns
  +panel('panel-white', 'Single Button Dropdowns')
    div.demo-btn
      div.btn-group
        +buttons('btn-default', 'Default', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-primary', 'Primary', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-success', 'Success', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-info', 'Info', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-warning', 'Warning', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-danger', 'Danger', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-red', 'Red', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-orange', 'Orange', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-yellow', 'Yellow', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-green', 'Green', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-black', 'Black', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-blue', 'Blue', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-violet', 'Violet', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-pink', 'Pink', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-grey', 'Grey', '', 'caret', 'true')
        +_btnDropdownMenu()

      br

      div.btn-group
        +buttons('btn-default btn-rounded', 'Default', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-primary btn-rounded', 'Primary', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-success btn-rounded', 'Success', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-info btn-rounded', 'Info', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-warning btn-rounded', 'Warning', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-danger btn-rounded', 'Danger', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-red btn-rounded', 'Red', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-orange btn-rounded', 'Orange', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-yellow btn-rounded', 'Yellow', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-green btn-rounded', 'Green', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-black btn-rounded', 'Black', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-blue btn-rounded', 'Blue', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-violet btn-rounded', 'Violet', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-pink btn-rounded', 'Pink', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-grey btn-rounded', 'Grey', '', 'caret', 'true')
        +_btnDropdownMenu()

      br

      div.btn-group
        +buttons('btn-default btn-outlined', 'Default', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-primary btn-outlined', 'Primary', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-success btn-outlined', 'Success', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-info btn-outlined', 'Info', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-warning btn-outlined', 'Warning', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-danger btn-outlined', 'Danger', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-red btn-outlined', 'Red', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-orange btn-outlined', 'Orange', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-yellow btn-outlined', 'Yellow', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-green btn-outlined', 'Green', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-black btn-outlined', 'Black', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-blue btn-outlined', 'Blue', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-violet btn-outlined', 'Violet', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-pink btn-outlined', 'Pink', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-grey btn-outlined', 'Grey', '', 'caret', 'true')
        +_btnDropdownMenu()

      br

      div.btn-group
        +buttons('btn-default btn-outlined btn-rounded', 'Default', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-primary btn-outlined btn-rounded', 'Primary', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-success btn-outlined btn-rounded', 'Success', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-info btn-outlined btn-rounded', 'Info', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-warning btn-outlined btn-rounded', 'Warning', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-danger btn-outlined btn-rounded', 'Danger', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-red btn-outlined btn-rounded', 'Red', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-orange btn-outlined btn-rounded', 'Orange', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-yellow btn-outlined btn-rounded', 'Yellow', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-green btn-outlined btn-rounded', 'Green', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-black btn-outlined btn-rounded', 'Black', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-blue btn-outlined btn-rounded', 'Blue', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-violet btn-outlined btn-rounded', 'Violet', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-pink btn-outlined btn-rounded', 'Pink', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-grey btn-outlined btn-rounded', 'Grey', '', 'caret', 'true')
        +_btnDropdownMenu()

  //Split button dropdowns
  +panel('panel-white', 'Split button dropdowns')
    div.demo-btn
      div.btn-group
        +buttons('btn-default', 'Default')
        +buttons('btn-default', '', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-primary', 'primary')
        +buttons('btn-primary', '', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-success', 'success')
        +buttons('btn-success', '', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-info', 'info')
        +buttons('btn-info', '', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-warning', 'warning')
        +buttons('btn-warning', '', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-danger', 'danger')
        +buttons('btn-danger', '', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-red', 'red')
        +buttons('btn-red', '', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-orange', 'orange')
        +buttons('btn-orange', '', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-yellow', 'yellow')
        +buttons('btn-yellow', '', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-green', 'green')
        +buttons('btn-green', '', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-black', 'black')
        +buttons('btn-black', '', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-blue', 'blue')
        +buttons('btn-blue', '', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-violet', 'violet')
        +buttons('btn-violet', '', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-pink', 'pink')
        +buttons('btn-pink', '', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-grey', 'grey')
        +buttons('btn-grey', '', '', 'caret', 'true')
        +_btnDropdownMenu()

      br

      div.btn-group
        +buttons('btn-default btn-rounded', 'Default')
        +buttons('btn-default btn-rounded', '', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-primary btn-rounded', 'primary')
        +buttons('btn-primary btn-rounded', '', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-success btn-rounded', 'success')
        +buttons('btn-success btn-rounded', '', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-info btn-rounded', 'info')
        +buttons('btn-info btn-rounded', '', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-warning btn-rounded', 'warning')
        +buttons('btn-warning btn-rounded', '', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-danger btn-rounded', 'danger')
        +buttons('btn-danger btn-rounded', '', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-red btn-rounded', 'red')
        +buttons('btn-red btn-rounded', '', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-orange btn-rounded', 'orange')
        +buttons('btn-orange btn-rounded', '', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-yellow btn-rounded', 'yellow')
        +buttons('btn-yellow btn-rounded', '', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-green btn-rounded', 'green')
        +buttons('btn-green btn-rounded', '', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-black btn-rounded', 'black')
        +buttons('btn-black btn-rounded', '', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-blue btn-rounded', 'blue')
        +buttons('btn-blue btn-rounded', '', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-violet btn-rounded', 'violet')
        +buttons('btn-violet btn-rounded', '', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-pink btn-rounded', 'pink')
        +buttons('btn-pink btn-rounded', '', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-grey btn-rounded', 'grey')
        +buttons('btn-grey btn-rounded', '', '', 'caret', 'true')
        +_btnDropdownMenu()

      br

      div.btn-group
        +buttons('btn-default btn-outlined', 'Default')
        +buttons('btn-default btn-outlined', '', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-primary btn-outlined', 'primary')
        +buttons('btn-primary btn-outlined', '', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-success btn-outlined', 'success')
        +buttons('btn-success btn-outlined', '', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-info btn-outlined', 'info')
        +buttons('btn-info btn-outlined', '', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-warning btn-outlined', 'warning')
        +buttons('btn-warning btn-outlined', '', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-danger btn-outlined', 'danger')
        +buttons('btn-danger btn-outlined', '', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-red btn-outlined', 'red')
        +buttons('btn-red btn-outlined', '', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-orange btn-outlined', 'orange')
        +buttons('btn-orange btn-outlined', '', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-yellow btn-outlined', 'yellow')
        +buttons('btn-yellow btn-outlined', '', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-green btn-outlined', 'green')
        +buttons('btn-green btn-outlined', '', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-black btn-outlined', 'black')
        +buttons('btn-black btn-outlined', '', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-blue btn-outlined', 'blue')
        +buttons('btn-blue btn-outlined', '', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-violet btn-outlined', 'violet')
        +buttons('btn-violet btn-outlined', '', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-pink btn-outlined', 'pink')
        +buttons('btn-pink btn-outlined', '', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-grey btn-outlined', 'grey')
        +buttons('btn-grey btn-outlined', '', '', 'caret', 'true')
        +_btnDropdownMenu()

      br

      div.btn-group
        +buttons('btn-default btn-outlined btn-rounded', 'Default')
        +buttons('btn-default btn-outlined btn-rounded', '', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-primary btn-outlined btn-rounded', 'primary')
        +buttons('btn-primary btn-outlined btn-rounded', '', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-success btn-outlined btn-rounded', 'success')
        +buttons('btn-success btn-outlined btn-rounded', '', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-info btn-outlined btn-rounded', 'info')
        +buttons('btn-info btn-outlined btn-rounded', '', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-warning btn-outlined btn-rounded', 'warning')
        +buttons('btn-warning btn-outlined btn-rounded', '', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-danger btn-outlined btn-rounded', 'danger')
        +buttons('btn-danger btn-outlined btn-rounded', '', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-red btn-outlined btn-rounded', 'red')
        +buttons('btn-red btn-outlined btn-rounded', '', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-orange btn-outlined btn-rounded', 'orange')
        +buttons('btn-orange btn-outlined btn-rounded', '', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-yellow btn-outlined btn-rounded', 'yellow')
        +buttons('btn-yellow btn-outlined btn-rounded', '', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-green btn-outlined btn-rounded', 'green')
        +buttons('btn-green btn-outlined btn-rounded', '', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-black btn-outlined btn-rounded', 'black')
        +buttons('btn-black btn-outlined btn-rounded', '', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-blue btn-outlined btn-rounded', 'blue')
        +buttons('btn-blue btn-outlined btn-rounded', '', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-violet btn-outlined btn-rounded', 'violet')
        +buttons('btn-violet btn-outlined btn-rounded', '', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-pink btn-outlined btn-rounded', 'pink')
        +buttons('btn-pink btn-outlined btn-rounded', '', '', 'caret', 'true')
        +_btnDropdownMenu()
      div.btn-group
        +buttons('btn-grey btn-outlined btn-rounded', 'grey')
        +buttons('btn-grey btn-outlined btn-rounded', '', '', 'caret', 'true')
        +_btnDropdownMenu()

div.col-lg-6

  //Button Outlined
  +panel('panel-white', 'Button Outlined')
    div.demo-btn
      +buttons('btn-default btn-outlined', 'Default')
      +buttons('btn-primary btn-outlined', 'Primary')
      +buttons('btn-success btn-outlined', 'Success')
      +buttons('btn-info btn-outlined', 'info')
      +buttons('btn-warning btn-outlined', 'Warning')
      +buttons('btn-danger btn-outlined', 'Danger')

  //Button Outlined Color
  +panel('panel-white', 'Button Outlined Color')
    div.demo-btn
      +buttons('btn-red btn-outlined', 'Red')
      +buttons('btn-orange btn-outlined', 'Orange')
      +buttons('btn-yellow btn-outlined', 'Yellow')
      +buttons('btn-green btn-outlined', 'Green')
      +buttons('btn-black btn-outlined', 'Black')
      +buttons('btn-blue btn-outlined', 'Blue')
      +buttons('btn-violet btn-outlined', 'Violet')
      +buttons('btn-pink btn-outlined', 'Pink')
      +buttons('btn-grey btn-outlined', 'Grey')

  //Button Outlined Rounded
  +panel('panel-white', 'Button Outlined Rounded')
    div.demo-btn
      +buttons('btn-default btn-outlined btn-rounded', 'Default')
      +buttons('btn-primary btn-outlined btn-rounded', 'Primary')
      +buttons('btn-success btn-outlined btn-rounded', 'Success')
      +buttons('btn-info btn-outlined btn-rounded', 'info')
      +buttons('btn-warning btn-outlined btn-rounded', 'Warning')
      +buttons('btn-danger btn-outlined btn-rounded', 'Danger')

  //Button Outlined Rounded Color
  +panel('panel-white', 'Button Outlined Rounded Color')
    div.demo-btn
      +buttons('btn-red btn-outlined btn-rounded', 'Red')
      +buttons('btn-orange btn-outlined btn-rounded', 'Orange')
      +buttons('btn-yellow btn-outlined btn-rounded', 'Yellow')
      +buttons('btn-green btn-outlined btn-rounded', 'Green')
      +buttons('btn-black btn-outlined btn-rounded', 'Black')
      +buttons('btn-blue btn-outlined btn-rounded', 'Blue')
      +buttons('btn-violet btn-outlined btn-rounded', 'Violet')
      +buttons('btn-pink btn-outlined btn-rounded', 'Pink')
      +buttons('btn-grey btn-outlined btn-rounded', 'Grey')

  //Button Sizes
  +panel('panel-white', 'Button Sizes')
    div.demo-btn
      +buttons('btn-default btn-lg', 'Large button')
      +buttons('btn-primary', 'Default button')
      +buttons('btn-success btn-sm', 'Small button')
      +buttons('btn-warning btn-xs', 'Extra small button')

      +buttons('btn-info btn-lg btn-block', 'Block level button')
      +buttons('btn-danger btn-block', 'Block level button')
      +buttons('btn-orange btn-sm btn-block', 'Block level button')
      +buttons('btn-yellow btn-xs btn-block', 'Block level button')

  //Button Group
  +panel('panel-white', 'Button Group')
    div.demo-btn

      div.btn-toolbar(role="toolbar")
        div.btn-group.btn-group-lg
          +buttons('btn-default', '1')
          +buttons('btn-default', '2')
        div.btn-group
          +buttons('btn-default', '3')
          +buttons('btn-default', '4')
        div.btn-group.btn-group-sm
          +buttons('btn-default', '5')
          +buttons('btn-default', '6')
        div.btn-group.btn-group-xs
          +buttons('btn-default', '7')
          +buttons('btn-default', '8')

      div.btn-toolbar(role="toolbar")
        div.btn-group.btn-group-lg
          +buttons('btn-default', 'Left')
          +buttons('btn-default', 'Middle')
          +buttons('btn-default', 'Right')

      div.btn-toolbar(role="toolbar")
        div.btn-group
          +buttons('btn-default', 'Left')
          +buttons('btn-default', 'Middle')
          +buttons('btn-default', 'Right')

      div.btn-toolbar(role="toolbar")
        div.btn-group.btn-group-sm
          +buttons('btn-default', 'Left')
          +buttons('btn-default', 'Middle')
          +buttons('btn-default', 'Right')

      div.btn-toolbar(role="toolbar")
        div.btn-group.btn-group-xs
          +buttons('btn-default', 'Left')
          +buttons('btn-default', 'Middle')
          +buttons('btn-default', 'Right')

      div.btn-toolbar(role="toolbar")
        div.btn-group
          +buttons('btn-default', '1')
          +buttons('btn-default', '2')
            div.btn-group
              +buttons('btn-default', 'Dropdown', '', 'caret', 'true')
              +_btnDropdownMenu()

      div.btn-toolbar(role="toolbar")
        div.btn-group.btn-group-vertical
          +buttons('btn-default', 'Button')
          +buttons('btn-default', 'Button')
          div.btn-group
            +buttons('btn-default', 'Dropdown', '', 'caret', 'true')
            +_btnDropdownMenu()
          +buttons('btn-default', 'Button')
          +buttons('btn-default', 'Button')
          div.btn-group
            +buttons('btn-default', 'Dropdown', '', 'caret', 'true')
            +_btnDropdownMenu()
          div.btn-group
            +buttons('btn-default', 'Dropdown', '', 'caret', 'true')
            +_btnDropdownMenu()
          div.btn-group
            +buttons('btn-default', 'Dropdown', '', 'caret', 'true')
            +_btnDropdownMenu()

  //Button Status
  +panel('panel-white', 'Button Status')
    div.demo-btn
      +buttons('btn-primary active', 'Active Button')
      +buttons('btn-success active', 'Active Link', '', '', '', '2')(role='button')
      +buttons('btn-warning', 'Disabled Button')(disabled='disabled')
      +buttons('btn-danger disabled', 'Disabled Link', '', '', '', '2')(role='button')

  //Dropup variation
  +panel('panel-white', 'Dropup variation')
    div.demo-btn
      div.btn-toolbar(role="toolbar")
        div.btn-group.dropup
          +buttons('btn-default', 'Dropup')
          +buttons('btn-default', '', '', 'caret', 'true')
          +_btnDropdownMenu('')
        div.btn-group.dropup
          +buttons('btn-primary', 'Right dropup')
          +buttons('btn-primary', '', '', 'caret', 'true')
          +_btnDropdownMenu('', 'dropdown-menu-right')

  //Icon Buttons
  +panel('panel-white', 'Icon Buttons')
    div.demo-btn
      +buttons('btn-default', 'Default ', '', 'fa fa-edit')
      +buttons('btn-primary', 'Disabled Primary ', '', 'fa fa-keyboard-o')(disabled='disabled')
      +buttons('btn-success', 'Success Link ', '', 'fa fa-rocket', '', '2')(role='button' href='#')
      +buttons('btn-info', 'Info', 'fa fa-user', '')
      +buttons('btn-warning', 'Disabled Warning', 'fa fa-star-o', '')(disabled='disabled')
      +buttons('btn-danger', 'Danger Link', 'fa fa-search', '', '', '2')(role='button' href='#')
      +buttons('btn-red', '', 'fa fa-user', '')
      +buttons('btn-blue', '', 'fa fa-star-o', '')(disabled='disabled')
      +buttons('btn-orange', '', 'fa fa-search', '', '', '2')(role='button' href='#')
      +buttons('btn-green', '', 'fa fa-font', '')
      div.btn-group(data-toggle="buttons")
        label.btn.btn-default
          input(type="checkbox")
          |Checkbox button
      div.btn-group(data-toggle="buttons")
        label.btn.btn-default.active
          input(type="radio" name="demo-btn-radio" checked)
          |Radio button
        label.btn.btn-default
          input(type="radio" name="demo-btn-radio")
          |Radio button

