//- Charts - Chart.js

include ../common/variables
include ./mixins


div.col-lg-12

  //Line Chart
  div.panel.panel-success
    div.panel-heading Line Chart
    div.panel-body
      div.p10
        canvas#chartjs1

  //Bar Chart
  div.panel.panel-info
    div.panel-heading Bar Chart
    div.panel-body
      div.p10
        canvas#chartjs2

  //Radar Chart
  div.panel.panel-warning
    div.panel-heading Radar Chart
    div.panel-body
      div.p10
        canvas#chartjs3

  //Polar Area Chart
  div.panel.panel-danger
    div.panel-heading Polar Area Chart
    div.panel-body
      div.p10
        canvas#chartjs4

  //Pie Chart
  div.panel.panel-orange
    div.panel-heading Pie Chart
    div.panel-body
      div.p10
        canvas#chartjs5

  //Doughnut Chart
  div.panel.panel-violet
    div.panel-heading Doughnut Chart
    div.panel-body
      div.p10
        canvas#chartjs6