//- Charts - Easy Pie Chart

//- include ../common/variables
//- include ./mixins


div.col-lg-12

  div.panel.panel-white
    div.panel-body

      div.row
        div.col-md-4.text-center
          div#easypie1.easypie(data-percent="73" style="width:100px;height:100px;line-height:100px;") 73%
        div.col-md-4.text-center
          div#easypie2.easypie(data-percent="57" style="width:100px;height:100px;line-height:100px;") 57%
        div.col-md-4.text-center
          div#easypie3.easypie(data-percent="80" style="width:100px;height:100px;line-height:100px;") 80%