//- Charts - Flot Charts

//- include ../common/variables
//- include ./mixins


div.col-lg-12

  //Basic Usage
  div.panel.panel-orange
    div.panel-heading Basic Usage
    div#basic.panel-body
      include ./module/charts-flot-basic

  //Interactivity
  div.panel.panel-green
    div.panel-heading Interactivity
    div#interactivity.panel-body
      include ./module/charts-flot-interactivity

  //Additional Features
  div.panel.panel-violet
    div.panel-heading Additional Features
    div#additional.panel-body
      include ./module/charts-flot-additional