//- UI Elements - Dropdown Select


include ../common/variables
include ./mixins


div.col-lg-12

  //Bootstrap Select
  include ./module/dropdown-select-bootstrap-select

  //Select2

  //Multi Select