//- UI Advanced - Editor


//- include ../common/variables
//- include ./mixins


div.col-lg-12

  //Ckeditor
  include ./module/editor-ckeditor

  //Bootstrap WYSIWYG5 Editors
  include ./module/editor-wysihtml5

  //Summernote
  include ./module/editor-summernote

  //Bootstrap Markdown
  include ./module/editor-bootstarp-markdown

  //Medium Editor
  include ./module/editor-medium