//- Pages - Forgot password

include ../common/variables
include ./mixins


//Forgot password page

div.cover(style="background-image:url(#{base_img}sign-bg.jpg)")
div.cover-overlay

div.center-box
  div.center-box-inner
    div.col-xs-12.col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4

      //Forgot password Box
      div.panel.panel-white.no-b.forgot-password-box
        div.panel-body

          header.text-center
            div.forgot-password-logo
              img(src="#{base_img}logo-alpha.png" alt="AlphaAdmin")
            div.forgot-password-title Reset Password
            div.forgot-password-sub-title.text-center
              |Please enter your email address.
              br
              |You will receive a link to create a new password.

          div.forgot-password-form
            form(action="#{page_pages_signin.url}" role="form")
              input.form-control.input-lg(type="email" placeholder="Email Address"  autocomplete="off")
              div.forgot-password-btn
                +buttons("btn-success btn-lg btn-block","SEND PASSWORD RESET")(type="submit")