//- Forms - Form Basics


include ../common/variables
include ./mixins


div.col-lg-12

  div.row
    div.col-lg-6

      //Login Form
      div.panel.panel-red
        div.panel-heading Login Form
        div.panel-body
          include ./module/form-basics-login

      //Contacts Form
      div.panel.panel-orange
        div.panel-heading Contacts Form
        div.panel-body
          include ./module/form-basics-contacts

    div.col-lg-6

      //Checkout form
      div.panel.panel-warning
        div.panel-heading Checkout Form
        div.panel-body
          include ./module/form-basics-checkout

  div.row
    div.col-lg-6

      //Registration form
      div.panel.panel-green
        div.panel-heading Registration Form
        div.panel-body
          include ./module/form-basics-registration

    div.col-lg-6

      //Order services
      div.panel.panel-black
        div.panel-heading Order services
        div.panel-body
          include ./module/form-basics-order-service

  div.row
    div.col-lg-6

      //Comment Form
      div.panel.panel-violet
        div.panel-heading Comment Form
        div.panel-body
          include ./module/form-basics-comment

    div.col-lg-6

      //Review form
      div.panel.panel-pink
        div.panel-heading Review Form
        div.panel-body
          include ./module/form-basics-review