//- Forms - Form Wizards


//- include ../common/variables
//- include ./mixins


div.col-lg-12

  //Basic Form
  include ./module/form-wizard-basic-form

  //Basic
  include ./module/form-wizard-basic