//- Forms - Form Pickers


include ../common/variables
include ./mixins


div.col-lg-12

  div.row

    div.col-lg-6

      //Date Range Pickers
      div.panel.panel-info
        div.panel-heading Date Range Pickers
        div.panel-body
          include ./module/form-pickers-daterange-pickers

    div.col-lg-6

      //Bootstrap Datepicker
      div.panel.panel-success
        div.panel-heading Bootstrap Datepicker
        div.panel-body
          include ./module/form-pickers-bootstrap-datepicker