//- Forms - Customized Elements


//- include ../common/variables
//- include ./mixins


div.col-lg-12

  div.row

    //Mask input
    div.col-md-6
      include ./module/forms-customelem-mask-input

    //Character Count
    div.col-md-6
      include ./module/forms-customelem-character-count

  div.row

    //Bootstrap Switch
    div.col-md-12
      include ./module/forms-customelem-bootstarp-switch

  div.row

    //Knob Dial
    div.col-md-12
      include ./module/forms-customelem-knob

  div.row

    //x-editable
    div.col-md-12
      include ./module/forms-customelem-x-editable

  div.row

    //Image cropper
    div.col-md-12
      include ./module/forms-customelem-cropper