//- Forms - Dropzone File Upload


include ../common/variables
include ./mixins


div.col-lg-12

  div.alert.alert-danger
    p
      strong.mright5 NOTE:
      |This plugins works only on Latest Chrome, Firefox, Safari, Opera & Internet Explorer 10.

  div#dropzone
    form#demo-upload.dropzone(action="http://www.torrentplease.com/dropzone.php")