//- UI Elements - General




div.col-lg-12

  //Nav Tabs
  ul.nav.nav-tabs.responsive.nav-tabs-orange(role="tablist")
    li.active: a(href="#alerts" role="tab" data-toggle="tab") Alerts
    li: a(href="#labelsbadges" role="tab" data-toggle="tab") Labels & Badges
    li: a(href="#paginations" role="tab" data-toggle="tab") Paginations
    li: a(href="#inputgroups" role="tab" data-toggle="tab") Input Groups
    li: a(href="#listgroups" role="tab" data-toggle="tab") List Groups
    li: a(href="#navbar" role="tab" data-toggle="tab") Navbar
    li: a(href="#thumbnails" role="tab" data-toggle="tab") Thumbnails
    li: a(href="#others" role="tab" data-toggle="tab") Others

  //Tab Panels
  div.tab-content.responsive

    //Alerts
    div#alerts.tab-pane.fade.in.active
      include ./module/general-alerts

    //Labels & Badges
    div#labelsbadges.tab-pane.fade
      include ./module/general-labels-badges

    //Paginations
    div#paginations.tab-pane.fade
      include ./module/general-paginations

    //Input Groups
    div#inputgroups.tab-pane.fade
      include ./module/general-input-groups

    //List Groups
    div#listgroups.tab-pane.fade
      include ./module/general-list-groups

    //Navbar
    div#navbar.tab-pane.fade
      include ./module/general-navbar

    //Thumbnails
    div#thumbnails.tab-pane.fade
      include ./module/general-thumbnails

    //Others
    div#others.tab-pane.fade
      include ./module/general-others