//- Pages - Lock Screen

include ../common/variables
include ./mixins


//Lock Screen page

div.cover(style="background-image:url(#{base_img}sign-bg.jpg)")
div.cover-overlay

div.center-box
  div.center-box-inner
    div.col-xs-12.col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4

      //Lock Screen Box
      div.panel.panel-white.no-b.lock-screen-box
        div.panel-body

          header.text-center
            div.lock-screen-logo
              img(src="#{userhead[13]}" alt="Ryan Hsu")
            div.lock-screen-title Ryan Hsu
            div.lock-screen-sub-title.text-center
              |user@domain.com

          div.lock-screen-form
            form(action="#{page_dashboard.url}" role="form")
              input.form-control.input-lg(type="password" placeholder="Password" autocomplete="off")
              div.lock-screen-btn
                +buttons("btn-success btn-lg btn-block","SIGN IN")(type="submit")