//- Pages - Pricing Tables

include ../common/variables
include ./mixins


div.col-lg-12

  //Style 1
  div#pricing-tables-demo1.mbottom30
    h2.mbottom30 Style 1
    include ./module/pages-pricing-tables-style-1

  //Style 2
  div#pricing-tables-demo2.mbottom30
    h2.mbottom30 Style 2
    include ./module/pages-pricing-tables-style-2

  //Compare Table
  div#pricing-tables-demo3.mbottom30
    h2.mbottom30 Compare Table
    include ./module/pages-pricing-tables-compare