//- Pages - Blog Page


//- include ../common/variables
//- include ./mixins


div.col-lg-12

  div.row

    //Blog Post List
    div.col-md-8
      include ./module/pages-blog-page-post

    //Blog Sidebar
    div.col-md-4
      include ./module/pages-blog-page-sidebar