//- Sidebar
include ../common/variables


//Sidebar
nav(id="sidebar" class="sidebar" role="navigation")

  //-div(class="sidebar-collapse collapse")

  //- Profile
  include ./module/sidebar-profile

  //- Menu
  include ./module/sidebar-menu

  //- Label
  include ./module/sidebar-label