//- UI Elements - Sliders


include ../common/variables
include ./mixins


div.col-lg-12

  //Nav Tabs
  ul.nav.nav-tabs.responsive.nav-tabs-orange(role="tablist")
    li.active
      a(href="#jqueryuisliders" role="tab" data-toggle="tab") jQuery UI Sliders
    li
      a(href="#nouisliders" role="tab" data-toggle="tab") NoUI Sliders
    li
      a(href="#ionrangesliders" role="tab" data-toggle="tab") Ion Range Sliders

  //Tab Panes
  div.tab-content.responsive

    //jQuery UI Sliders
    div#jqueryuisliders.tab-pane.fade.in.active
      include ./module/sliders-jqueryuisliders

    //NoUI Sliders
    div#nouisliders.tab-pane.fade
      include ./module/sliders-nouisliders

    //Ion Range Sliders
    div#ionrangesliders.tab-pane.fade
      include ./module/sliders-ionrangesliders