//- Tables - Advanced Tables


include ../common/variables
include ./mixins


div.col-lg-12

  //Sorter
  div.panel.panel-violet
    div.panel-heading Sorter
    div.panel-body
      include ./module/tables-advanced-sorter

  //Fixed Header
  div.panel.panel-green
    div.panel-heading Fixed Header
    div.panel-body
      include ./module/tables-advanced-fixed-header