//- UI Advanced - Tree View


include ../common/variables
include ./mixins


div.col-lg-12

  //JsTree
  include ./module/treeview-jstree

  //TreeTable
  include ./module/treeview-treetable

  //Bootstrap Tree
  include ./module/treeview-bootstrap-tree