//- UI Elements - Widgets


include ../common/variables
include ./mixins


div.col-md-4

  //- Profile Card #1
  include ./module/widget-profile-card-1

  //- Profile Card #2
  include ./module/widget-profile-card-2

  //- Profile Card #3
  include ./module/widget-profile-card-3

  //- Profile Card #4
  include ./module/widget-profile-card-4

  //- Profile Card #5
  include ./module/widget-profile-card-5

div.col-md-4

  //- Weather Card
  include ./module/widget-weather-card

  //- Message Card
  include ./module/widget-message-card

div.col-md-4

  //- Chat
  include ./module/widget-chat